In [2]:
import pandas as pd
from datetime import datetime, timedelta
import time
import numpy as np
import yfinance as yf

In [3]:
empresas = pd.read_csv('empresas.csv')
infos = pd.read_csv('infos_empresas.csv')
cotacoes = pd.read_csv('cotacoes.csv')
dividendos = pd.read_csv('dividendos.csv')

empresas = empresas.drop(empresas.columns[0], axis=1)
infos = infos.drop(infos.columns[0], axis=1)
cotacoes = cotacoes.drop(cotacoes.columns[0], axis=1)
dividendos = dividendos.drop(dividendos.columns[0], axis=1)

In [4]:
infos['value'] = infos.groupby(['cvm_code', 'data'])['value'].fillna(method='bfill')

C:\Users\eduar\AppData\Local\Temp\ipykernel_7492\3737537357.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  infos['value'] = infos.groupby(['cvm_code', 'data'])['value'].fillna(method='bfill')

In [5]:
infos['value'] = infos.groupby(['cvm_code', 'data'])['value'].fillna(method='ffill')

C:\Users\eduar\AppData\Local\Temp\ipykernel_7492\1645137256.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  infos['value'] = infos.groupby(['cvm_code', 'data'])['value'].fillna(method='ffill')

In [6]:
anos = np.arange(2015,2023)
anos

array([2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022])

In [7]:
empresas

,empresa,setor,codigo_cvm,estatal,acoes_on,acoes_pn,acoes_total,equivalencia_unit
0,CMIG4,energia,2453,True,735847624,1465523064,2201370688,1
1,CMIG3,energia,2453,True,735847624,1465523064,2201370688,1
2,TAEE11,energia,20257,False,590714069,442782652,1033496721,3
3,TAEE3,energia,20257,False,590714069,442782652,1033496721,1
4,TAEE4,energia,20257,False,590714069,442782652,1033496721,1
5,CPLE6,energia,14311,True,1300347300,1682463291,2982810591,1
6,CPLE3,energia,14311,True,1300347300,1682463291,2982810591,1
7,CSMG3,saneamento,19445,True,380253069,0,380253069,1
8,SAPR11,saneamento,18627,True,503735259,1007470260,1511205519,5
9,SAPR3,saneamento,18627,True,503735259,1007470260,1511205519,1
10,SAPR4,saneamento,18627,True,503735259,1007470260,1511205519,1
11,SBSP3,saneamento,14443,True,683509869,0,683509869,1
12,BRSR3,banco,1210,True,205064841,203909636,408974477,1
13,BRSR5,banco,1210,True,205064841,203909636,408974477,1
14,BRSR6,banco,1210,True,205064841,203909636,408974477,1
15,ITSA3,banco,7617,False,3549302243,6778847188,10328149431,1
16,ITSA4,banco,7617,False,3549302243,6778847188,10328149431,1
17,SANB11,banco,20532,False,3818695031,3679836020,7498531051,2
18,SANB3,banco,20532,False,3818695031,3679836020,7498531051,1
19,SANB4,banco,20532,False,3818695031,3679836020,7498531051,1
20,BBAS3,banco,1023,True,2865417020,0,2865417020,1
21,BBDC4,banco,906,False,5330304681,5311865547,10642170228,1
22,BBDC3,banco,906,False,5330304681,5311865547,10642170228,1
23,ITUB3,banco,19348,False,4958290359,4845844989,9804135348,1
24,ITUB4,banco,19348,False,4958290359,4845844989,9804135348,1
25,BBSE3,seguro,23159,True,2000000000,0,2000000000,1
26,PSSA3,seguro,16659,False,646586060,0,646586060,1
27,WIZC3,seguro,23590,False,159907282,0,159907282,1
28,UGPA3,combustivel,18465,False,1115404268,0,1115404268,1
29,ENAT3,combustivel,22365,False,265806905,0,265806905,1
30,VIVT3,telecom,17671,False,1652588360,0,1652588360,1
31,TIMS3,telecom,24929,False,2420804398,0,2420804398,1

In [8]:
df_list = []
for i in range(len(empresas)):
    ticker = empresas.iloc[i]['empresa']
    cod_cvm = empresas.iloc[i]['codigo_cvm']
    n_de_acoes = empresas.iloc[i]['acoes_total']
    setor = empresas.iloc[i]['setor']
    estatal = empresas.iloc[i]['estatal']
    equivalencia_unit = empresas.iloc[i]['equivalencia_unit']
    
    for ano in anos:
        dados_empresa = infos[infos['cvm_code']==cod_cvm]
        dados_empresa_ano = dados_empresa[dados_empresa['year']==ano]

        try:
            lucro_liquido = dados_empresa_ano[dados_empresa_ano['data']=='net_income']['value'].values[0]
        except:
            lucro_liquido = 1
        try:
            patrimonio_liquido = dados_empresa_ano[dados_empresa_ano['data']=='equity']['value'].values[0]
        except:
            patrimonio_liquido = 1
        try:
            divida_liquida = dados_empresa_ano[dados_empresa_ano['data']=='net_debt']['value'].values[0]
        except:
            divida_liquida = 1

        roe = lucro_liquido/patrimonio_liquido
        debt_over_income = divida_liquida/lucro_liquido
        vpa = (patrimonio_liquido/n_de_acoes) * equivalencia_unit
        lpa = (lucro_liquido/n_de_acoes) * equivalencia_unit

        dicionario = {
            'ticker' : ticker,
            'cvm_code' : cod_cvm,
            'setor' : setor,
            'estatal' : estatal,
            'year' : ano,
            'roe' : roe,
            'debt_ratio' : debt_over_income,
            'vpa' : vpa,
            'lpa' : lpa
        }

        df = pd.DataFrame(dicionario, index=[0])
        df_list.append(df)

C:\Users\eduar\AppData\Local\Temp\ipykernel_7492\2011381830.py:27: RuntimeWarning: divide by zero encountered in scalar divide
  roe = lucro_liquido/patrimonio_liquido
C:\Users\eduar\AppData\Local\Temp\ipykernel_7492\2011381830.py:27: RuntimeWarning: invalid value encountered in scalar divide
  roe = lucro_liquido/patrimonio_liquido
C:\Users\eduar\AppData\Local\Temp\ipykernel_7492\2011381830.py:28: RuntimeWarning: divide by zero encountered in scalar divide
  debt_over_income = divida_liquida/lucro_liquido

In [9]:
indicadores = pd.concat(df_list)
indicadores

,ticker,cvm_code,setor,estatal,year,roe,debt_ratio,vpa,lpa
0,CMIG4,2453,energia,True,2015,0.190104,4.785397,5.899813,1.121575
0,CMIG4,2453,energia,True,2016,0.025881,39.342204,5.875599,0.152066
0,CMIG4,2453,energia,True,2017,0.069894,12.289442,6.509642,0.454987
0,CMIG4,2453,energia,True,2018,0.109271,7.565812,7.240637,0.791195
0,CMIG4,2453,energia,True,2019,0.198376,4.226188,7.314763,1.451075
...,...,...,...,...,...,...,...,...,...
0,TIMS3,24929,telecom,False,2018,0.079137,-1.500065,8.005929,0.633563
0,TIMS3,24929,telecom,False,2019,NaN,-inf,0.000000,0.000000
0,TIMS3,24929,telecom,False,2020,0.079529,-1.247876,9.576464,0.761602
0,TIMS3,24929,telecom,False,2021,NaN,inf,0.000000,0.000000
0,TIMS3,24929,telecom,False,2022,0.065785,0.137948,10.491292,0.690165

In [18]:
indicadores.head(30)

,ticker,cvm_code,setor,estatal,year,roe,debt_ratio,vpa,lpa,dividendo
0,CMIG4,2453,energia,True,2015,0.190104,4.785397,5.899813,1.121575,1.219627
0,CMIG4,2453,energia,True,2016,0.025881,39.342204,5.875599,0.152066,1.293778
0,CMIG4,2453,energia,True,2017,0.069894,12.289442,6.509642,0.454987,0.487119
0,CMIG4,2453,energia,True,2018,0.109271,7.565812,7.240637,0.791195,1.288606
0,CMIG4,2453,energia,True,2019,0.198376,4.226188,7.314763,1.451075,1.450221
0,CMIG4,2453,energia,True,2020,0.163933,3.483235,7.939303,1.301517,1.228649
0,CMIG4,2453,energia,True,2021,0.192833,2.348781,8.840749,1.704787,2.352093
0,CMIG4,2453,energia,True,2022,0.187959,1.805967,9.895319,1.859917,3.064526
0,CMIG3,2453,energia,True,2015,0.190104,4.785397,5.899813,1.121575,1.219627
0,CMIG3,2453,energia,True,2016,0.025881,39.342204,5.875599,0.152066,1.293778
0,CMIG3,2453,energia,True,2017,0.069894,12.289442,6.509642,0.454987,0.487119
0,CMIG3,2453,energia,True,2018,0.109271,7.565812,7.240637,0.791195,0.349174
0,CMIG3,2453,energia,True,2019,0.198376,4.226188,7.314763,1.451075,1.450221
0,CMIG3,2453,energia,True,2020,0.163933,3.483235,7.939303,1.301517,1.228649
0,CMIG3,2453,energia,True,2021,0.192833,2.348781,8.840749,1.704787,2.352093
0,CMIG3,2453,energia,True,2022,0.187959,1.805967,9.895319,1.859917,3.064526
0,TAEE11,20257,energia,False,2015,0.207770,3.892692,12.705599,2.639843,5.656716
0,TAEE11,20257,energia,False,2016,0.200127,3.699197,12.503924,2.502377,8.112148
0,TAEE11,20257,energia,False,2017,0.149115,4.548123,12.619930,1.881820,5.297439
0,TAEE11,20257,energia,False,2018,0.234316,3.060833,13.271601,3.109749,8.361754
0,TAEE11,20257,energia,False,2019,0.221650,4.755954,14.485901,3.210800,5.672105
0,TAEE11,20257,energia,False,2020,0.375533,2.367180,17.491794,6.568749,9.633059
0,TAEE11,20257,energia,False,2021,0.331159,2.900132,19.404288,6.425896,13.511108
0,TAEE11,20257,energia,False,2022,0.220565,4.880583,19.072560,4.206733,14.563795
0,TAEE3,20257,energia,False,2015,0.207770,3.892692,4.235200,0.879948,2.197367
0,TAEE3,20257,energia,False,2016,0.200127,3.699197,4.167975,0.834126,2.704049
0,TAEE3,20257,energia,False,2017,0.149115,4.548123,4.206643,0.627273,1.765813
0,TAEE3,20257,energia,False,2018,0.234316,3.060833,4.423867,1.036583,2.787251
0,TAEE3,20257,energia,False,2019,0.221650,4.755954,4.828634,1.070267,1.890702
0,TAEE3,20257,energia,False,2020,0.375533,2.367180,5.830598,2.189583,3.211020

In [10]:
dividendos_list = []
for i in range(len(indicadores)):
    ticker = indicadores.iloc[i]['ticker']
    ano = indicadores.iloc[i]['year']

    dividendos_ticker_ano = dividendos[dividendos['ticker']==ticker][dividendos[dividendos['ticker']==ticker]['year']==ano]
    dividendo_ano_valor = dividendos_ticker_ano['value'].sum()

    dividendos_list.append(dividendo_ano_valor)

In [11]:
indicadores['dividendo'] = dividendos_list

In [12]:
indicadores

,ticker,cvm_code,setor,estatal,year,roe,debt_ratio,vpa,lpa,dividendo
0,CMIG4,2453,energia,True,2015,0.190104,4.785397,5.899813,1.121575,1.219627
0,CMIG4,2453,energia,True,2016,0.025881,39.342204,5.875599,0.152066,1.293778
0,CMIG4,2453,energia,True,2017,0.069894,12.289442,6.509642,0.454987,0.487119
0,CMIG4,2453,energia,True,2018,0.109271,7.565812,7.240637,0.791195,1.288606
0,CMIG4,2453,energia,True,2019,0.198376,4.226188,7.314763,1.451075,1.450221
...,...,...,...,...,...,...,...,...,...,...
0,TIMS3,24929,telecom,False,2018,0.079137,-1.500065,8.005929,0.633563,0.236894
0,TIMS3,24929,telecom,False,2019,NaN,-inf,0.000000,0.000000,0.465888
0,TIMS3,24929,telecom,False,2020,0.079529,-1.247876,9.576464,0.761602,0.549765
0,TIMS3,24929,telecom,False,2021,NaN,inf,0.000000,0.000000,0.432831
0,TIMS3,24929,telecom,False,2022,0.065785,0.137948,10.491292,0.690165,0.578449

In [13]:
equivalencia_empresas_ticker_list = []
equivalencia_empresas_valor_list = []
for cvm_code in empresas['codigo_cvm'].unique():
    ticker_list = empresas[empresas['codigo_cvm']==cvm_code]['empresa'].values
    ticker_principal = ticker_list[0]
    
    if len(ticker_list)==1:
        equivalencia_empresas_ticker_list.append(ticker_principal)
        equivalencia_empresas_valor_list.append(1)
    else:
        for ticker in ticker_list:
            dividendos_ticker = indicadores[indicadores['ticker']==ticker]['dividendo'].mean()
            dividendos_ticker_principal = indicadores[indicadores['ticker']==ticker_principal]['dividendo'].mean()
            multiplicador = dividendos_ticker/dividendos_ticker_principal

            equivalencia_empresas_ticker_list.append(ticker_principal)
            equivalencia_empresas_valor_list.append(multiplicador)

In [14]:
empresas['equivalencia_ticker'] = equivalencia_empresas_ticker_list
empresas['equivalencia_valor'] = equivalencia_empresas_valor_list

In [15]:
empresas

,empresa,setor,codigo_cvm,estatal,acoes_on,acoes_pn,acoes_total,equivalencia_unit,equivalencia_ticker,equivalencia_valor
0,CMIG4,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,1.000000
1,CMIG3,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,0.924145
2,TAEE11,energia,20257,False,590714069,442782652,1033496721,3,TAEE11,1.000000
3,TAEE3,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737
4,TAEE4,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737
5,CPLE6,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,1.000000
6,CPLE3,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,0.908667
7,CSMG3,saneamento,19445,True,380253069,0,380253069,1,CSMG3,1.000000
8,SAPR11,saneamento,18627,True,503735259,1007470260,1511205519,5,SAPR11,1.000000
9,SAPR3,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.290275
10,SAPR4,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.319302
11,SBSP3,saneamento,14443,True,683509869,0,683509869,1,SBSP3,1.000000
12,BRSR3,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.000000
13,BRSR5,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.052999
14,BRSR6,banco,1210,True,205064841,203909636,408974477,1,BRSR3,0.996294
15,ITSA3,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000
16,ITSA4,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000
17,SANB11,banco,20532,False,3818695031,3679836020,7498531051,2,SANB11,1.000000
18,SANB3,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.595617
19,SANB4,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.655168
20,BBAS3,banco,1023,True,2865417020,0,2865417020,1,BBAS3,1.000000
21,BBDC4,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,1.000000
22,BBDC3,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,0.909082
23,ITUB3,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000
24,ITUB4,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000
25,BBSE3,seguro,23159,True,2000000000,0,2000000000,1,BBSE3,1.000000
26,PSSA3,seguro,16659,False,646586060,0,646586060,1,PSSA3,1.000000
27,WIZC3,seguro,23590,False,159907282,0,159907282,1,WIZC3,1.000000
28,UGPA3,combustivel,18465,False,1115404268,0,1115404268,1,UGPA3,1.000000
29,ENAT3,combustivel,22365,False,265806905,0,265806905,1,ENAT3,1.000000
30,VIVT3,telecom,17671,False,1652588360,0,1652588360,1,VIVT3,1.000000
31,TIMS3,telecom,24929,False,2420804398,0,2420804398,1,TIMS3,1.000000

In [16]:
empresas.to_csv('empresas_v2.csv')
indicadores.to_csv('indicadores.csv')