In [1]:
import pandas as pd
from datetime import datetime, timedelta
import time
import requests

In [2]:
URL_BASE = 'https://api.fintz.com.br'
api_key = 'varos_4a8d8a338da7bea2fb78540c73b0bfa7'
headers = { 'X-API-Key': api_key}

DOWNLOAD DE PREÇOS

In [55]:
params = {}

endpoint = URL_BASE + '/bolsa/b3/avista/cotacoes/historico/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/unificado/historico_acoes.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUFHYH45LF%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T093111Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJIMEYCIQDq58Lu2UCcrBHmk%2FHFJ02S%2FX8ZRmaiSQCxp1N1SnoGOwIhAIycFz0ziLyyhv4kBLDVeB1ikR2LhTt9yCsdwmoZoDMgKu4CCCsQARoMNDAwMTQ5MjE0Njk2IgwoyBqgHcfXdjWGNP8qywK6wkLhHSWkBszVcurAPz4ODXW6iotP%2Bail%2FRz%2BWTdB1dg9q5C%2F3Wm7As7oOYQzqqloO1nKA4CSukBUAZ9j%2BFpPs2SlP%2Ffg0qW7WB2pQks4gmnTO1TbG1rinO3E37K13%2Bmm5Y1azYbHOarZ8K65qviP9jK2JOOOvapGORyC%2BQcq2Hebz%2BGwPMz6THMRtW7fcQTWcB04ZYBTqRKyiAZBXhGm%2F1yb%2B3LAgYLxmfSPOgYGbzLchAu2NZe7bP8AjePHfeT4iur5qwe5bKZvf7i9hHu34MpZM%2BgtzV65EXUqiZUxD0tdkhxcqmtJe4ktEFqJcOy1nv55FM37XGjfMg3oaSn7qJbffhfWA75LPfo64R46m1qApe0Xj43Rhx6TaN5j9KrQ7fGB03Ue%2F3MmZtv08ix9bE78ILJ8iwQBKRahMCJDeOp2RtPS5CWMyeOEMNe42bAGOp0BF0IC6zAMJurSfpUtpF5u1ZaMOkOQbT1gC8FzaHgx%2Fz4Muu1b4iPy1ZuDkBtZUS70%2B4K82H%2FsYE80mFWKoXX0rAXVy%2FsyqBwfkvU9pWa707gpAYbmp%2Bc6ubLvwN1P7oBnak7UdllYuLa2is8nYJgmakcHK4LrVCC5V9wXhFAlSUqzZJhbkjZAGA2UHXQRj8lCZDzsL0AmZ69wd2mtmw%3D%3D&X-Amz-Signature=3ee62dd6cda34d8e75dbd43d51decfe72fa64ace4c9ccdba305a7f7b94dbc9c8'}

In [56]:
precos = pd.read_parquet('historico_acoes.parquet')

In [57]:
precos

,data,preco_abertura,preco_fechamento,preco_maximo,preco_medio,preco_minimo,quantidade_negociada,quantidade_negocios,ticker,volume_negociado,fator_ajuste,preco_fechamento_ajustado
0,2010-01-04,35.53,35.99,36.23,35.61,35.00,158400,626,CLSC6,5643570.0,0.88090,31.70
1,2010-01-04,1.03,1.04,1.10,1.04,1.03,279000,56,MLFT4,292510.0,10.00000,10.40
2,2010-01-04,16.89,17.02,17.05,16.93,16.80,779300,1106,BRTO4,13199875.0,1.00000,17.02
3,2010-01-04,12.80,13.00,13.00,12.64,12.50,22300,21,LAME3,281875.0,0.47213,6.14
4,2010-01-04,10.70,10.64,10.75,10.55,10.40,194200,635,BPNM4,2049215.0,1.00000,10.64
...,...,...,...,...,...,...,...,...,...,...,...,...
1175149,2024-04-09,33.38,33.57,33.63,33.49,33.28,17809900,23517,ITUB4,596526245.0,1.00000,33.57
1175150,2024-04-09,7.59,7.65,7.69,7.63,7.58,623000,2340,JALL3,4758909.0,1.00000,7.65
1175151,2024-04-09,6.73,6.73,6.85,6.75,6.70,7551800,7158,SOMA3,51039325.0,1.00000,6.73
1175152,2024-04-09,1.90,1.86,1.99,1.89,1.85,34500,110,JFEN3,65385.0,1.00000,1.86
1175153,2024-04-09,9.52,9.73,9.90,9.62,9.38,185300,1015,AALR3,1783765.0,1.00000,9.73

DOWNLOAD DE ITENS CONTÁBEIS

In [33]:
params = { 'item': 'EBIT', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/EBIT.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXULIVZZHVX%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T090728Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJIMEYCIQChwHYyQumm7i9yuxqCCmPSbzeMpfRoUgVaDicpCEeBcQIhAJG3TN7%2Fib3V%2BvpYIG9lHGHsH5%2F%2FeR%2BQ7FDJTo%2FfC0fSKu4CCCoQARoMNDAwMTQ5MjE0Njk2IgxPkxdVviKirP6yJsAqywJOQXtFM6%2BPxtFtUxIrouuyCzpJ27Op3xtCQijsiigQhDMbKBxj0cfabu03OCCrXfCRhTqIf7TXsh251zTXUIV3JubkoxGc78sBKZWeeQOie3oRg0UY7VDhOKkf9Rcpd7WkAR3IxHs73eNnl0iBhnTsS0Rxd2Hqm7biswJnTpWJvJ6UDrUUl6%2BP9dw5mBPx22J3Ql2GWuMYg%2BcJCdrWgf7nRTU%2Bgk9HLk2xvC66QhMmk9vbeC8SjmoJ5wIrvsT7RnpmP8Se6TYc3TDywPxe3vdOGLmQxsqOuw50QA6iN9gBWhd3wRpFL3SQ6IqMSrbQMfoRMUVjO4%2FKyiRsHK7RSxkPtXHrIcSD%2FEvadWZDycGYun6CJEa8T%2BP1Razz%2BrsRjOfJaEVSTbB7ywgrforM6tkmELjjjgefWOrFNIkJbQDnqqf%2BBG2VDKHtEWX6MMmt2bAGOp0BSCAHtI%2FPm%2BUrr6HTGJ1vQjsE6mEESpzLQOMU5uOxE0YfwGGMrUmeO%2F88dY3uZJ1Kpt7c%2Bbx69eSKRrBfpbFD8E1gfBvHCL%2F6LrC%2BcCFPxnEwRmYzM0YgE6Do95oUYeBh4oxcJdEZtKqYh5pQ7Kzzj8LjVlJU817jZSRuFI8h8iRZ8QxepDwiIC5KEGRksCgwnmo9lJ17H0PC8dfRvA%3D%3D&X-Amz-Signature=b1b93e7895359fa65860e4f5cb26be2a381b65822e6cedb4c198ab7e246502c9'}

In [35]:
ebit = pd.read_parquet('EBIT.parquet')

In [37]:
ebit[ebit['ticker']=='BRKM5']

       ticker  item       data         valor
474410  BRKM5  EBIT 2011-05-12  5.058720e+08
474411  BRKM5  EBIT 2011-05-13  5.058720e+08
474412  BRKM5  EBIT 2011-05-14  5.058720e+08
474413  BRKM5  EBIT 2011-05-15  5.058720e+08
474414  BRKM5  EBIT 2011-05-16  5.058720e+08
...       ...   ...        ...           ...
479123  BRKM5  EBIT 2024-04-06  1.761828e+09
479124  BRKM5  EBIT 2024-04-07  1.761828e+09
479125  BRKM5  EBIT 2024-04-08  1.761828e+09
479126  BRKM5  EBIT 2024-04-09  1.761828e+09
479127  BRKM5  EBIT 2024-04-10  1.761828e+09

[4718 rows x 4 columns]

In [34]:
params = { 'item': 'ReceitaLiquida', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/ReceitaLiquida.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXULIVZZHVX%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T090834Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJIMEYCIQChwHYyQumm7i9yuxqCCmPSbzeMpfRoUgVaDicpCEeBcQIhAJG3TN7%2Fib3V%2BvpYIG9lHGHsH5%2F%2FeR%2BQ7FDJTo%2FfC0fSKu4CCCoQARoMNDAwMTQ5MjE0Njk2IgxPkxdVviKirP6yJsAqywJOQXtFM6%2BPxtFtUxIrouuyCzpJ27Op3xtCQijsiigQhDMbKBxj0cfabu03OCCrXfCRhTqIf7TXsh251zTXUIV3JubkoxGc78sBKZWeeQOie3oRg0UY7VDhOKkf9Rcpd7WkAR3IxHs73eNnl0iBhnTsS0Rxd2Hqm7biswJnTpWJvJ6UDrUUl6%2BP9dw5mBPx22J3Ql2GWuMYg%2BcJCdrWgf7nRTU%2Bgk9HLk2xvC66QhMmk9vbeC8SjmoJ5wIrvsT7RnpmP8Se6TYc3TDywPxe3vdOGLmQxsqOuw50QA6iN9gBWhd3wRpFL3SQ6IqMSrbQMfoRMUVjO4%2FKyiRsHK7RSxkPtXHrIcSD%2FEvadWZDycGYun6CJEa8T%2BP1Razz%2BrsRjOfJaEVSTbB7ywgrforM6tkmELjjjgefWOrFNIkJbQDnqqf%2BBG2VDKHtEWX6MMmt2bAGOp0BSCAHtI%2FPm%2BUrr6HTGJ1vQjsE6mEESpzLQOMU5uOxE0YfwGGMrUmeO%2F88dY3uZJ1Kpt7c%2Bbx69eSKRrBfpbFD8E1gfBvHCL%2F6LrC%2BcCFPxnEwRmYzM0YgE6Do95oUYeBh4oxcJdEZtKqYh5pQ7Kzzj8LjVlJU817jZSRuFI8h8iRZ8QxepDwiIC5KEGRksCgwnmo9lJ17H0PC8dfRvA%3D%3D&X-Amz-Signature=744d31816237ba87e3ef469b454705c48b94f84dce93ce7adab338e7651f5455'}

In [38]:
receita_liquida = pd.read_parquet('ReceitaLiquida.parquet')

In [39]:
receita_liquida[receita_liquida['ticker']=='CMIG4']

       ticker            item       data         valor
758318  CMIG4  ReceitaLiquida 2011-05-17  3.386587e+09
758319  CMIG4  ReceitaLiquida 2011-05-18  3.386587e+09
758320  CMIG4  ReceitaLiquida 2011-05-19  3.386587e+09
758321  CMIG4  ReceitaLiquida 2011-05-20  3.386587e+09
758322  CMIG4  ReceitaLiquida 2011-05-21  3.386587e+09
...       ...             ...        ...           ...
763026  CMIG4  ReceitaLiquida 2024-04-06  9.956686e+09
763027  CMIG4  ReceitaLiquida 2024-04-07  9.956686e+09
763028  CMIG4  ReceitaLiquida 2024-04-08  9.956686e+09
763029  CMIG4  ReceitaLiquida 2024-04-09  9.956686e+09
763030  CMIG4  ReceitaLiquida 2024-04-10  9.956686e+09

[4713 rows x 4 columns]

In [19]:
params = { 'item': 'Custos', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/Custos.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUFZ5O4OGJ%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T114650Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPT%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCIQCB1aiHZRgQg%2Bm1kdHfxTZWZ3Z%2F%2FDc32EkBwTrUfRcE8QIgC26UfNvzhUDTGJbjAKldXi1Nn2kJlumszxYknhk0rMQq7gIILRABGgw0MDAxNDkyMTQ2OTYiDGdOnrNI3bNn8Kwm8yrLAt7y4%2FNr0KQ15WRa1%2BoeKxA%2F81zheN9KYou%2B7xbrLj0OwblUNKdhEBvcwK%2FGwbc7bZeVWVzw%2Bx%2FeF5QvvP%2FXRJCaqq8gFSrpmXUWPxboCOGsk9SL294eJl0DWOyVbA3RHfDZUEatD1G511ReKivXwAcgMgrT9KGJ0QAPSgSYbmgjEP805qYszws0S8Xx8OJ5axS8ALJdSq3VNNCVPqfaVSSPQGL58SUlytt1wPLt5wOUZAKFCnlzTs7G1A8jDxZ0hEGSZJj2LNOUarBBlIXzdWj%2BpAPdmKtImCvi1B74f%2FYgT5DAfj7SbJmqwA2E%2FXzspdWSI7FHYsKpdk7Mu0Pu5pYGEUYn%2F1M4fSNhDVluc0KEd%2BRpTHtOw9grmr8aR092nw9GAB9f%2FCj9NNK72tTxMSmY176KL5AoQ30QlBoMKmmtzlOTcnoHwzxbAhYwo%2FjZsAY6ngGT8aHIHx2p%2F07bWLwt4KhjxKXXlFEO%2B7bPQvE%2Bmnh%2F%2BVYMTtPxRI4SCU1xa5w571XTHqkaBcYktWpj2PcdJIn3EtlZ5tTAXeP1JSmLEN4Mw9seRgiEzR9KFpW07Ghxv9RsuGd7TifhzdBHxSISGvuyfvCmEu8xam%2FXmpk8gZhCQHeM%2BVXAv1y6%2FEWPUfXao1bX%2B1PXuAn4HGq2u%2FclnA%3D%3D&X-Amz-Signature=950adffa786781596d8b862b45d3e728754af1a8779fad098a4a97ec0306abf2'}

In [20]:
custos = pd.read_parquet('Custos.parquet')

In [21]:
custos[custos['ticker']=='ARZZ3']

       ticker    item       data        valor
151064  ARZZ3  Custos 2011-05-11  -82150000.0
151065  ARZZ3  Custos 2011-05-12  -82150000.0
151066  ARZZ3  Custos 2011-05-13  -82150000.0
151067  ARZZ3  Custos 2011-05-14  -82150000.0
151068  ARZZ3  Custos 2011-05-15  -82150000.0
...       ...     ...        ...          ...
155778  ARZZ3  Custos 2024-04-06 -627634000.0
155779  ARZZ3  Custos 2024-04-07 -627634000.0
155780  ARZZ3  Custos 2024-04-08 -627634000.0
155781  ARZZ3  Custos 2024-04-09 -627634000.0
155782  ARZZ3  Custos 2024-04-10 -627634000.0

[4719 rows x 4 columns]

In [40]:
params = { 'item': 'LucroLiquido', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/LucroLiquido.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUF4GUXCH3%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T092314Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIAYh6q%2F7opcvSNN6%2BZDrdmCJhdwmLv1j%2B0j7Nz2VwBj5AiBEH2IXQ1oLxi2WdJSoYKp1GD4Oq09Xz%2BhQOyKnH00KniruAggrEAEaDDQwMDE0OTIxNDY5NiIMB3YYY4hqdb8pB8pdKssC8zSUa1N%2BEIejsFfGzf65eTQdydVnJwfhD2%2FqTCWtA98yDjZX4NXkGPWrXzBxwU9CUiTBRxOd7NLNoH%2FzZpavVdEbuG4%2FIsxuajo6QpmwoAdPZNdJYWzXnDne3kvEnX5jDcWrpTwQdd5dVj4aPwvGgtjb%2FDCiDCHKhI1BJbYoav%2BzTP9oBpyFujTCAtB7%2Fd9EWaFK%2FNuTPeAeC55%2BCOURso9BgXbveJK2Ab8eaZxC3%2BW%2B4TStMcivRhvvBOsALqc2kZAw0oNt4EZEKD0CxwGRGZuv1pN44rD1a0hxGErHGECvlsVxqjKTXvz1gdUrBYQBLa%2FHlNTGqjkrMlcrGrDGG2xlZajRevB7mjUHFhbPqdkyvNxRrN%2F3uOfGbUSWXHDGDGlRQL3Cgr1TXotOCIj2BDu0GY38Nh%2BuH%2BoLswq%2B%2BOYpAo8RsB7X%2BVR9UDD7tNmwBjqfATEqSOK%2Bp552BoT3pDuZlTl%2FRPwlXIePSk5r%2BzdEHU5jlaCXCJUODUSMqm4jGl%2FJ%2Bk5o9z1qTnvuqF2aVaAzIrgLtFX994IUQEKyUSIHPg6bepHE6VUqz33dClyTfON1Fte32b4ZuSlfWAuP7jqC7G0GM7UjLuEpZRUkgbaoVwvhbbpBolFJSdZz8gcKeMN5c57Y4j2WJz0URogMGVPwYQ%3D%3D&X-Amz-Signature=6f59b939ba9e89be0f634b32ea0392b206a8bc16b07c0ed64b2f0ae744845c02'}

In [45]:
lucro_liquido = pd.read_parquet('LucroLiquido.parquet')

In [46]:
lucro_liquido[lucro_liquido['ticker']=='LREN3']

        ticker          item       data        valor
1751288  LREN3  LucroLiquido 2011-04-28   47587000.0
1751289  LREN3  LucroLiquido 2011-04-29   47587000.0
1751290  LREN3  LucroLiquido 2011-04-30   47587000.0
1751291  LREN3  LucroLiquido 2011-05-01   47587000.0
1751292  LREN3  LucroLiquido 2011-05-02   47587000.0
...        ...           ...        ...          ...
1756015  LREN3  LucroLiquido 2024-04-06  526891000.0
1756016  LREN3  LucroLiquido 2024-04-07  526891000.0
1756017  LREN3  LucroLiquido 2024-04-08  526891000.0
1756018  LREN3  LucroLiquido 2024-04-09  526891000.0
1756019  LREN3  LucroLiquido 2024-04-10  526891000.0

[4732 rows x 4 columns]

In [41]:
params = { 'item': 'AtivoCirculante', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/AtivoCirculante.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUF4GUXCH3%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T092323Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIAYh6q%2F7opcvSNN6%2BZDrdmCJhdwmLv1j%2B0j7Nz2VwBj5AiBEH2IXQ1oLxi2WdJSoYKp1GD4Oq09Xz%2BhQOyKnH00KniruAggrEAEaDDQwMDE0OTIxNDY5NiIMB3YYY4hqdb8pB8pdKssC8zSUa1N%2BEIejsFfGzf65eTQdydVnJwfhD2%2FqTCWtA98yDjZX4NXkGPWrXzBxwU9CUiTBRxOd7NLNoH%2FzZpavVdEbuG4%2FIsxuajo6QpmwoAdPZNdJYWzXnDne3kvEnX5jDcWrpTwQdd5dVj4aPwvGgtjb%2FDCiDCHKhI1BJbYoav%2BzTP9oBpyFujTCAtB7%2Fd9EWaFK%2FNuTPeAeC55%2BCOURso9BgXbveJK2Ab8eaZxC3%2BW%2B4TStMcivRhvvBOsALqc2kZAw0oNt4EZEKD0CxwGRGZuv1pN44rD1a0hxGErHGECvlsVxqjKTXvz1gdUrBYQBLa%2FHlNTGqjkrMlcrGrDGG2xlZajRevB7mjUHFhbPqdkyvNxRrN%2F3uOfGbUSWXHDGDGlRQL3Cgr1TXotOCIj2BDu0GY38Nh%2BuH%2BoLswq%2B%2BOYpAo8RsB7X%2BVR9UDD7tNmwBjqfATEqSOK%2Bp552BoT3pDuZlTl%2FRPwlXIePSk5r%2BzdEHU5jlaCXCJUODUSMqm4jGl%2FJ%2Bk5o9z1qTnvuqF2aVaAzIrgLtFX994IUQEKyUSIHPg6bepHE6VUqz33dClyTfON1Fte32b4ZuSlfWAuP7jqC7G0GM7UjLuEpZRUkgbaoVwvhbbpBolFJSdZz8gcKeMN5c57Y4j2WJz0URogMGVPwYQ%3D%3D&X-Amz-Signature=d505ee2f7413417b9ead0c5ea249f118a9cdb5371950116a584d95143236838f'}

In [47]:
ativo_circulante = pd.read_parquet('AtivoCirculante.parquet')

In [48]:
ativo_circulante[ativo_circulante['ticker']=='CYRE3']

       ticker             item       data         valor
799790  CYRE3  AtivoCirculante 2011-03-28  8.189985e+09
799791  CYRE3  AtivoCirculante 2011-03-29  8.189985e+09
799792  CYRE3  AtivoCirculante 2011-03-30  8.189985e+09
799793  CYRE3  AtivoCirculante 2011-03-31  8.189985e+09
799794  CYRE3  AtivoCirculante 2011-04-01  8.189985e+09
...       ...              ...        ...           ...
804548  CYRE3  AtivoCirculante 2024-04-06  9.768408e+09
804549  CYRE3  AtivoCirculante 2024-04-07  9.768408e+09
804550  CYRE3  AtivoCirculante 2024-04-08  9.768408e+09
804551  CYRE3  AtivoCirculante 2024-04-09  9.768408e+09
804552  CYRE3  AtivoCirculante 2024-04-10  9.768408e+09

[4763 rows x 4 columns]

In [42]:
params = { 'item': 'AtivoNaoCirculante', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/AtivoNaoCirculante.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUF4GUXCH3%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T092355Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIAYh6q%2F7opcvSNN6%2BZDrdmCJhdwmLv1j%2B0j7Nz2VwBj5AiBEH2IXQ1oLxi2WdJSoYKp1GD4Oq09Xz%2BhQOyKnH00KniruAggrEAEaDDQwMDE0OTIxNDY5NiIMB3YYY4hqdb8pB8pdKssC8zSUa1N%2BEIejsFfGzf65eTQdydVnJwfhD2%2FqTCWtA98yDjZX4NXkGPWrXzBxwU9CUiTBRxOd7NLNoH%2FzZpavVdEbuG4%2FIsxuajo6QpmwoAdPZNdJYWzXnDne3kvEnX5jDcWrpTwQdd5dVj4aPwvGgtjb%2FDCiDCHKhI1BJbYoav%2BzTP9oBpyFujTCAtB7%2Fd9EWaFK%2FNuTPeAeC55%2BCOURso9BgXbveJK2Ab8eaZxC3%2BW%2B4TStMcivRhvvBOsALqc2kZAw0oNt4EZEKD0CxwGRGZuv1pN44rD1a0hxGErHGECvlsVxqjKTXvz1gdUrBYQBLa%2FHlNTGqjkrMlcrGrDGG2xlZajRevB7mjUHFhbPqdkyvNxRrN%2F3uOfGbUSWXHDGDGlRQL3Cgr1TXotOCIj2BDu0GY38Nh%2BuH%2BoLswq%2B%2BOYpAo8RsB7X%2BVR9UDD7tNmwBjqfATEqSOK%2Bp552BoT3pDuZlTl%2FRPwlXIePSk5r%2BzdEHU5jlaCXCJUODUSMqm4jGl%2FJ%2Bk5o9z1qTnvuqF2aVaAzIrgLtFX994IUQEKyUSIHPg6bepHE6VUqz33dClyTfON1Fte32b4ZuSlfWAuP7jqC7G0GM7UjLuEpZRUkgbaoVwvhbbpBolFJSdZz8gcKeMN5c57Y4j2WJz0URogMGVPwYQ%3D%3D&X-Amz-Signature=d84bebcfb8b9f60d04dd0da75e152cdb620f51de877e6b62ebf602e40ddea58a'}

In [49]:
ativo_nao_circulante = pd.read_parquet('AtivoNaoCirculante.parquet')

In [50]:
ativo_nao_circulante[ativo_nao_circulante['ticker']=='HAPV3']

        ticker                item       data         valor
1306708  HAPV3  AtivoNaoCirculante 2018-04-24  1.097170e+09
1306709  HAPV3  AtivoNaoCirculante 2018-04-25  1.097170e+09
1306710  HAPV3  AtivoNaoCirculante 2018-04-26  1.097170e+09
1306711  HAPV3  AtivoNaoCirculante 2018-04-27  1.097170e+09
1306712  HAPV3  AtivoNaoCirculante 2018-04-28  1.097170e+09
...        ...                 ...        ...           ...
1308882  HAPV3  AtivoNaoCirculante 2024-04-06  6.462859e+10
1308883  HAPV3  AtivoNaoCirculante 2024-04-07  6.462859e+10
1308884  HAPV3  AtivoNaoCirculante 2024-04-08  6.462859e+10
1308885  HAPV3  AtivoNaoCirculante 2024-04-09  6.462859e+10
1308886  HAPV3  AtivoNaoCirculante 2024-04-10  6.462859e+10

[2179 rows x 4 columns]

In [43]:
params = { 'item': 'AtivoTotal', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/AtivoTotal.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUF4GUXCH3%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T092420Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIAYh6q%2F7opcvSNN6%2BZDrdmCJhdwmLv1j%2B0j7Nz2VwBj5AiBEH2IXQ1oLxi2WdJSoYKp1GD4Oq09Xz%2BhQOyKnH00KniruAggrEAEaDDQwMDE0OTIxNDY5NiIMB3YYY4hqdb8pB8pdKssC8zSUa1N%2BEIejsFfGzf65eTQdydVnJwfhD2%2FqTCWtA98yDjZX4NXkGPWrXzBxwU9CUiTBRxOd7NLNoH%2FzZpavVdEbuG4%2FIsxuajo6QpmwoAdPZNdJYWzXnDne3kvEnX5jDcWrpTwQdd5dVj4aPwvGgtjb%2FDCiDCHKhI1BJbYoav%2BzTP9oBpyFujTCAtB7%2Fd9EWaFK%2FNuTPeAeC55%2BCOURso9BgXbveJK2Ab8eaZxC3%2BW%2B4TStMcivRhvvBOsALqc2kZAw0oNt4EZEKD0CxwGRGZuv1pN44rD1a0hxGErHGECvlsVxqjKTXvz1gdUrBYQBLa%2FHlNTGqjkrMlcrGrDGG2xlZajRevB7mjUHFhbPqdkyvNxRrN%2F3uOfGbUSWXHDGDGlRQL3Cgr1TXotOCIj2BDu0GY38Nh%2BuH%2BoLswq%2B%2BOYpAo8RsB7X%2BVR9UDD7tNmwBjqfATEqSOK%2Bp552BoT3pDuZlTl%2FRPwlXIePSk5r%2BzdEHU5jlaCXCJUODUSMqm4jGl%2FJ%2Bk5o9z1qTnvuqF2aVaAzIrgLtFX994IUQEKyUSIHPg6bepHE6VUqz33dClyTfON1Fte32b4ZuSlfWAuP7jqC7G0GM7UjLuEpZRUkgbaoVwvhbbpBolFJSdZz8gcKeMN5c57Y4j2WJz0URogMGVPwYQ%3D%3D&X-Amz-Signature=ddeab7dabfbdd0277936175e24487213bdda5bf2e100c39ea6132294cf745e08'}

In [51]:
ativo_total = pd.read_parquet('AtivoTotal.parquet')

In [52]:
ativo_total[ativo_total['ticker']=='MRVE3']

        ticker        item       data         valor
1931718  MRVE3  AtivoTotal 2011-03-30  6.791338e+09
1931719  MRVE3  AtivoTotal 2011-03-31  6.791338e+09
1931720  MRVE3  AtivoTotal 2011-04-01  6.791338e+09
1931721  MRVE3  AtivoTotal 2011-04-02  6.791338e+09
1931722  MRVE3  AtivoTotal 2011-04-03  6.791338e+09
...        ...         ...        ...           ...
1936474  MRVE3  AtivoTotal 2024-04-06  2.507170e+10
1936475  MRVE3  AtivoTotal 2024-04-07  2.507170e+10
1936476  MRVE3  AtivoTotal 2024-04-08  2.507170e+10
1936477  MRVE3  AtivoTotal 2024-04-09  2.507170e+10
1936478  MRVE3  AtivoTotal 2024-04-10  2.507170e+10

[4761 rows x 4 columns]

In [44]:
params = { 'item': 'CaixaEquivalentes', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/CaixaEquivalentes.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUF4GUXCH3%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T092454Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIAYh6q%2F7opcvSNN6%2BZDrdmCJhdwmLv1j%2B0j7Nz2VwBj5AiBEH2IXQ1oLxi2WdJSoYKp1GD4Oq09Xz%2BhQOyKnH00KniruAggrEAEaDDQwMDE0OTIxNDY5NiIMB3YYY4hqdb8pB8pdKssC8zSUa1N%2BEIejsFfGzf65eTQdydVnJwfhD2%2FqTCWtA98yDjZX4NXkGPWrXzBxwU9CUiTBRxOd7NLNoH%2FzZpavVdEbuG4%2FIsxuajo6QpmwoAdPZNdJYWzXnDne3kvEnX5jDcWrpTwQdd5dVj4aPwvGgtjb%2FDCiDCHKhI1BJbYoav%2BzTP9oBpyFujTCAtB7%2Fd9EWaFK%2FNuTPeAeC55%2BCOURso9BgXbveJK2Ab8eaZxC3%2BW%2B4TStMcivRhvvBOsALqc2kZAw0oNt4EZEKD0CxwGRGZuv1pN44rD1a0hxGErHGECvlsVxqjKTXvz1gdUrBYQBLa%2FHlNTGqjkrMlcrGrDGG2xlZajRevB7mjUHFhbPqdkyvNxRrN%2F3uOfGbUSWXHDGDGlRQL3Cgr1TXotOCIj2BDu0GY38Nh%2BuH%2BoLswq%2B%2BOYpAo8RsB7X%2BVR9UDD7tNmwBjqfATEqSOK%2Bp552BoT3pDuZlTl%2FRPwlXIePSk5r%2BzdEHU5jlaCXCJUODUSMqm4jGl%2FJ%2Bk5o9z1qTnvuqF2aVaAzIrgLtFX994IUQEKyUSIHPg6bepHE6VUqz33dClyTfON1Fte32b4ZuSlfWAuP7jqC7G0GM7UjLuEpZRUkgbaoVwvhbbpBolFJSdZz8gcKeMN5c57Y4j2WJz0URogMGVPwYQ%3D%3D&X-Amz-Signature=049dca4cab6f22a00721fcd90ceb71510512fff57511bf63dda8e15be8d12b6b'}

In [53]:
caixa = pd.read_parquet('CaixaEquivalentes.parquet')

In [54]:
caixa[caixa['ticker']=='B3SA3']

       ticker               item       data         valor
187328  B3SA3  CaixaEquivalentes 2011-02-17  1.040170e+08
187329  B3SA3  CaixaEquivalentes 2011-02-18  1.040170e+08
187330  B3SA3  CaixaEquivalentes 2011-02-19  1.040170e+08
187331  B3SA3  CaixaEquivalentes 2011-02-20  1.040170e+08
187332  B3SA3  CaixaEquivalentes 2011-02-21  1.040170e+08
...       ...                ...        ...           ...
192125  B3SA3  CaixaEquivalentes 2024-04-06  1.788906e+09
192126  B3SA3  CaixaEquivalentes 2024-04-07  1.788906e+09
192127  B3SA3  CaixaEquivalentes 2024-04-08  1.788906e+09
192128  B3SA3  CaixaEquivalentes 2024-04-09  1.788906e+09
192129  B3SA3  CaixaEquivalentes 2024-04-10  1.788906e+09

[4802 rows x 4 columns]

In [58]:
params = { 'item': 'DividaBruta', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/DividaBruta.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUPWVZIM33%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T104930Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIHEcG2W%2Fbd1rB8M6UEu50ILnhY2MbVTRj%2FeuiHJrTEomAiBzBTNTmgmsKWp5LjzneeCsKr7ccPbVwbCU7fvlz8m%2FDSruAggsEAEaDDQwMDE0OTIxNDY5NiIMlTEvDVnhuXup0YDPKssCWB0qLeLWY6Behyux47Jzq8I%2BlwV3aYz4hvReZ5ABhb4tUJ7s5PWJwDzOt8eKA4O5BM3czlPhki5yLIdJJkIt7pCVYsCh8bJiEaolVZQyOo7A%2FaeaS9hvmQxw0ta7tW4Y9kWvL6OKkLxr50nz2GB2PDgSEU9lX%2BZLrK3iXPTALIKqBO%2BDMw353ZzOr66Q%2B3x2X%2FY9A1%2BseheDfRE6Bo2rAcfg%2BzICIM3SERy020Spa8hTwHg%2Fu7Nuu47XZDkY4JCuefeULFC16i4vIMjt3XKGB3vrDvRv1pOEs2Wp7DSkMFDrekwCjWSEhW0QqbckBpoKow9%2BJNfSb0M94iOKi3zqn8ecx5ulQhymHAIqx2Uu9lYWjtUXQGWxGs99NfIt71A8KdmH4jTrsbBVybu7ADuUrN9rQUdvr5R%2FvXFkp1liWDObTlPAozgTgq%2B5VzCb3dmwBjqfARhmSk0qydR48pD5XfHrlyLhx9H%2F56Ii%2BeW6U6I1tbUIF3s3ipUe0KOkTieTQ9Btgf51Xy34YRSFvFNU8lnI0cx3N5%2BVuqCLkqIPx5i4stD2C8YHQuVwmTSWvfZ7Avqy90OaVaxfTKo60qf05%2FB2j3pu6w7cfSdL%2F3PBuGCiAsRuhh50aIvz1d3%2FNrZIAX3XwrogNNLDrYCLaln55UkQMQ%3D%3D&X-Amz-Signature=2254f5faa82f6fff4b1e984a1287bc7150e04098225a44b83932d183286052c1'}

In [61]:
divida_bruta = pd.read_parquet('DividaBruta.parquet')

In [62]:
divida_bruta[divida_bruta['ticker']=='MGLU3']

        ticker         item       data         valor
1645509  MGLU3  DividaBruta 2011-05-05  7.748730e+08
1645510  MGLU3  DividaBruta 2011-05-06  7.748730e+08
1645511  MGLU3  DividaBruta 2011-05-07  7.748730e+08
1645512  MGLU3  DividaBruta 2011-05-08  7.748730e+08
1645513  MGLU3  DividaBruta 2011-05-09  7.748730e+08
...        ...          ...        ...           ...
1650229  MGLU3  DividaBruta 2024-04-06  7.354855e+09
1650230  MGLU3  DividaBruta 2024-04-07  7.354855e+09
1650231  MGLU3  DividaBruta 2024-04-08  7.354855e+09
1650232  MGLU3  DividaBruta 2024-04-09  7.354855e+09
1650233  MGLU3  DividaBruta 2024-04-10  7.354855e+09

[4725 rows x 4 columns]

In [59]:
params = { 'item': 'DividaLiquida', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/DividaLiquida.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUPWVZIM33%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T104951Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIHEcG2W%2Fbd1rB8M6UEu50ILnhY2MbVTRj%2FeuiHJrTEomAiBzBTNTmgmsKWp5LjzneeCsKr7ccPbVwbCU7fvlz8m%2FDSruAggsEAEaDDQwMDE0OTIxNDY5NiIMlTEvDVnhuXup0YDPKssCWB0qLeLWY6Behyux47Jzq8I%2BlwV3aYz4hvReZ5ABhb4tUJ7s5PWJwDzOt8eKA4O5BM3czlPhki5yLIdJJkIt7pCVYsCh8bJiEaolVZQyOo7A%2FaeaS9hvmQxw0ta7tW4Y9kWvL6OKkLxr50nz2GB2PDgSEU9lX%2BZLrK3iXPTALIKqBO%2BDMw353ZzOr66Q%2B3x2X%2FY9A1%2BseheDfRE6Bo2rAcfg%2BzICIM3SERy020Spa8hTwHg%2Fu7Nuu47XZDkY4JCuefeULFC16i4vIMjt3XKGB3vrDvRv1pOEs2Wp7DSkMFDrekwCjWSEhW0QqbckBpoKow9%2BJNfSb0M94iOKi3zqn8ecx5ulQhymHAIqx2Uu9lYWjtUXQGWxGs99NfIt71A8KdmH4jTrsbBVybu7ADuUrN9rQUdvr5R%2FvXFkp1liWDObTlPAozgTgq%2B5VzCb3dmwBjqfARhmSk0qydR48pD5XfHrlyLhx9H%2F56Ii%2BeW6U6I1tbUIF3s3ipUe0KOkTieTQ9Btgf51Xy34YRSFvFNU8lnI0cx3N5%2BVuqCLkqIPx5i4stD2C8YHQuVwmTSWvfZ7Avqy90OaVaxfTKo60qf05%2FB2j3pu6w7cfSdL%2F3PBuGCiAsRuhh50aIvz1d3%2FNrZIAX3XwrogNNLDrYCLaln55UkQMQ%3D%3D&X-Amz-Signature=065eae4aef18fd1e82b8d157be19f3a4142a6720edbfa55e1cce5ad04be62c48'}

In [63]:
divida_liquida = pd.read_parquet('DividaLiquida.parquet')

In [65]:
divida_liquida[divida_liquida['ticker']=='BHIA3']

       ticker           item       data         valor
230299  BHIA3  DividaLiquida 2011-02-24  1.275301e+09
230300  BHIA3  DividaLiquida 2011-02-25  1.275301e+09
230301  BHIA3  DividaLiquida 2011-02-26  1.275301e+09
230302  BHIA3  DividaLiquida 2011-02-27  1.275301e+09
230303  BHIA3  DividaLiquida 2011-02-28  1.275301e+09
...       ...            ...        ...           ...
235089  BHIA3  DividaLiquida 2024-04-06  6.386000e+09
235090  BHIA3  DividaLiquida 2024-04-07  6.386000e+09
235091  BHIA3  DividaLiquida 2024-04-08  6.386000e+09
235092  BHIA3  DividaLiquida 2024-04-09  6.386000e+09
235093  BHIA3  DividaLiquida 2024-04-10  6.386000e+09

[4795 rows x 4 columns]

In [60]:
params = { 'item': 'EBITDA', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/EBITDA.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUPWVZIM33%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T105044Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIHEcG2W%2Fbd1rB8M6UEu50ILnhY2MbVTRj%2FeuiHJrTEomAiBzBTNTmgmsKWp5LjzneeCsKr7ccPbVwbCU7fvlz8m%2FDSruAggsEAEaDDQwMDE0OTIxNDY5NiIMlTEvDVnhuXup0YDPKssCWB0qLeLWY6Behyux47Jzq8I%2BlwV3aYz4hvReZ5ABhb4tUJ7s5PWJwDzOt8eKA4O5BM3czlPhki5yLIdJJkIt7pCVYsCh8bJiEaolVZQyOo7A%2FaeaS9hvmQxw0ta7tW4Y9kWvL6OKkLxr50nz2GB2PDgSEU9lX%2BZLrK3iXPTALIKqBO%2BDMw353ZzOr66Q%2B3x2X%2FY9A1%2BseheDfRE6Bo2rAcfg%2BzICIM3SERy020Spa8hTwHg%2Fu7Nuu47XZDkY4JCuefeULFC16i4vIMjt3XKGB3vrDvRv1pOEs2Wp7DSkMFDrekwCjWSEhW0QqbckBpoKow9%2BJNfSb0M94iOKi3zqn8ecx5ulQhymHAIqx2Uu9lYWjtUXQGWxGs99NfIt71A8KdmH4jTrsbBVybu7ADuUrN9rQUdvr5R%2FvXFkp1liWDObTlPAozgTgq%2B5VzCb3dmwBjqfARhmSk0qydR48pD5XfHrlyLhx9H%2F56Ii%2BeW6U6I1tbUIF3s3ipUe0KOkTieTQ9Btgf51Xy34YRSFvFNU8lnI0cx3N5%2BVuqCLkqIPx5i4stD2C8YHQuVwmTSWvfZ7Avqy90OaVaxfTKo60qf05%2FB2j3pu6w7cfSdL%2F3PBuGCiAsRuhh50aIvz1d3%2FNrZIAX3XwrogNNLDrYCLaln55UkQMQ%3D%3D&X-Amz-Signature=4c01a9db730450223bd1ebd3864021a27dde5ee369f9f1d455ca40c1aaecc945'}

In [66]:
ebitda = pd.read_parquet('EBITDA.parquet')

In [67]:
ebitda[ebitda['ticker']=='SUZB3']

        ticker    item       data         valor
2353784  SUZB3  EBITDA 2011-05-11  3.434120e+08
2353785  SUZB3  EBITDA 2011-05-12  3.434120e+08
2353786  SUZB3  EBITDA 2011-05-13  3.434120e+08
2353787  SUZB3  EBITDA 2011-05-14  3.434120e+08
2353788  SUZB3  EBITDA 2011-05-15  3.434120e+08
...        ...     ...        ...           ...
2358498  SUZB3  EBITDA 2024-04-06  4.959323e+09
2358499  SUZB3  EBITDA 2024-04-07  4.959323e+09
2358500  SUZB3  EBITDA 2024-04-08  4.959323e+09
2358501  SUZB3  EBITDA 2024-04-09  4.959323e+09
2358502  SUZB3  EBITDA 2024-04-10  4.959323e+09

[4719 rows x 4 columns]

In [68]:
params = { 'item': 'PassivoCirculante', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/PassivoCirculante.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUPWVZIM33%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T105338Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIHEcG2W%2Fbd1rB8M6UEu50ILnhY2MbVTRj%2FeuiHJrTEomAiBzBTNTmgmsKWp5LjzneeCsKr7ccPbVwbCU7fvlz8m%2FDSruAggsEAEaDDQwMDE0OTIxNDY5NiIMlTEvDVnhuXup0YDPKssCWB0qLeLWY6Behyux47Jzq8I%2BlwV3aYz4hvReZ5ABhb4tUJ7s5PWJwDzOt8eKA4O5BM3czlPhki5yLIdJJkIt7pCVYsCh8bJiEaolVZQyOo7A%2FaeaS9hvmQxw0ta7tW4Y9kWvL6OKkLxr50nz2GB2PDgSEU9lX%2BZLrK3iXPTALIKqBO%2BDMw353ZzOr66Q%2B3x2X%2FY9A1%2BseheDfRE6Bo2rAcfg%2BzICIM3SERy020Spa8hTwHg%2Fu7Nuu47XZDkY4JCuefeULFC16i4vIMjt3XKGB3vrDvRv1pOEs2Wp7DSkMFDrekwCjWSEhW0QqbckBpoKow9%2BJNfSb0M94iOKi3zqn8ecx5ulQhymHAIqx2Uu9lYWjtUXQGWxGs99NfIt71A8KdmH4jTrsbBVybu7ADuUrN9rQUdvr5R%2FvXFkp1liWDObTlPAozgTgq%2B5VzCb3dmwBjqfARhmSk0qydR48pD5XfHrlyLhx9H%2F56Ii%2BeW6U6I1tbUIF3s3ipUe0KOkTieTQ9Btgf51Xy34YRSFvFNU8lnI0cx3N5%2BVuqCLkqIPx5i4stD2C8YHQuVwmTSWvfZ7Avqy90OaVaxfTKo60qf05%2FB2j3pu6w7cfSdL%2F3PBuGCiAsRuhh50aIvz1d3%2FNrZIAX3XwrogNNLDrYCLaln55UkQMQ%3D%3D&X-Amz-Signature=0b0f8a3dac0635343d351e1efebdf73ea763817287cdb1e9068ab86f5934e71a'}

In [72]:
passivo_circulante = pd.read_parquet('PassivoCirculante.parquet')

In [73]:
passivo_circulante[passivo_circulante['ticker']=='TRPL4']

        ticker               item       data         valor
2586538  TRPL4  PassivoCirculante 2011-03-28  8.140490e+08
2586539  TRPL4  PassivoCirculante 2011-03-29  8.140490e+08
2586540  TRPL4  PassivoCirculante 2011-03-30  8.140490e+08
2586541  TRPL4  PassivoCirculante 2011-03-31  8.140490e+08
2586542  TRPL4  PassivoCirculante 2011-04-01  8.140490e+08
...        ...                ...        ...           ...
2591296  TRPL4  PassivoCirculante 2024-04-06  2.444736e+09
2591297  TRPL4  PassivoCirculante 2024-04-07  2.444736e+09
2591298  TRPL4  PassivoCirculante 2024-04-08  2.444736e+09
2591299  TRPL4  PassivoCirculante 2024-04-09  2.444736e+09
2591300  TRPL4  PassivoCirculante 2024-04-10  2.444736e+09

[4763 rows x 4 columns]

In [69]:
params = { 'item': 'PassivoNaoCirculante', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/PassivoNaoCirculante.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUPWVZIM33%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T105405Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIHEcG2W%2Fbd1rB8M6UEu50ILnhY2MbVTRj%2FeuiHJrTEomAiBzBTNTmgmsKWp5LjzneeCsKr7ccPbVwbCU7fvlz8m%2FDSruAggsEAEaDDQwMDE0OTIxNDY5NiIMlTEvDVnhuXup0YDPKssCWB0qLeLWY6Behyux47Jzq8I%2BlwV3aYz4hvReZ5ABhb4tUJ7s5PWJwDzOt8eKA4O5BM3czlPhki5yLIdJJkIt7pCVYsCh8bJiEaolVZQyOo7A%2FaeaS9hvmQxw0ta7tW4Y9kWvL6OKkLxr50nz2GB2PDgSEU9lX%2BZLrK3iXPTALIKqBO%2BDMw353ZzOr66Q%2B3x2X%2FY9A1%2BseheDfRE6Bo2rAcfg%2BzICIM3SERy020Spa8hTwHg%2Fu7Nuu47XZDkY4JCuefeULFC16i4vIMjt3XKGB3vrDvRv1pOEs2Wp7DSkMFDrekwCjWSEhW0QqbckBpoKow9%2BJNfSb0M94iOKi3zqn8ecx5ulQhymHAIqx2Uu9lYWjtUXQGWxGs99NfIt71A8KdmH4jTrsbBVybu7ADuUrN9rQUdvr5R%2FvXFkp1liWDObTlPAozgTgq%2B5VzCb3dmwBjqfARhmSk0qydR48pD5XfHrlyLhx9H%2F56Ii%2BeW6U6I1tbUIF3s3ipUe0KOkTieTQ9Btgf51Xy34YRSFvFNU8lnI0cx3N5%2BVuqCLkqIPx5i4stD2C8YHQuVwmTSWvfZ7Avqy90OaVaxfTKo60qf05%2FB2j3pu6w7cfSdL%2F3PBuGCiAsRuhh50aIvz1d3%2FNrZIAX3XwrogNNLDrYCLaln55UkQMQ%3D%3D&X-Amz-Signature=f9875302c0034c85c6704cedc29d7ac2c83085b9aca9cafcac1a5d7a469cc17f'}

In [74]:
passivo_nao_circulante = pd.read_parquet('PassivoNaoCirculante.parquet')

In [75]:
passivo_nao_circulante[passivo_nao_circulante['ticker']=='EQTL3']

        ticker                  item       data         valor
1066464  EQTL3  PassivoNaoCirculante 2011-03-30  1.341791e+09
1066465  EQTL3  PassivoNaoCirculante 2011-03-31  1.341791e+09
1066466  EQTL3  PassivoNaoCirculante 2011-04-01  1.341791e+09
1066467  EQTL3  PassivoNaoCirculante 2011-04-02  1.341791e+09
1066468  EQTL3  PassivoNaoCirculante 2011-04-03  1.341791e+09
...        ...                   ...        ...           ...
1071220  EQTL3  PassivoNaoCirculante 2024-04-06  6.021041e+10
1071221  EQTL3  PassivoNaoCirculante 2024-04-07  6.021041e+10
1071222  EQTL3  PassivoNaoCirculante 2024-04-08  6.021041e+10
1071223  EQTL3  PassivoNaoCirculante 2024-04-09  6.021041e+10
1071224  EQTL3  PassivoNaoCirculante 2024-04-10  6.021041e+10

[4761 rows x 4 columns]

In [70]:
params = { 'item': 'PassivoTotal', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/PassivoTotal.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUPWVZIM33%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T105425Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIHEcG2W%2Fbd1rB8M6UEu50ILnhY2MbVTRj%2FeuiHJrTEomAiBzBTNTmgmsKWp5LjzneeCsKr7ccPbVwbCU7fvlz8m%2FDSruAggsEAEaDDQwMDE0OTIxNDY5NiIMlTEvDVnhuXup0YDPKssCWB0qLeLWY6Behyux47Jzq8I%2BlwV3aYz4hvReZ5ABhb4tUJ7s5PWJwDzOt8eKA4O5BM3czlPhki5yLIdJJkIt7pCVYsCh8bJiEaolVZQyOo7A%2FaeaS9hvmQxw0ta7tW4Y9kWvL6OKkLxr50nz2GB2PDgSEU9lX%2BZLrK3iXPTALIKqBO%2BDMw353ZzOr66Q%2B3x2X%2FY9A1%2BseheDfRE6Bo2rAcfg%2BzICIM3SERy020Spa8hTwHg%2Fu7Nuu47XZDkY4JCuefeULFC16i4vIMjt3XKGB3vrDvRv1pOEs2Wp7DSkMFDrekwCjWSEhW0QqbckBpoKow9%2BJNfSb0M94iOKi3zqn8ecx5ulQhymHAIqx2Uu9lYWjtUXQGWxGs99NfIt71A8KdmH4jTrsbBVybu7ADuUrN9rQUdvr5R%2FvXFkp1liWDObTlPAozgTgq%2B5VzCb3dmwBjqfARhmSk0qydR48pD5XfHrlyLhx9H%2F56Ii%2BeW6U6I1tbUIF3s3ipUe0KOkTieTQ9Btgf51Xy34YRSFvFNU8lnI0cx3N5%2BVuqCLkqIPx5i4stD2C8YHQuVwmTSWvfZ7Avqy90OaVaxfTKo60qf05%2FB2j3pu6w7cfSdL%2F3PBuGCiAsRuhh50aIvz1d3%2FNrZIAX3XwrogNNLDrYCLaln55UkQMQ%3D%3D&X-Amz-Signature=477cf22b23fcfc6c2489ec224897099f942e9c8846905540596dd40416ee1b70'}

In [76]:
passivo_total = pd.read_parquet('PassivoTotal.parquet')

In [77]:
passivo_total[passivo_total['ticker']=='ECOR3']

        ticker          item       data         valor
1077884  ECOR3  PassivoTotal 2011-03-22  4.165776e+09
1077885  ECOR3  PassivoTotal 2011-03-23  4.165776e+09
1077886  ECOR3  PassivoTotal 2011-03-24  4.165776e+09
1077887  ECOR3  PassivoTotal 2011-03-25  4.165776e+09
1077888  ECOR3  PassivoTotal 2011-03-26  4.165776e+09
...        ...           ...        ...           ...
1082648  ECOR3  PassivoTotal 2024-04-06  2.595990e+10
1082649  ECOR3  PassivoTotal 2024-04-07  2.595990e+10
1082650  ECOR3  PassivoTotal 2024-04-08  2.595990e+10
1082651  ECOR3  PassivoTotal 2024-04-09  2.595990e+10
1082652  ECOR3  PassivoTotal 2024-04-10  2.595990e+10

[4769 rows x 4 columns]

In [71]:
params = { 'item': 'PatrimonioLiquido', 'tipoPeriodo': 'TRIMESTRAL' }

endpoint = URL_BASE + '/bolsa/b3/avista/itens-contabeis/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/dfin_files/PatrimonioLiquido.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUPWVZIM33%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T105453Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJGMEQCIHEcG2W%2Fbd1rB8M6UEu50ILnhY2MbVTRj%2FeuiHJrTEomAiBzBTNTmgmsKWp5LjzneeCsKr7ccPbVwbCU7fvlz8m%2FDSruAggsEAEaDDQwMDE0OTIxNDY5NiIMlTEvDVnhuXup0YDPKssCWB0qLeLWY6Behyux47Jzq8I%2BlwV3aYz4hvReZ5ABhb4tUJ7s5PWJwDzOt8eKA4O5BM3czlPhki5yLIdJJkIt7pCVYsCh8bJiEaolVZQyOo7A%2FaeaS9hvmQxw0ta7tW4Y9kWvL6OKkLxr50nz2GB2PDgSEU9lX%2BZLrK3iXPTALIKqBO%2BDMw353ZzOr66Q%2B3x2X%2FY9A1%2BseheDfRE6Bo2rAcfg%2BzICIM3SERy020Spa8hTwHg%2Fu7Nuu47XZDkY4JCuefeULFC16i4vIMjt3XKGB3vrDvRv1pOEs2Wp7DSkMFDrekwCjWSEhW0QqbckBpoKow9%2BJNfSb0M94iOKi3zqn8ecx5ulQhymHAIqx2Uu9lYWjtUXQGWxGs99NfIt71A8KdmH4jTrsbBVybu7ADuUrN9rQUdvr5R%2FvXFkp1liWDObTlPAozgTgq%2B5VzCb3dmwBjqfARhmSk0qydR48pD5XfHrlyLhx9H%2F56Ii%2BeW6U6I1tbUIF3s3ipUe0KOkTieTQ9Btgf51Xy34YRSFvFNU8lnI0cx3N5%2BVuqCLkqIPx5i4stD2C8YHQuVwmTSWvfZ7Avqy90OaVaxfTKo60qf05%2FB2j3pu6w7cfSdL%2F3PBuGCiAsRuhh50aIvz1d3%2FNrZIAX3XwrogNNLDrYCLaln55UkQMQ%3D%3D&X-Amz-Signature=3f1120a9e4eb411d5e8c9a9346a4ab44455a6f8bd8c35d5b3b169becd48f872f'}

In [78]:
patrimonio_liquido = pd.read_parquet('PatrimonioLiquido.parquet')

In [79]:
patrimonio_liquido[patrimonio_liquido['ticker']=='ABEV3']

      ticker               item       data         valor
7452   ABEV3  PatrimonioLiquido 2013-10-31  3.968560e+10
7453   ABEV3  PatrimonioLiquido 2013-11-01  3.968560e+10
7454   ABEV3  PatrimonioLiquido 2013-11-02  3.968560e+10
7455   ABEV3  PatrimonioLiquido 2013-11-03  3.968560e+10
7456   ABEV3  PatrimonioLiquido 2013-11-04  3.968560e+10
...      ...                ...        ...           ...
11262  ABEV3  PatrimonioLiquido 2024-04-06  8.014380e+10
11263  ABEV3  PatrimonioLiquido 2024-04-07  8.014380e+10
11264  ABEV3  PatrimonioLiquido 2024-04-08  8.014380e+10
11265  ABEV3  PatrimonioLiquido 2024-04-09  8.014380e+10
11266  ABEV3  PatrimonioLiquido 2024-04-10  8.014380e+10

[3815 rows x 4 columns]

DOWNLOAD DE INDICADORES FUNDAMENTALISTAS

In [2]:
params = { 'indicador': 'ROE' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/ROE.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUBH5NN6MF%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T084840Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCICRuoMjZ3t%2FFVFpfE4gpenB%2FL9X%2BfdeTsXfoGXX1IZH0AiEAuHPKWiXLMYZVz2xl2DeqZAZJ3o%2B5t25UBYpOm5AgyCQq7gIIKhABGgw0MDAxNDkyMTQ2OTYiDACJu8HjD70%2B4EdfKCrLAgwLBttbC3UD535oa05pxhtmqgh2jF0JtqTkEFE7ktYVKlAc7kngv14UJHMdtJOcK4XJc7igQdblh3nLuVm16F6QTNTBjoS0ffADbejfC3%2BE4elZ%2F9AUy8YAU4bY1tRAvNLfimd7DUsYx7gnGVtUew%2BmEtDMTVGauDFsr883sQRdXLReta2g5cuPfTvYhK42UREC%2FdJVNZR9TKfpmTbawxnai6TyJSmovL6g4NJZinNk469kRq4xnsxo9HvaVnG3xVPd7OT8hE%2F9BYGa7YlzIdrDw3MBKxorhg4SdvBjYZ7lv4hE89DxobdtVSVoS0qyNMHu5bznSHRtFr%2FJDWVyPxosHnR6kjlPG7fUSgItl%2B9nTAXNLmSVMsC3GTxHVl3%2FrsvL3jNrh9dL97onRd2B924qLNsDiZVh2XOoh7lzGHljKE2bAMAv%2Bh%2FGguIw4qTZsAY6ngHvTsXOk8brh9Ln4YNLI325FvApABvEb3YIAMLBkb3OvYtD4L4Qtt70dY3rz%2BrcLTRxpuyr4iZoOj7%2Fn%2Fyqit2Wy4ePAGdHjo%2BuHtJPk3n2IYghBwRqbtuNwuPYXVMrM5KG%2BHEsHNdlWrV6qUFBD%2FVfC%2BtswcIr7nfNt1XmTyOqhQDxaEPUjxAbJcJ5tK9GkXYROicAxifBOFkAjtNqNg%3D%3D&X-Amz-Signature=ab5fbbb221cf99ec992eeca22ceee534f00828390b49b607cba327406a5c6c7c'}

In [ ]:
roe = pd.read_parquet('ROE.parquet')

In [8]:
roe

        ticker indicador       data     valor
0        AALR3       ROE 2016-12-04  0.028501
1        AALR3       ROE 2016-12-05  0.028501
2        AALR3       ROE 2016-12-06  0.028501
3        AALR3       ROE 2016-12-07  0.028501
4        AALR3       ROE 2016-12-08  0.028501
...        ...       ...        ...       ...
2858253  ZAMP3       ROE 2024-04-06 -0.070193
2858254  ZAMP3       ROE 2024-04-07 -0.070193
2858255  ZAMP3       ROE 2024-04-08 -0.070193
2858256  ZAMP3       ROE 2024-04-09 -0.070193
2858257  ZAMP3       ROE 2024-04-10 -0.070193

[2858258 rows x 4 columns]

In [9]:
params = { 'indicador': 'P_L' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/P_L.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUBH5NN6MF%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T085209Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCICRuoMjZ3t%2FFVFpfE4gpenB%2FL9X%2BfdeTsXfoGXX1IZH0AiEAuHPKWiXLMYZVz2xl2DeqZAZJ3o%2B5t25UBYpOm5AgyCQq7gIIKhABGgw0MDAxNDkyMTQ2OTYiDACJu8HjD70%2B4EdfKCrLAgwLBttbC3UD535oa05pxhtmqgh2jF0JtqTkEFE7ktYVKlAc7kngv14UJHMdtJOcK4XJc7igQdblh3nLuVm16F6QTNTBjoS0ffADbejfC3%2BE4elZ%2F9AUy8YAU4bY1tRAvNLfimd7DUsYx7gnGVtUew%2BmEtDMTVGauDFsr883sQRdXLReta2g5cuPfTvYhK42UREC%2FdJVNZR9TKfpmTbawxnai6TyJSmovL6g4NJZinNk469kRq4xnsxo9HvaVnG3xVPd7OT8hE%2F9BYGa7YlzIdrDw3MBKxorhg4SdvBjYZ7lv4hE89DxobdtVSVoS0qyNMHu5bznSHRtFr%2FJDWVyPxosHnR6kjlPG7fUSgItl%2B9nTAXNLmSVMsC3GTxHVl3%2FrsvL3jNrh9dL97onRd2B924qLNsDiZVh2XOoh7lzGHljKE2bAMAv%2Bh%2FGguIw4qTZsAY6ngHvTsXOk8brh9Ln4YNLI325FvApABvEb3YIAMLBkb3OvYtD4L4Qtt70dY3rz%2BrcLTRxpuyr4iZoOj7%2Fn%2Fyqit2Wy4ePAGdHjo%2BuHtJPk3n2IYghBwRqbtuNwuPYXVMrM5KG%2BHEsHNdlWrV6qUFBD%2FVfC%2BtswcIr7nfNt1XmTyOqhQDxaEPUjxAbJcJ5tK9GkXYROicAxifBOFkAjtNqNg%3D%3D&X-Amz-Signature=feaa8d42cbb88a5a7174ba9f5b88d5b7d02822845f37a231e87ab9c1c78cd296'}

In [10]:
p_l = pd.read_parquet('P_L.parquet')

In [11]:
p_l

        ticker indicador       data      valor
0        AALR3       P_L 2016-12-04  88.376521
1        AALR3       P_L 2016-12-05  87.598137
2        AALR3       P_L 2016-12-06  86.700002
3        AALR3       P_L 2016-12-07  86.220996
4        AALR3       P_L 2016-12-08  86.220996
...        ...       ...        ...        ...
2605317  ZAMP3       P_L 2024-04-06  -8.444241
2605318  ZAMP3       P_L 2024-04-07  -8.444241
2605319  ZAMP3       P_L 2024-04-08  -8.782011
2605320  ZAMP3       P_L 2024-04-09  -9.176075
2605321  ZAMP3       P_L 2024-04-10  -9.176075

[2605322 rows x 4 columns]

In [12]:
params = { 'indicador': 'P_VP' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/P_VP.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUBH5NN6MF%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T085404Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCICRuoMjZ3t%2FFVFpfE4gpenB%2FL9X%2BfdeTsXfoGXX1IZH0AiEAuHPKWiXLMYZVz2xl2DeqZAZJ3o%2B5t25UBYpOm5AgyCQq7gIIKhABGgw0MDAxNDkyMTQ2OTYiDACJu8HjD70%2B4EdfKCrLAgwLBttbC3UD535oa05pxhtmqgh2jF0JtqTkEFE7ktYVKlAc7kngv14UJHMdtJOcK4XJc7igQdblh3nLuVm16F6QTNTBjoS0ffADbejfC3%2BE4elZ%2F9AUy8YAU4bY1tRAvNLfimd7DUsYx7gnGVtUew%2BmEtDMTVGauDFsr883sQRdXLReta2g5cuPfTvYhK42UREC%2FdJVNZR9TKfpmTbawxnai6TyJSmovL6g4NJZinNk469kRq4xnsxo9HvaVnG3xVPd7OT8hE%2F9BYGa7YlzIdrDw3MBKxorhg4SdvBjYZ7lv4hE89DxobdtVSVoS0qyNMHu5bznSHRtFr%2FJDWVyPxosHnR6kjlPG7fUSgItl%2B9nTAXNLmSVMsC3GTxHVl3%2FrsvL3jNrh9dL97onRd2B924qLNsDiZVh2XOoh7lzGHljKE2bAMAv%2Bh%2FGguIw4qTZsAY6ngHvTsXOk8brh9Ln4YNLI325FvApABvEb3YIAMLBkb3OvYtD4L4Qtt70dY3rz%2BrcLTRxpuyr4iZoOj7%2Fn%2Fyqit2Wy4ePAGdHjo%2BuHtJPk3n2IYghBwRqbtuNwuPYXVMrM5KG%2BHEsHNdlWrV6qUFBD%2FVfC%2BtswcIr7nfNt1XmTyOqhQDxaEPUjxAbJcJ5tK9GkXYROicAxifBOFkAjtNqNg%3D%3D&X-Amz-Signature=d4240652e5e1168762a69384c1dcf3f060408d842e9f681714604ac051c3f8c6'}

In [13]:
p_vp = pd.read_parquet('P_VP.parquet')

In [16]:
p_vp[p_vp['ticker']=='VALE3']

        ticker indicador       data     valor
2653947  VALE3      P_VP 2011-02-24  2.560269
2653948  VALE3      P_VP 2011-02-25  2.569032
2653949  VALE3      P_VP 2011-02-26  2.569032
2653950  VALE3      P_VP 2011-02-27  2.569032
2653951  VALE3      P_VP 2011-02-28  2.596706
...        ...       ...        ...       ...
2658737  VALE3      P_VP 2024-04-06  1.366566
2658738  VALE3      P_VP 2024-04-07  1.366566
2658739  VALE3      P_VP 2024-04-08  1.441176
2658740  VALE3      P_VP 2024-04-09  1.431564
2658741  VALE3      P_VP 2024-04-10  1.431564

[4795 rows x 4 columns]

In [15]:
params = { 'indicador': 'DividendYield' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/DividendYield.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUBH5NN6MF%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T085540Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCICRuoMjZ3t%2FFVFpfE4gpenB%2FL9X%2BfdeTsXfoGXX1IZH0AiEAuHPKWiXLMYZVz2xl2DeqZAZJ3o%2B5t25UBYpOm5AgyCQq7gIIKhABGgw0MDAxNDkyMTQ2OTYiDACJu8HjD70%2B4EdfKCrLAgwLBttbC3UD535oa05pxhtmqgh2jF0JtqTkEFE7ktYVKlAc7kngv14UJHMdtJOcK4XJc7igQdblh3nLuVm16F6QTNTBjoS0ffADbejfC3%2BE4elZ%2F9AUy8YAU4bY1tRAvNLfimd7DUsYx7gnGVtUew%2BmEtDMTVGauDFsr883sQRdXLReta2g5cuPfTvYhK42UREC%2FdJVNZR9TKfpmTbawxnai6TyJSmovL6g4NJZinNk469kRq4xnsxo9HvaVnG3xVPd7OT8hE%2F9BYGa7YlzIdrDw3MBKxorhg4SdvBjYZ7lv4hE89DxobdtVSVoS0qyNMHu5bznSHRtFr%2FJDWVyPxosHnR6kjlPG7fUSgItl%2B9nTAXNLmSVMsC3GTxHVl3%2FrsvL3jNrh9dL97onRd2B924qLNsDiZVh2XOoh7lzGHljKE2bAMAv%2Bh%2FGguIw4qTZsAY6ngHvTsXOk8brh9Ln4YNLI325FvApABvEb3YIAMLBkb3OvYtD4L4Qtt70dY3rz%2BrcLTRxpuyr4iZoOj7%2Fn%2Fyqit2Wy4ePAGdHjo%2BuHtJPk3n2IYghBwRqbtuNwuPYXVMrM5KG%2BHEsHNdlWrV6qUFBD%2FVfC%2BtswcIr7nfNt1XmTyOqhQDxaEPUjxAbJcJ5tK9GkXYROicAxifBOFkAjtNqNg%3D%3D&X-Amz-Signature=51c7d5cd078dd5278a5090e0bba169bc63a66d2e82a574126b7e40fb3d9262ca'}

In [17]:
dy = pd.read_parquet('DividendYield.parquet')

In [19]:
dy[dy['ticker']=='SANB11']

         ticker      indicador       data     valor
1863279  SANB11  DividendYield 2010-01-04  0.010535
1863280  SANB11  DividendYield 2010-01-05  0.010434
1863281  SANB11  DividendYield 2010-01-06  0.010486
1863282  SANB11  DividendYield 2010-01-07  0.010561
1863283  SANB11  DividendYield 2010-01-08  0.010670
...         ...            ...        ...       ...
1868485  SANB11  DividendYield 2024-04-06  0.057437
1868486  SANB11  DividendYield 2024-04-07  0.057437
1868487  SANB11  DividendYield 2024-04-08  0.057112
1868488  SANB11  DividendYield 2024-04-09  0.057031
1868489  SANB11  DividendYield 2024-04-10  0.057031

[5211 rows x 4 columns]

In [20]:
params = { 'indicador': 'ROIC' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/ROIC.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUBH5NN6MF%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T085842Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCICRuoMjZ3t%2FFVFpfE4gpenB%2FL9X%2BfdeTsXfoGXX1IZH0AiEAuHPKWiXLMYZVz2xl2DeqZAZJ3o%2B5t25UBYpOm5AgyCQq7gIIKhABGgw0MDAxNDkyMTQ2OTYiDACJu8HjD70%2B4EdfKCrLAgwLBttbC3UD535oa05pxhtmqgh2jF0JtqTkEFE7ktYVKlAc7kngv14UJHMdtJOcK4XJc7igQdblh3nLuVm16F6QTNTBjoS0ffADbejfC3%2BE4elZ%2F9AUy8YAU4bY1tRAvNLfimd7DUsYx7gnGVtUew%2BmEtDMTVGauDFsr883sQRdXLReta2g5cuPfTvYhK42UREC%2FdJVNZR9TKfpmTbawxnai6TyJSmovL6g4NJZinNk469kRq4xnsxo9HvaVnG3xVPd7OT8hE%2F9BYGa7YlzIdrDw3MBKxorhg4SdvBjYZ7lv4hE89DxobdtVSVoS0qyNMHu5bznSHRtFr%2FJDWVyPxosHnR6kjlPG7fUSgItl%2B9nTAXNLmSVMsC3GTxHVl3%2FrsvL3jNrh9dL97onRd2B924qLNsDiZVh2XOoh7lzGHljKE2bAMAv%2Bh%2FGguIw4qTZsAY6ngHvTsXOk8brh9Ln4YNLI325FvApABvEb3YIAMLBkb3OvYtD4L4Qtt70dY3rz%2BrcLTRxpuyr4iZoOj7%2Fn%2Fyqit2Wy4ePAGdHjo%2BuHtJPk3n2IYghBwRqbtuNwuPYXVMrM5KG%2BHEsHNdlWrV6qUFBD%2FVfC%2BtswcIr7nfNt1XmTyOqhQDxaEPUjxAbJcJ5tK9GkXYROicAxifBOFkAjtNqNg%3D%3D&X-Amz-Signature=ce26cfaebca4edde695833183d084ad8975750bc76a5a4c86e472ff43d834c72'}

In [21]:
roic = pd.read_parquet('ROIC.parquet')

In [26]:
roic[roic['ticker']=='WEGE3']

        ticker indicador       data     valor
2398193  WEGE3      ROIC 2011-10-26  0.068559
2398194  WEGE3      ROIC 2011-10-27  0.068559
2398195  WEGE3      ROIC 2011-10-28  0.068559
2398196  WEGE3      ROIC 2011-10-29  0.068559
2398197  WEGE3      ROIC 2011-10-30  0.068559
...        ...       ...        ...       ...
2402739  WEGE3      ROIC 2024-04-06  0.277380
2402740  WEGE3      ROIC 2024-04-07  0.277380
2402741  WEGE3      ROIC 2024-04-08  0.277380
2402742  WEGE3      ROIC 2024-04-09  0.277380
2402743  WEGE3      ROIC 2024-04-10  0.277380

[4551 rows x 4 columns]

In [27]:
params = { 'indicador': 'VPA' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/VPA.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUBH5NN6MF%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T090044Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCICRuoMjZ3t%2FFVFpfE4gpenB%2FL9X%2BfdeTsXfoGXX1IZH0AiEAuHPKWiXLMYZVz2xl2DeqZAZJ3o%2B5t25UBYpOm5AgyCQq7gIIKhABGgw0MDAxNDkyMTQ2OTYiDACJu8HjD70%2B4EdfKCrLAgwLBttbC3UD535oa05pxhtmqgh2jF0JtqTkEFE7ktYVKlAc7kngv14UJHMdtJOcK4XJc7igQdblh3nLuVm16F6QTNTBjoS0ffADbejfC3%2BE4elZ%2F9AUy8YAU4bY1tRAvNLfimd7DUsYx7gnGVtUew%2BmEtDMTVGauDFsr883sQRdXLReta2g5cuPfTvYhK42UREC%2FdJVNZR9TKfpmTbawxnai6TyJSmovL6g4NJZinNk469kRq4xnsxo9HvaVnG3xVPd7OT8hE%2F9BYGa7YlzIdrDw3MBKxorhg4SdvBjYZ7lv4hE89DxobdtVSVoS0qyNMHu5bznSHRtFr%2FJDWVyPxosHnR6kjlPG7fUSgItl%2B9nTAXNLmSVMsC3GTxHVl3%2FrsvL3jNrh9dL97onRd2B924qLNsDiZVh2XOoh7lzGHljKE2bAMAv%2Bh%2FGguIw4qTZsAY6ngHvTsXOk8brh9Ln4YNLI325FvApABvEb3YIAMLBkb3OvYtD4L4Qtt70dY3rz%2BrcLTRxpuyr4iZoOj7%2Fn%2Fyqit2Wy4ePAGdHjo%2BuHtJPk3n2IYghBwRqbtuNwuPYXVMrM5KG%2BHEsHNdlWrV6qUFBD%2FVfC%2BtswcIr7nfNt1XmTyOqhQDxaEPUjxAbJcJ5tK9GkXYROicAxifBOFkAjtNqNg%3D%3D&X-Amz-Signature=b5cd2a7e2141ffbe2acbad9bbc84113a4eb4d9aed8e570e2a78fb24c268daf40'}

In [29]:
vpa = pd.read_parquet('VPA.parquet')

In [30]:
vpa[vpa['ticker']=='BBDC4']

       ticker indicador       data      valor
225452  BBDC4       VPA 2011-04-15  13.375509
225453  BBDC4       VPA 2011-04-16  13.375509
225454  BBDC4       VPA 2011-04-17  13.375509
225455  BBDC4       VPA 2011-04-18  13.375509
225456  BBDC4       VPA 2011-04-19  13.375509
...       ...       ...        ...        ...
230192  BBDC4       VPA 2024-04-06  15.693615
230193  BBDC4       VPA 2024-04-07  15.693615
230194  BBDC4       VPA 2024-04-08  15.693615
230195  BBDC4       VPA 2024-04-09  15.693615
230196  BBDC4       VPA 2024-04-10  15.693615

[4745 rows x 4 columns]

In [28]:
params = { 'indicador': 'LPA' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/LPA.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUBH5NN6MF%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T090106Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPH%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCICRuoMjZ3t%2FFVFpfE4gpenB%2FL9X%2BfdeTsXfoGXX1IZH0AiEAuHPKWiXLMYZVz2xl2DeqZAZJ3o%2B5t25UBYpOm5AgyCQq7gIIKhABGgw0MDAxNDkyMTQ2OTYiDACJu8HjD70%2B4EdfKCrLAgwLBttbC3UD535oa05pxhtmqgh2jF0JtqTkEFE7ktYVKlAc7kngv14UJHMdtJOcK4XJc7igQdblh3nLuVm16F6QTNTBjoS0ffADbejfC3%2BE4elZ%2F9AUy8YAU4bY1tRAvNLfimd7DUsYx7gnGVtUew%2BmEtDMTVGauDFsr883sQRdXLReta2g5cuPfTvYhK42UREC%2FdJVNZR9TKfpmTbawxnai6TyJSmovL6g4NJZinNk469kRq4xnsxo9HvaVnG3xVPd7OT8hE%2F9BYGa7YlzIdrDw3MBKxorhg4SdvBjYZ7lv4hE89DxobdtVSVoS0qyNMHu5bznSHRtFr%2FJDWVyPxosHnR6kjlPG7fUSgItl%2B9nTAXNLmSVMsC3GTxHVl3%2FrsvL3jNrh9dL97onRd2B924qLNsDiZVh2XOoh7lzGHljKE2bAMAv%2Bh%2FGguIw4qTZsAY6ngHvTsXOk8brh9Ln4YNLI325FvApABvEb3YIAMLBkb3OvYtD4L4Qtt70dY3rz%2BrcLTRxpuyr4iZoOj7%2Fn%2Fyqit2Wy4ePAGdHjo%2BuHtJPk3n2IYghBwRqbtuNwuPYXVMrM5KG%2BHEsHNdlWrV6qUFBD%2FVfC%2BtswcIr7nfNt1XmTyOqhQDxaEPUjxAbJcJ5tK9GkXYROicAxifBOFkAjtNqNg%3D%3D&X-Amz-Signature=6b95f2411ac2a1287c110e768e106336e4647d0fa3816edcbc304a4a61409c68'}

In [31]:
lpa = pd.read_parquet('LPA.parquet')

In [32]:
lpa[lpa['ticker']=='PETR4']

        ticker indicador       data     valor
2012421  PETR4       LPA 2011-11-11  2.979453
2012422  PETR4       LPA 2011-11-12  2.979453
2012423  PETR4       LPA 2011-11-13  2.979453
2012424  PETR4       LPA 2011-11-14  2.979453
2012425  PETR4       LPA 2011-11-15  2.979453
...        ...       ...        ...       ...
2016951  PETR4       LPA 2024-04-06  9.552381
2016952  PETR4       LPA 2024-04-07  9.552381
2016953  PETR4       LPA 2024-04-08  9.552381
2016954  PETR4       LPA 2024-04-09  9.552381
2016955  PETR4       LPA 2024-04-10  9.552381

[4535 rows x 4 columns]

In [3]:
params = { 'indicador': 'DividaBruta_PatrimonioLiquido' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/DividaBruta_PatrimonioLiquido.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUN4DXTC6I%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T112631Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCIQCBo15s4AuQZ4BpxAOL9eR3tYMwaRObo3LSoAlD9G1H8QIgCAERZ2zICPWtsw54J3rI4tWMCexO8xEePOZyP1exIl8q7gIILRABGgw0MDAxNDkyMTQ2OTYiDLRnOLw9vJIh9c8uLyrLAoMPlNzdwjaEtDMWyZ9I0hvmCGdz08D7HfBI97pPqfELtV53u2XXfYdH9qYFwvQBVNVgaI154MMffr1DiuENul6TXgUPwYvb26Lqkq8hnNINKkKKFQif1iFeepYzEVos6TBoZVs30KjZkMm%2Fp5hzQ3q5dY88fF0T6ZMlKLBzvnI5FL90GwMANtAw2cF0TC%2B%2FF1pm1YvnTWfoGp%2F5HVC17X3Y1gBxkV%2Fj%2B%2F4Bnrt1lmnyUP%2FwREBIkEn0GarM0CeSJ0tWrQCqscNJbTUVahfLW8IflQec2lM4ZxMUuDLWOnKaygXTsN%2FY5q0feqzwdnyyOlSy4RxPAkdSpwMY%2BFpWOfO%2FR59ew3xz8OwwIFbaBdtEzKvBfuSO8BFmuz49yuwUD9owfg7f6gm8Rp%2FHc1ZkEBPwmQXT1FH6riVJh4BFO%2F36IJGsVTSsi%2FLFijcw4O7ZsAY6ngHlYIAx7JK5ahy1uQBIcQWpWeZivcBTX5tcAu43jYZHxqqGRfC%2F1FQw%2FRbSWTY3xtibtKEXpfZuKiiZVcAD1SR8Q0f2coDuP7Oqy05rfYI92GesGEa15JNPRcxP8EZXyupj%2BaLTl5%2FuXjNyU%2FVUI7zJqLwT3qq%2B9NHXPakT2MqfzCxNS3JZbwTNuQMuM6nA6FOOvQcu%2B8rIFjsRBAGuew%3D%3D&X-Amz-Signature=b7d551c4020df6553b43488c49731d49b8ec77dce0e3a6006e0b1e35d411d515'}

In [8]:
divida_bruta_patrimonio_liquido = pd.read_parquet('DividaBruta_PatrimonioLiquido.parquet')

In [9]:
divida_bruta_patrimonio_liquido[divida_bruta_patrimonio_liquido['ticker']=='TAEE11']

         ticker                      indicador       data     valor
2404603  TAEE11  DividaBruta_PatrimonioLiquido 2011-03-28  0.614465
2404604  TAEE11  DividaBruta_PatrimonioLiquido 2011-03-29  0.614465
2404605  TAEE11  DividaBruta_PatrimonioLiquido 2011-03-30  0.614465
2404606  TAEE11  DividaBruta_PatrimonioLiquido 2011-03-31  0.614465
2404607  TAEE11  DividaBruta_PatrimonioLiquido 2011-04-01  0.614465
...         ...                            ...        ...       ...
2409361  TAEE11  DividaBruta_PatrimonioLiquido 2024-04-06  1.452641
2409362  TAEE11  DividaBruta_PatrimonioLiquido 2024-04-07  1.452641
2409363  TAEE11  DividaBruta_PatrimonioLiquido 2024-04-08  1.452641
2409364  TAEE11  DividaBruta_PatrimonioLiquido 2024-04-09  1.452641
2409365  TAEE11  DividaBruta_PatrimonioLiquido 2024-04-10  1.452641

[4763 rows x 4 columns]

In [4]:
params = { 'indicador': 'DividaLiquida_PatrimonioLiquido' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/DividaLiquida_PatrimonioLiquido.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUN4DXTC6I%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T112646Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCIQCBo15s4AuQZ4BpxAOL9eR3tYMwaRObo3LSoAlD9G1H8QIgCAERZ2zICPWtsw54J3rI4tWMCexO8xEePOZyP1exIl8q7gIILRABGgw0MDAxNDkyMTQ2OTYiDLRnOLw9vJIh9c8uLyrLAoMPlNzdwjaEtDMWyZ9I0hvmCGdz08D7HfBI97pPqfELtV53u2XXfYdH9qYFwvQBVNVgaI154MMffr1DiuENul6TXgUPwYvb26Lqkq8hnNINKkKKFQif1iFeepYzEVos6TBoZVs30KjZkMm%2Fp5hzQ3q5dY88fF0T6ZMlKLBzvnI5FL90GwMANtAw2cF0TC%2B%2FF1pm1YvnTWfoGp%2F5HVC17X3Y1gBxkV%2Fj%2B%2F4Bnrt1lmnyUP%2FwREBIkEn0GarM0CeSJ0tWrQCqscNJbTUVahfLW8IflQec2lM4ZxMUuDLWOnKaygXTsN%2FY5q0feqzwdnyyOlSy4RxPAkdSpwMY%2BFpWOfO%2FR59ew3xz8OwwIFbaBdtEzKvBfuSO8BFmuz49yuwUD9owfg7f6gm8Rp%2FHc1ZkEBPwmQXT1FH6riVJh4BFO%2F36IJGsVTSsi%2FLFijcw4O7ZsAY6ngHlYIAx7JK5ahy1uQBIcQWpWeZivcBTX5tcAu43jYZHxqqGRfC%2F1FQw%2FRbSWTY3xtibtKEXpfZuKiiZVcAD1SR8Q0f2coDuP7Oqy05rfYI92GesGEa15JNPRcxP8EZXyupj%2BaLTl5%2FuXjNyU%2FVUI7zJqLwT3qq%2B9NHXPakT2MqfzCxNS3JZbwTNuQMuM6nA6FOOvQcu%2B8rIFjsRBAGuew%3D%3D&X-Amz-Signature=b281cab833ac62dc96e53318fc435119ccdf2d4a0b3761ebdbb9494050133c09'}

In [10]:
divida_liquida_patrimonio_liquido = pd.read_parquet('DividaLiquida_PatrimonioLiquido.parquet')

In [11]:
divida_liquida_patrimonio_liquido[divida_liquida_patrimonio_liquido['ticker']=='YDUQ3']

        ticker                        indicador       data     valor
2779270  YDUQ3  DividaLiquida_PatrimonioLiquido 2011-03-17 -0.266074
2779271  YDUQ3  DividaLiquida_PatrimonioLiquido 2011-03-18 -0.266074
2779272  YDUQ3  DividaLiquida_PatrimonioLiquido 2011-03-19 -0.266074
2779273  YDUQ3  DividaLiquida_PatrimonioLiquido 2011-03-20 -0.266074
2779274  YDUQ3  DividaLiquida_PatrimonioLiquido 2011-03-21 -0.266074
...        ...                              ...        ...       ...
2784039  YDUQ3  DividaLiquida_PatrimonioLiquido 2024-04-06  1.453912
2784040  YDUQ3  DividaLiquida_PatrimonioLiquido 2024-04-07  1.453912
2784041  YDUQ3  DividaLiquida_PatrimonioLiquido 2024-04-08  1.453912
2784042  YDUQ3  DividaLiquida_PatrimonioLiquido 2024-04-09  1.453912
2784043  YDUQ3  DividaLiquida_PatrimonioLiquido 2024-04-10  1.453912

[4774 rows x 4 columns]

In [5]:
params = { 'indicador': 'DividaLiquida_EBIT' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/DividaLiquida_EBIT.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUN4DXTC6I%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T112705Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCIQCBo15s4AuQZ4BpxAOL9eR3tYMwaRObo3LSoAlD9G1H8QIgCAERZ2zICPWtsw54J3rI4tWMCexO8xEePOZyP1exIl8q7gIILRABGgw0MDAxNDkyMTQ2OTYiDLRnOLw9vJIh9c8uLyrLAoMPlNzdwjaEtDMWyZ9I0hvmCGdz08D7HfBI97pPqfELtV53u2XXfYdH9qYFwvQBVNVgaI154MMffr1DiuENul6TXgUPwYvb26Lqkq8hnNINKkKKFQif1iFeepYzEVos6TBoZVs30KjZkMm%2Fp5hzQ3q5dY88fF0T6ZMlKLBzvnI5FL90GwMANtAw2cF0TC%2B%2FF1pm1YvnTWfoGp%2F5HVC17X3Y1gBxkV%2Fj%2B%2F4Bnrt1lmnyUP%2FwREBIkEn0GarM0CeSJ0tWrQCqscNJbTUVahfLW8IflQec2lM4ZxMUuDLWOnKaygXTsN%2FY5q0feqzwdnyyOlSy4RxPAkdSpwMY%2BFpWOfO%2FR59ew3xz8OwwIFbaBdtEzKvBfuSO8BFmuz49yuwUD9owfg7f6gm8Rp%2FHc1ZkEBPwmQXT1FH6riVJh4BFO%2F36IJGsVTSsi%2FLFijcw4O7ZsAY6ngHlYIAx7JK5ahy1uQBIcQWpWeZivcBTX5tcAu43jYZHxqqGRfC%2F1FQw%2FRbSWTY3xtibtKEXpfZuKiiZVcAD1SR8Q0f2coDuP7Oqy05rfYI92GesGEa15JNPRcxP8EZXyupj%2BaLTl5%2FuXjNyU%2FVUI7zJqLwT3qq%2B9NHXPakT2MqfzCxNS3JZbwTNuQMuM6nA6FOOvQcu%2B8rIFjsRBAGuew%3D%3D&X-Amz-Signature=e1e0473633cb8417dd9650c82d21ad4e566aedf17d95c711f26e3650f1142567'}

In [12]:
divida_liquida_ebit = pd.read_parquet('DividaLiquida_EBIT.parquet')

In [13]:
divida_liquida_ebit[divida_liquida_ebit['ticker']=='PSSA3']

        ticker           indicador       data       valor
1876151  PSSA3  DividaLiquida_EBIT 2011-11-01 -304.585066
1876152  PSSA3  DividaLiquida_EBIT 2011-11-02 -304.585066
1876153  PSSA3  DividaLiquida_EBIT 2011-11-03 -304.585066
1876154  PSSA3  DividaLiquida_EBIT 2011-11-04 -304.585066
1876155  PSSA3  DividaLiquida_EBIT 2011-11-05 -304.585066
...        ...                 ...        ...         ...
1880691  PSSA3  DividaLiquida_EBIT 2024-04-06   -4.279559
1880692  PSSA3  DividaLiquida_EBIT 2024-04-07   -4.279559
1880693  PSSA3  DividaLiquida_EBIT 2024-04-08   -4.279559
1880694  PSSA3  DividaLiquida_EBIT 2024-04-09   -4.279559
1880695  PSSA3  DividaLiquida_EBIT 2024-04-10   -4.279559

[4545 rows x 4 columns]

In [22]:
params = { 'indicador': 'DividaLiquida_EBITDA' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/DividaLiquida_EBITDA.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUFZ5O4OGJ%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T114914Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPT%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJHMEUCIQCB1aiHZRgQg%2Bm1kdHfxTZWZ3Z%2F%2FDc32EkBwTrUfRcE8QIgC26UfNvzhUDTGJbjAKldXi1Nn2kJlumszxYknhk0rMQq7gIILRABGgw0MDAxNDkyMTQ2OTYiDGdOnrNI3bNn8Kwm8yrLAt7y4%2FNr0KQ15WRa1%2BoeKxA%2F81zheN9KYou%2B7xbrLj0OwblUNKdhEBvcwK%2FGwbc7bZeVWVzw%2Bx%2FeF5QvvP%2FXRJCaqq8gFSrpmXUWPxboCOGsk9SL294eJl0DWOyVbA3RHfDZUEatD1G511ReKivXwAcgMgrT9KGJ0QAPSgSYbmgjEP805qYszws0S8Xx8OJ5axS8ALJdSq3VNNCVPqfaVSSPQGL58SUlytt1wPLt5wOUZAKFCnlzTs7G1A8jDxZ0hEGSZJj2LNOUarBBlIXzdWj%2BpAPdmKtImCvi1B74f%2FYgT5DAfj7SbJmqwA2E%2FXzspdWSI7FHYsKpdk7Mu0Pu5pYGEUYn%2F1M4fSNhDVluc0KEd%2BRpTHtOw9grmr8aR092nw9GAB9f%2FCj9NNK72tTxMSmY176KL5AoQ30QlBoMKmmtzlOTcnoHwzxbAhYwo%2FjZsAY6ngGT8aHIHx2p%2F07bWLwt4KhjxKXXlFEO%2B7bPQvE%2Bmnh%2F%2BVYMTtPxRI4SCU1xa5w571XTHqkaBcYktWpj2PcdJIn3EtlZ5tTAXeP1JSmLEN4Mw9seRgiEzR9KFpW07Ghxv9RsuGd7TifhzdBHxSISGvuyfvCmEu8xam%2FXmpk8gZhCQHeM%2BVXAv1y6%2FEWPUfXao1bX%2B1PXuAn4HGq2u%2FclnA%3D%3D&X-Amz-Signature=9f345b57caf8fa920fa47262ada36b33bd29923820e8efc6fc55fa95957fe8f3'}

In [24]:
divida_liquida_ebitda = pd.read_parquet('DividaLiquida_EBITDA.parquet')

In [25]:
divida_liquida_ebitda[divida_liquida_ebitda['ticker']=='MRVE3']

        ticker             indicador       data      valor
1600804  MRVE3  DividaLiquida_EBITDA 2011-11-14   1.534990
1600805  MRVE3  DividaLiquida_EBITDA 2011-11-15   1.534990
1600806  MRVE3  DividaLiquida_EBITDA 2011-11-16   1.534990
1600807  MRVE3  DividaLiquida_EBITDA 2011-11-17   1.534990
1600808  MRVE3  DividaLiquida_EBITDA 2011-11-18   1.534990
...        ...                   ...        ...        ...
1605331  MRVE3  DividaLiquida_EBITDA 2024-04-06  25.854923
1605332  MRVE3  DividaLiquida_EBITDA 2024-04-07  25.854923
1605333  MRVE3  DividaLiquida_EBITDA 2024-04-08  25.854923
1605334  MRVE3  DividaLiquida_EBITDA 2024-04-09  25.854923
1605335  MRVE3  DividaLiquida_EBITDA 2024-04-10  25.854923

[4532 rows x 4 columns]

In [6]:
params = { 'indicador': 'ValorDeMercado' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/ValorDeMercado.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUB5RR2WW7%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T112737Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJIMEYCIQDv79njho5hw8k4NlvRxCvrgJvwbqt5%2Faq9W%2FT5Mje%2B%2BQIhAOuy7VAts9wHJ%2FuItW0MBBZ%2BbvCcBMV%2B7zvd1%2B%2BhfIbeKu4CCC0QARoMNDAwMTQ5MjE0Njk2IgwCIOqSFRSsPtAf5x8qywITylAJEUHT15qjcmq1uibSR6S85DwYlfRNTiF21HBDbmjPEtfnJUHtajxOKYxtgRZMSYQmb69vsgaOAz8F9ck4YTj8kRBqsY2enumWKnpONSy3M5zxuNF0bMjEWYXrn96gPa12DClWMkAosP0isQMLWeXbCuMGMmUIvwyHShqaJ%2F4Nf1%2BsQtobh1ANhzq00GBNrevVBCvm1o5dxUn67qa3n9pBetR7BWk2FX7k1BPnhXhKMx8VU8MCgYKJVFL0V7ljZtqZB1ZWFRmGb5r5UkKBhL%2FKcMbjO%2F21IIK2liHHQGES%2ByIlFTT%2FLwg66Od2A7IhpQzSksOY84Lcef3DDe0tu5WG9BiNDxD%2FcKOWD4LVtAYhy3DGj4ZYCSh3UeZ%2BaVw2npKRqQos16uqWBonoT%2FKhVP2NNS2BNET7iZQRfzJGIUY%2BwJwqljk78BXMKHv2bAGOp0BgfnEzMUaIo8DwKk%2B7%2BkH3goXJ3Gg4LPyTiBtjkRNqFc4sT7ZSPH3FKZKzoeJzUbsKDwl2sa6LY4zoHTJ0z1%2FnbyYw6na3D5RjUO5fnkVfJh%2BnSTg5d2gc%2BC%2Bq5MwB8p2RfbhXIcpcoF1m%2FSyRx6u1wAWEQsMsBzOa5zpGONQ0amoDaV9LzRnD7i6J741fytEy0Fa6W8BvRMScSV%2BOQ%3D%3D&X-Amz-Signature=e194a5e0f66c3e9c3df1621e5511e937d81eb73759067b013e4ff46e492c3cee'}

In [14]:
valor_de_mercado = pd.read_parquet('ValorDeMercado.parquet')

In [16]:
valor_de_mercado[valor_de_mercado['ticker']=='CSMG3']

       ticker       indicador       data         valor
825637  CSMG3  ValorDeMercado 2011-01-03  3.419768e+09
825638  CSMG3  ValorDeMercado 2011-01-04  3.343671e+09
825639  CSMG3  ValorDeMercado 2011-01-05  3.335600e+09
825640  CSMG3  ValorDeMercado 2011-01-06  3.366731e+09
825641  CSMG3  ValorDeMercado 2011-01-07  3.355201e+09
...       ...             ...        ...           ...
830479  CSMG3  ValorDeMercado 2024-04-06  8.049956e+09
830480  CSMG3  ValorDeMercado 2024-04-07  8.049956e+09
830481  CSMG3  ValorDeMercado 2024-04-08  8.126007e+09
830482  CSMG3  ValorDeMercado 2024-04-09  8.266700e+09
830483  CSMG3  ValorDeMercado 2024-04-10  8.266700e+09

[4847 rows x 4 columns]

In [7]:
params = { 'indicador': 'EV' }

endpoint = URL_BASE + '/bolsa/b3/avista/indicadores/point-in-time/arquivos'
response = requests.get(endpoint, headers=headers, params=params)
print(response.json())

{'link': 'https://fintz-dagster.s3.amazonaws.com/fontes/cvm/dfin/files/indicadores_files/EV.parquet?X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Credential=ASIAV2KWAOXUB5RR2WW7%2F20240410%2Fus-east-2%2Fs3%2Faws4_request&X-Amz-Date=20240410T112755Z&X-Amz-Expires=300&X-Amz-SignedHeaders=host&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEPP%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCXVzLWVhc3QtMiJIMEYCIQDv79njho5hw8k4NlvRxCvrgJvwbqt5%2Faq9W%2FT5Mje%2B%2BQIhAOuy7VAts9wHJ%2FuItW0MBBZ%2BbvCcBMV%2B7zvd1%2B%2BhfIbeKu4CCC0QARoMNDAwMTQ5MjE0Njk2IgwCIOqSFRSsPtAf5x8qywITylAJEUHT15qjcmq1uibSR6S85DwYlfRNTiF21HBDbmjPEtfnJUHtajxOKYxtgRZMSYQmb69vsgaOAz8F9ck4YTj8kRBqsY2enumWKnpONSy3M5zxuNF0bMjEWYXrn96gPa12DClWMkAosP0isQMLWeXbCuMGMmUIvwyHShqaJ%2F4Nf1%2BsQtobh1ANhzq00GBNrevVBCvm1o5dxUn67qa3n9pBetR7BWk2FX7k1BPnhXhKMx8VU8MCgYKJVFL0V7ljZtqZB1ZWFRmGb5r5UkKBhL%2FKcMbjO%2F21IIK2liHHQGES%2ByIlFTT%2FLwg66Od2A7IhpQzSksOY84Lcef3DDe0tu5WG9BiNDxD%2FcKOWD4LVtAYhy3DGj4ZYCSh3UeZ%2BaVw2npKRqQos16uqWBonoT%2FKhVP2NNS2BNET7iZQRfzJGIUY%2BwJwqljk78BXMKHv2bAGOp0BgfnEzMUaIo8DwKk%2B7%2BkH3goXJ3Gg4LPyTiBtjkRNqFc4sT7ZSPH3FKZKzoeJzUbsKDwl2sa6LY4zoHTJ0z1%2FnbyYw6na3D5RjUO5fnkVfJh%2BnSTg5d2gc%2BC%2Bq5MwB8p2RfbhXIcpcoF1m%2FSyRx6u1wAWEQsMsBzOa5zpGONQ0amoDaV9LzRnD7i6J741fytEy0Fa6W8BvRMScSV%2BOQ%3D%3D&X-Amz-Signature=a593ea343bbc99f699b7983ec27e7828dbeea3134c0dc387f35109caa8eb22fb'}

In [17]:
ev = pd.read_parquet('EV.parquet')

In [18]:
ev[ev['ticker']=='SBSP3']

        ticker indicador       data         valor
2021275  SBSP3        EV 2011-03-29  1.655084e+10
2021276  SBSP3        EV 2011-03-30  1.665337e+10
2021277  SBSP3        EV 2011-03-31  1.698376e+10
2021278  SBSP3        EV 2011-04-01  1.706122e+10
2021279  SBSP3        EV 2011-04-02  1.706122e+10
...        ...       ...        ...           ...
2026032  SBSP3        EV 2024-04-06  7.379530e+10
2026033  SBSP3        EV 2024-04-07  7.379530e+10
2026034  SBSP3        EV 2024-04-08  7.402770e+10
2026035  SBSP3        EV 2024-04-09  7.434211e+10
2026036  SBSP3        EV 2024-04-10  7.434211e+10

[4762 rows x 4 columns]