In [42]:
import pandas as pd
from datetime import datetime, timedelta
import time
import numpy as np
import yfinance as yf
import pprint
import pprintpp

In [78]:
# pendencias:

# multiplicar valores (vpa, talvez outros) pela equivalencia de unit

In [43]:
empresas = pd.read_csv('empresas_v2.csv')
infos = pd.read_csv('infos_empresas.csv')
cotacoes = pd.read_csv('cotacoes.csv')
dividendos = pd.read_csv('dividendos.csv')
indicadores = pd.read_csv('indicadores.csv')

empresas = empresas.drop(empresas.columns[0], axis=1)
infos = infos.drop(infos.columns[0], axis=1)
cotacoes = cotacoes.drop(cotacoes.columns[0], axis=1)
dividendos = dividendos.drop(dividendos.columns[0], axis=1)
indicadores = indicadores.drop(indicadores.columns[0], axis=1)

In [44]:
anos = np.arange(2015,2024)
anos

array([2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [45]:
indicadores

,ticker,cvm_code,setor,estatal,year,roe,debt_ratio,vpa,lpa,dividendo
0,CMIG4,2453,energia,True,2015,0.190104,4.785397,5.899813,1.121575,1.219627
1,CMIG4,2453,energia,True,2016,0.025881,39.342204,5.875599,0.152066,1.293778
2,CMIG4,2453,energia,True,2017,0.069894,12.289442,6.509642,0.454987,0.487119
3,CMIG4,2453,energia,True,2018,0.109271,7.565812,7.240637,0.791195,1.288606
4,CMIG4,2453,energia,True,2019,0.198376,4.226188,7.314763,1.451075,1.450221
...,...,...,...,...,...,...,...,...,...,...
251,TIMS3,24929,telecom,False,2018,0.079137,-1.500065,8.005929,0.633563,0.236894
252,TIMS3,24929,telecom,False,2019,NaN,-inf,0.000000,0.000000,0.465888
253,TIMS3,24929,telecom,False,2020,0.079529,-1.247876,9.576464,0.761602,0.549765
254,TIMS3,24929,telecom,False,2021,NaN,inf,0.000000,0.000000,0.432831
255,TIMS3,24929,telecom,False,2022,0.065785,0.137948,10.491292,0.690165,0.578449

In [46]:
cotacao_list = []
for ticker in empresas.empresa:
    ticker = ticker + '.SA'

    acao = yf.Ticker(ticker)

    try:
        cotação_atualizada = acao.history(period="1d")["Close"].iloc[-1]
    except:
        cotação_atualizada = 0

    cotacao_list.append(cotação_atualizada)

BRSR5.SA: No price data found, symbol may be delisted (period=1d)

In [47]:
empresas['cotacao'] = cotacao_list

In [48]:
empresas

,empresa,setor,codigo_cvm,estatal,acoes_on,acoes_pn,acoes_total,equivalencia_unit,equivalencia_ticker,equivalencia_valor,cotacao
0,CMIG4,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,1.000000,11.240000
1,CMIG3,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,0.924145,14.110000
2,TAEE11,energia,20257,False,590714069,442782652,1033496721,3,TAEE11,1.000000,35.430000
3,TAEE3,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737,11.710000
4,TAEE4,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737,11.880000
5,CPLE6,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,1.000000,9.920000
6,CPLE3,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,0.908667,8.980000
7,CSMG3,saneamento,19445,True,380253069,0,380253069,1,CSMG3,1.000000,20.070000
8,SAPR11,saneamento,18627,True,503735259,1007470260,1511205519,5,SAPR11,1.000000,25.490000
9,SAPR3,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.290275,4.940000
10,SAPR4,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.319302,5.110000
11,SBSP3,saneamento,14443,True,683509869,0,683509869,1,SBSP3,1.000000,76.489998
12,BRSR3,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.000000,14.670000
13,BRSR5,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.052999,0.000000
14,BRSR6,banco,1210,True,205064841,203909636,408974477,1,BRSR3,0.996294,14.980000
15,ITSA3,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000,10.690000
16,ITSA4,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000,10.700000
17,SANB11,banco,20532,False,3818695031,3679836020,7498531051,2,SANB11,1.000000,28.570000
18,SANB3,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.595617,13.400000
19,SANB4,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.655168,15.150000
20,BBAS3,banco,1023,True,2865417020,0,2865417020,1,BBAS3,1.000000,56.910000
21,BBDC4,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,1.000000,14.370000
22,BBDC3,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,0.909082,12.630000
23,ITUB3,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000,29.879999
24,ITUB4,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000,34.799999
25,BBSE3,seguro,23159,True,2000000000,0,2000000000,1,BBSE3,1.000000,32.959999
26,PSSA3,seguro,16659,False,646586060,0,646586060,1,PSSA3,1.000000,30.780001
27,WIZC3,seguro,23590,False,159907282,0,159907282,1,WIZC3,1.000000,6.480000
28,UGPA3,combustivel,18465,False,1115404268,0,1115404268,1,UGPA3,1.000000,28.850000
29,ENAT3,combustivel,22365,False,265806905,0,265806905,1,ENAT3,1.000000,27.730000
30,VIVT3,telecom,17671,False,1652588360,0,1652588360,1,VIVT3,1.000000,53.110001
31,TIMS3,telecom,24929,False,2420804398,0,2420804398,1,TIMS3,1.000000,18.900000

In [67]:
multiplos = {
    'energia': {'vpa':1.5,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.8},
    'saneamento' : {'vpa':1.2,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.8},
    'banco' : {'vpa':2,
                'roe': 0.15,
                'pl': 15,
                'dy': 8,
                'estatal_mult': 0.7},
    'seguro' : {'vpa':1.5,
                'roe': 0.15,
                'pl': 12,
                'dy': 8,
                'estatal_mult': 0.7},
    'telecom' : {'vpa':1.5,
                'roe': 0.10,
                'pl': 10,
                'dy': 8,
                'estatal_mult': 0.7},
    'combustivel' : {'vpa':1.2,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.7}
}

In [50]:
df_list_faixas = []
for i in range(len(empresas)):
    ticker = empresas.iloc[i]['empresa']
    for ano in anos[:-1]:

        try:
            maxima = cotacoes[cotacoes['ticker']==ticker][cotacoes[cotacoes['ticker']==ticker]['year']==ano+1]['max'].values[0]
        except:
            maxima = 0
        try:
            minima = cotacoes[cotacoes['ticker']==ticker][cotacoes[cotacoes['ticker']==ticker]['year']==ano+1]['min'].values[0]
        except:
            minima = 0
        try:
            close = cotacoes[cotacoes['ticker']==ticker][cotacoes[cotacoes['ticker']==ticker]['year']==ano+1]['close'].values[0]
        except:
            close = 0

        lpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['lpa'].values[0]
        vpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['vpa'].values[0]
        div = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['dividendo'].values[0]

        pl_max = maxima/lpa
        pl_min = minima/lpa
        
        pvpa_max = maxima/vpa
        pvpa_min = minima/vpa

        dy_max = div/maxima
        dy_min = div/minima

        dicionario = {
            'ticker': ticker,
            'ano': ano+1,
            'max': maxima,
            'min': minima,
            'pl_max': pl_max,
            'pl_min': pl_min,
            'pvpa_max': pvpa_max,
            'pvpa_min': pvpa_min,
            'dy_max': dy_max,
            'dy_min': dy_min
        }

        df = pd.DataFrame(dicionario, index=[0])
        df_list_faixas.append(df)

C:\Users\eduar\AppData\Local\Temp\ipykernel_16760\2669848084.py:29: RuntimeWarning: divide by zero encountered in scalar divide
  dy_max = div/maxima
C:\Users\eduar\AppData\Local\Temp\ipykernel_16760\2669848084.py:30: RuntimeWarning: divide by zero encountered in scalar divide
  dy_min = div/minima
C:\Users\eduar\AppData\Local\Temp\ipykernel_16760\2669848084.py:29: RuntimeWarning: invalid value encountered in scalar divide
  dy_max = div/maxima
C:\Users\eduar\AppData\Local\Temp\ipykernel_16760\2669848084.py:30: RuntimeWarning: invalid value encountered in scalar divide
  dy_min = div/minima
C:\Users\eduar\AppData\Local\Temp\ipykernel_16760\2669848084.py:26: RuntimeWarning: divide by zero encountered in scalar divide
  pvpa_max = maxima/vpa
C:\Users\eduar\AppData\Local\Temp\ipykernel_16760\2669848084.py:27: RuntimeWarning: divide by zero encountered in scalar divide
  pvpa_min = minima/vpa
C:\Users\eduar\AppData\Local\Temp\ipykernel_16760\2669848084.py:23: RuntimeWarning: divide by zero encountered in scalar divide
  pl_max = maxima/lpa
C:\Users\eduar\AppData\Local\Temp\ipykernel_16760\2669848084.py:24: RuntimeWarning: divide by zero encountered in scalar divide
  pl_min = minima/lpa

In [51]:
faixas_precos = pd.concat(df_list_faixas)
faixas_precos

,ticker,ano,max,min,pl_max,pl_min,pvpa_max,pvpa_min,dy_max,dy_min
0,CMIG4,2016,9.97,4.10,8.889283,3.655573,1.689884,0.694937,0.122330,0.297470
0,CMIG4,2017,12.04,5.14,79.176061,33.801076,2.049153,0.874804,0.107457,0.251708
0,CMIG4,2018,13.87,6.46,30.484358,14.198194,2.130685,0.992374,0.035120,0.075405
0,CMIG4,2019,15.74,12.20,19.893963,15.419717,2.173842,1.684935,0.081868,0.105623
0,CMIG4,2020,16.21,7.54,11.171032,5.196149,2.216066,1.030792,0.089465,0.192337
...,...,...,...,...,...,...,...,...,...,...
0,TIMS3,2019,0.00,0.00,0.000000,0.000000,0.000000,0.000000,inf,inf
0,TIMS3,2020,15.14,11.42,inf,inf,inf,inf,0.030772,0.040796
0,TIMS3,2021,14.85,11.15,19.498368,14.640188,1.550677,1.164313,0.037021,0.049306
0,TIMS3,2022,14.63,11.65,inf,inf,inf,inf,0.029585,0.037153
0,TIMS3,2023,18.58,10.75,26.921090,15.575980,1.770993,1.024659,0.031133,0.053809

In [74]:
df_list_preco_teorico = []
for i in range(len(empresas)):
    ticker = empresas.iloc[i]['empresa']
    setor = empresas.iloc[i]['setor']
    estatal = empresas.iloc[i]['estatal']

    lpa_m = multiplos[setor]['pl']
    vpa_m = multiplos[setor]['vpa']
    dy_m = multiplos[setor]['dy']/100
    estatal_m = multiplos[setor]['estatal_mult']

    if estatal:
        lpa_m *= estatal_m
        vpa_m *= estatal_m
        dy_m /= estatal_m

    for ano in anos[:-1]:

        lpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['lpa'].values[0]
        vpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['vpa'].values[0]
        div = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['dividendo'].values[0]

        preco_lpa = lpa_m * lpa
        preco_vpa = vpa_m * vpa
        preco_dy = div/dy_m

        if vpa > preco_dy:
            preco_3_8_ajustado = (vpa - preco_dy)/2 + preco_dy
        else:
            preco_3_8_ajustado = div/0.08

        dicionario = {
            'ticker': ticker,
            'ano': ano,
            'preco_lpa': preco_lpa,
            'preco_vpa': preco_vpa,
            'preco_dy': preco_dy,
            'vpa': vpa,
            'preco_3_8': preco_3_8_ajustado
        }

        df = pd.DataFrame(dicionario, index=[0])
        df_list_preco_teorico.append(df)

In [75]:
preco_teto = pd.concat(df_list_preco_teorico)
preco_teto

   ticker   ano  preco_lpa  preco_vpa   preco_dy        vpa  preco_3_8
0   CMIG4  2015   6.280822   7.079776  12.196275   5.899813  15.245343
0   CMIG4  2016   0.851571   7.050719  12.937778   5.875599  16.172223
0   CMIG4  2017   2.547930   7.811571   4.871191   6.509642   5.690417
0   CMIG4  2018   4.430691   8.688765  12.886056   7.240637  16.107570
0   CMIG4  2019   8.126018   8.777716  14.502207   7.314763  18.127758
..    ...   ...        ...        ...        ...        ...        ...
0   TIMS3  2018   6.335630  12.008894   2.961173   8.005929   5.483551
0   TIMS3  2019   0.000000   0.000000   5.823604   0.000000   5.823604
0   TIMS3  2020   7.616022  14.364695   6.872057   9.576464   8.224260
0   TIMS3  2021   0.000000   0.000000   5.410381   0.000000   5.410381
0   TIMS3  2022   6.901652  15.736937   7.230608  10.491292   8.860950

[256 rows x 7 columns]

In [79]:
preco_teto[preco_teto['ticker']=='SAPR4']

  ticker   ano  preco_lpa  preco_vpa   preco_dy       vpa  preco_3_8
0  SAPR4  2015   1.624720   2.655559  15.597475  2.766207  19.496844
0  SAPR4  2016   2.322876   3.054731  18.887127  3.182011  23.608909
0  SAPR4  2017   2.542714   3.273246  19.855006  3.409632  24.818757
0  SAPR4  2018   3.307245   3.631869  20.429565  3.783197  25.536957
0  SAPR4  2019   4.002229   3.922006  26.292950  4.085423  32.866188
0  SAPR4  2020   3.692099   4.410675   6.068489  4.594453   7.585611
0  SAPR4  2021   4.363889   4.971718   6.671099  5.178873   8.338874
0  SAPR4  2022   4.267198   5.581909   9.219065  5.814488  11.523832