In [1]:
import pandas as pd
from datetime import datetime, timedelta
import time
import numpy as np
import yfinance as yf
import pprint
import pprintpp

In [2]:
# pendencias:

# multiplicar valores (vpa, talvez outros) pela equivalencia de unit

In [3]:
empresas = pd.read_csv('empresas_v2.csv')
infos = pd.read_csv('infos_empresas.csv')
cotacoes = pd.read_csv('cotacoes.csv')
dividendos = pd.read_csv('dividendos.csv')
indicadores = pd.read_csv('indicadores.csv')

empresas = empresas.drop(empresas.columns[0], axis=1)
infos = infos.drop(infos.columns[0], axis=1)
cotacoes = cotacoes.drop(cotacoes.columns[0], axis=1)
dividendos = dividendos.drop(dividendos.columns[0], axis=1)
indicadores = indicadores.drop(indicadores.columns[0], axis=1)

In [4]:
anos = np.arange(2015,2024)
anos

array([2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [5]:
indicadores

,ticker,cvm_code,setor,estatal,year,roe,debt_ratio,vpa,lpa,dividendo
0,CMIG4,2453,energia,True,2015,0.190104,4.785397,5.899813,1.121575,1.219627
1,CMIG4,2453,energia,True,2016,0.025881,39.342204,5.875599,0.152066,1.293778
2,CMIG4,2453,energia,True,2017,0.069894,12.289442,6.509642,0.454987,0.487119
3,CMIG4,2453,energia,True,2018,0.109271,7.565812,7.240637,0.791195,1.288606
4,CMIG4,2453,energia,True,2019,0.198376,4.226188,7.314763,1.451075,1.450221
...,...,...,...,...,...,...,...,...,...,...
251,TIMS3,24929,telecom,False,2018,0.079137,-1.500065,8.005929,0.633563,0.236894
252,TIMS3,24929,telecom,False,2019,NaN,-inf,0.000000,0.000000,0.465888
253,TIMS3,24929,telecom,False,2020,0.079529,-1.247876,9.576464,0.761602,0.549765
254,TIMS3,24929,telecom,False,2021,NaN,inf,0.000000,0.000000,0.432831
255,TIMS3,24929,telecom,False,2022,0.065785,0.137948,10.491292,0.690165,0.578449

In [6]:
cotacao_list = []
for ticker in empresas.empresa:
    ticker = ticker + '.SA'

    acao = yf.Ticker(ticker)

    try:
        cotação_atualizada = acao.history(period="1d")["Close"].iloc[-1]
    except:
        cotação_atualizada = 0

    cotacao_list.append(cotação_atualizada)

In [7]:
empresas['cotacao'] = cotacao_list

In [8]:
empresas

,empresa,setor,codigo_cvm,estatal,acoes_on,acoes_pn,acoes_total,equivalencia_unit,equivalencia_ticker,equivalencia_valor,cotacao
0,CMIG4,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,1.000000,11.100000
1,CMIG3,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,0.924145,13.900000
2,TAEE11,energia,20257,False,590714069,442782652,1033496721,3,TAEE11,1.000000,35.419998
3,TAEE3,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737,11.700000
4,TAEE4,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737,11.870000
5,CPLE6,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,1.000000,9.930000
6,CPLE3,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,0.908667,9.010000
7,CSMG3,saneamento,19445,True,380253069,0,380253069,1,CSMG3,1.000000,20.080000
8,SAPR11,saneamento,18627,True,503735259,1007470260,1511205519,5,SAPR11,1.000000,25.430000
9,SAPR3,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.290275,4.960000
10,SAPR4,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.319302,5.100000
11,SBSP3,saneamento,14443,True,683509869,0,683509869,1,SBSP3,1.000000,76.489998
12,BRSR3,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.000000,14.670000
13,BRSR5,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.052999,18.400000
14,BRSR6,banco,1210,True,205064841,203909636,408974477,1,BRSR3,0.996294,15.000000
15,ITSA3,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000,10.720000
16,ITSA4,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000,10.700000
17,SANB11,banco,20532,False,3818695031,3679836020,7498531051,2,SANB11,1.000000,28.600000
18,SANB3,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.595617,13.420000
19,SANB4,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.655168,15.140000
20,BBAS3,banco,1023,True,2865417020,0,2865417020,1,BBAS3,1.000000,56.709999
21,BBDC4,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,1.000000,14.330000
22,BBDC3,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,0.909082,12.600000
23,ITUB3,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000,29.840000
24,ITUB4,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000,34.730000
25,BBSE3,seguro,23159,True,2000000000,0,2000000000,1,BBSE3,1.000000,33.110001
26,PSSA3,seguro,16659,False,646586060,0,646586060,1,PSSA3,1.000000,30.830000
27,WIZC3,seguro,23590,False,159907282,0,159907282,1,WIZC3,1.000000,6.420000
28,UGPA3,combustivel,18465,False,1115404268,0,1115404268,1,UGPA3,1.000000,28.709999
29,ENAT3,combustivel,22365,False,265806905,0,265806905,1,ENAT3,1.000000,27.850000
30,VIVT3,telecom,17671,False,1652588360,0,1652588360,1,VIVT3,1.000000,53.150002
31,TIMS3,telecom,24929,False,2420804398,0,2420804398,1,TIMS3,1.000000,18.760000

In [9]:
multiplos = {
    'energia': {'vpa':1.5,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.8},
    'saneamento' : {'vpa':1.2,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.8},
    'banco' : {'vpa':2,
                'roe': 0.15,
                'pl': 15,
                'dy': 8,
                'estatal_mult': 0.7},
    'seguro' : {'vpa':1.5,
                'roe': 0.15,
                'pl': 12,
                'dy': 8,
                'estatal_mult': 0.7},
    'telecom' : {'vpa':1.5,
                'roe': 0.10,
                'pl': 10,
                'dy': 8,
                'estatal_mult': 0.7},
    'combustivel' : {'vpa':1.2,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.7}
}

In [10]:
df_list_faixas = []
for i in range(len(empresas)):
    ticker = empresas.iloc[i]['empresa']
    for ano in anos[:-1]:

        try:
            maxima = cotacoes[cotacoes['ticker']==ticker][cotacoes[cotacoes['ticker']==ticker]['year']==ano+1]['max'].values[0]
        except:
            maxima = 0
        try:
            minima = cotacoes[cotacoes['ticker']==ticker][cotacoes[cotacoes['ticker']==ticker]['year']==ano+1]['min'].values[0]
        except:
            minima = 0
        try:
            close = cotacoes[cotacoes['ticker']==ticker][cotacoes[cotacoes['ticker']==ticker]['year']==ano+1]['close'].values[0]
        except:
            close = 0

        lpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['lpa'].values[0]
        vpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['vpa'].values[0]
        div = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['dividendo'].values[0]

        pl_max = maxima/lpa
        pl_min = minima/lpa
        
        pvpa_max = maxima/vpa
        pvpa_min = minima/vpa

        dy_max = div/maxima
        dy_min = div/minima

        dicionario = {
            'ticker': ticker,
            'ano': ano+1,
            'max': maxima,
            'min': minima,
            'pl_max': pl_max,
            'pl_min': pl_min,
            'pvpa_max': pvpa_max,
            'pvpa_min': pvpa_min,
            'dy_max': dy_max,
            'dy_min': dy_min
        }

        df = pd.DataFrame(dicionario, index=[0])
        df_list_faixas.append(df)

C:\Users\eduar\AppData\Local\Temp\ipykernel_11160\2669848084.py:29: RuntimeWarning: divide by zero encountered in scalar divide
  dy_max = div/maxima
C:\Users\eduar\AppData\Local\Temp\ipykernel_11160\2669848084.py:30: RuntimeWarning: divide by zero encountered in scalar divide
  dy_min = div/minima
C:\Users\eduar\AppData\Local\Temp\ipykernel_11160\2669848084.py:29: RuntimeWarning: invalid value encountered in scalar divide
  dy_max = div/maxima
C:\Users\eduar\AppData\Local\Temp\ipykernel_11160\2669848084.py:30: RuntimeWarning: invalid value encountered in scalar divide
  dy_min = div/minima
C:\Users\eduar\AppData\Local\Temp\ipykernel_11160\2669848084.py:26: RuntimeWarning: divide by zero encountered in scalar divide
  pvpa_max = maxima/vpa
C:\Users\eduar\AppData\Local\Temp\ipykernel_11160\2669848084.py:27: RuntimeWarning: divide by zero encountered in scalar divide
  pvpa_min = minima/vpa
C:\Users\eduar\AppData\Local\Temp\ipykernel_11160\2669848084.py:23: RuntimeWarning: divide by zero encountered in scalar divide
  pl_max = maxima/lpa
C:\Users\eduar\AppData\Local\Temp\ipykernel_11160\2669848084.py:24: RuntimeWarning: divide by zero encountered in scalar divide
  pl_min = minima/lpa

In [11]:
faixas_precos = pd.concat(df_list_faixas)
faixas_precos

,ticker,ano,max,min,pl_max,pl_min,pvpa_max,pvpa_min,dy_max,dy_min
0,CMIG4,2016,9.97,4.10,8.889283,3.655573,1.689884,0.694937,0.122330,0.297470
0,CMIG4,2017,12.04,5.14,79.176061,33.801076,2.049153,0.874804,0.107457,0.251708
0,CMIG4,2018,13.87,6.46,30.484358,14.198194,2.130685,0.992374,0.035120,0.075405
0,CMIG4,2019,15.74,12.20,19.893963,15.419717,2.173842,1.684935,0.081868,0.105623
0,CMIG4,2020,16.21,7.54,11.171032,5.196149,2.216066,1.030792,0.089465,0.192337
...,...,...,...,...,...,...,...,...,...,...
0,TIMS3,2019,0.00,0.00,0.000000,0.000000,0.000000,0.000000,inf,inf
0,TIMS3,2020,15.14,11.42,inf,inf,inf,inf,0.030772,0.040796
0,TIMS3,2021,14.85,11.15,19.498368,14.640188,1.550677,1.164313,0.037021,0.049306
0,TIMS3,2022,14.63,11.65,inf,inf,inf,inf,0.029585,0.037153
0,TIMS3,2023,18.58,10.75,26.921090,15.575980,1.770993,1.024659,0.031133,0.053809

In [20]:
df_list_preco_teorico = []
for i in range(len(empresas)):
    ticker = empresas.iloc[i]['empresa']
    setor = empresas.iloc[i]['setor']
    estatal = empresas.iloc[i]['estatal']

    lpa_m = multiplos[setor]['pl']
    vpa_m = multiplos[setor]['vpa']
    dy_m = multiplos[setor]['dy']/100
    estatal_m = multiplos[setor]['estatal_mult']

    if estatal:
        lpa_m *= estatal_m
        vpa_m *= estatal_m
        dy_m /= estatal_m

    for ano in anos[:-1]:

        lpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['lpa'].values[0]
        vpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['vpa'].values[0]
        div = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['dividendo'].values[0]

        preco_lpa = lpa_m * lpa
        preco_vpa = vpa_m * vpa
        preco_dy = div/dy_m

        if vpa > preco_dy:
            preco_3_8_ajustado = (vpa - preco_dy)/2 + preco_dy
        else:
            preco_3_8_ajustado = div/0.08

        medias = [preco_lpa, preco_vpa, preco_dy]
        if preco_3_8_ajustado == preco_dy:
            pass
        else:
            medias.append(preco_3_8_ajustado)
        medias_df = pd.DataFrame()
        medias_df['precos'] = medias

        media = medias_df['precos'].mean()
        mediana = medias_df['precos'].median()

        dicionario = {
            'ticker': ticker,
            'ano': ano,
            'preco_lpa': preco_lpa,
            'preco_vpa': preco_vpa,
            'preco_dy': preco_dy,
            'preco_3_8': preco_3_8_ajustado,
            'media': media,
            'mediana': mediana
        }

        df = pd.DataFrame(dicionario, index=[0])
        df_list_preco_teorico.append(df)

In [29]:
preco_teorico = pd.concat(df_list_preco_teorico)
preco_teorico

,ticker,ano,preco_lpa,preco_vpa,preco_dy,preco_3_8,media,mediana
0,CMIG4,2015,6.280822,7.079776,12.196275,15.245343,10.200554,9.638025
0,CMIG4,2016,0.851571,7.050719,12.937778,16.172223,9.253073,9.994249
0,CMIG4,2017,2.547930,7.811571,4.871191,5.690417,5.230277,5.280804
0,CMIG4,2018,4.430691,8.688765,12.886056,16.107570,10.528270,10.787410
0,CMIG4,2019,8.126018,8.777716,14.502207,18.127758,12.383425,11.639961
...,...,...,...,...,...,...,...,...
0,TIMS3,2018,6.335630,12.008894,2.961173,5.483551,6.697312,5.909590
0,TIMS3,2019,0.000000,0.000000,5.823604,5.823604,1.941201,0.000000
0,TIMS3,2020,7.616022,14.364695,6.872057,8.224260,9.269259,7.920141
0,TIMS3,2021,0.000000,0.000000,5.410381,5.410381,1.803460,0.000000
0,TIMS3,2022,6.901652,15.736937,7.230608,8.860950,9.682537,8.045779

In [32]:
preco_teorico

,ticker,ano,preco_lpa,preco_vpa,preco_dy,preco_3_8,media,mediana
0,CMIG4,2015,6.280822,7.079776,12.196275,15.245343,10.200554,9.638025
0,CMIG4,2016,0.851571,7.050719,12.937778,16.172223,9.253073,9.994249
0,CMIG4,2017,2.547930,7.811571,4.871191,5.690417,5.230277,5.280804
0,CMIG4,2018,4.430691,8.688765,12.886056,16.107570,10.528270,10.787410
0,CMIG4,2019,8.126018,8.777716,14.502207,18.127758,12.383425,11.639961
...,...,...,...,...,...,...,...,...
0,TIMS3,2018,6.335630,12.008894,2.961173,5.483551,6.697312,5.909590
0,TIMS3,2019,0.000000,0.000000,5.823604,5.823604,1.941201,0.000000
0,TIMS3,2020,7.616022,14.364695,6.872057,8.224260,9.269259,7.920141
0,TIMS3,2021,0.000000,0.000000,5.410381,5.410381,1.803460,0.000000
0,TIMS3,2022,6.901652,15.736937,7.230608,8.860950,9.682537,8.045779

In [36]:
fator_preco_dividendo_3_8 = 0.08

lista_dfs_preco_teto = []

for i in range(len(empresas)):
    ticker = empresas.iloc[i]['empresa']
    preco = empresas.iloc[i]['cotacao']

    dados_indicadores = indicadores[indicadores['ticker']==ticker]
    media_dividendos_3_anos = dados_indicadores.iloc[-3:]['dividendo'].mean()
    
    ultimo_dado_vpa = dados_indicadores.iloc[-1]['vpa']
    
    preco_3_8 = media_dividendos_3_anos/fator_preco_dividendo_3_8

    if ultimo_dado_vpa > preco_3_8:
        preco_3_8_ajustado = (ultimo_dado_vpa-preco_3_8)/2 + preco_3_8
    else:
        preco_3_8_ajustado = preco_3_8

    dados_preco_teorico = preco_teorico[preco_teorico['ticker']==ticker]
    dados_preco_teorico = dados_preco_teorico.iloc[-1]

    preco_lpa = dados_preco_teorico['preco_lpa']
    preco_vpa = dados_preco_teorico['preco_vpa']

    preco_indicadores = (preco_vpa + preco_lpa)/2
    
    preco_medio = dados_preco_teorico['media']
    preco_mediano = dados_preco_teorico['mediana']

    lista_precos_via_outros_indicadores = [preco_lpa, preco_vpa, preco_medio, preco_mediano]
    preco_teto_indicadores = min(lista_precos_via_outros_indicadores)
    
    lista_precos_teto = [preco_3_8_ajustado, preco_teto_indicadores, preco_indicadores]
    preco_teto = min(lista_precos_teto)

    dicionario = {
        'ticker': ticker,
        'preco': preco,
        'min_52_sem': 'add',
        'max_52_sem': 'add',
        'preco_teto_lpa': preco_lpa,
        'preco_teto_vpa': preco_vpa,
        'preco_medio': preco_medio,
        'preco_mediano': preco_mediano,
        'preco_3_8': preco_3_8_ajustado,
        'preco_indicadore': preco_indicadores,
        'preco_teto': preco_teto
    }

    preco_teto = pd.DataFrame(dicionario, index=[0])
    lista_dfs_preco_teto.append(preco_teto)

In [37]:
preco_teto = pd.concat(lista_dfs_preco_teto)
preco_teto

,ticker,preco,min_52_sem,max_52_sem,preco_teto_lpa,preco_teto_vpa,preco_medio,preco_mediano,preco_3_8,preco_indicadore,preco_teto
0,CMIG4,11.100000,add,add,10.415536,11.874383,22.810441,21.259824,27.688617,11.144960,10.415536
0,CMIG3,13.900000,add,add,10.415536,11.874383,22.810441,21.259824,27.688617,11.144960,10.415536
0,TAEE11,35.419998,add,add,29.447133,28.608840,80.034469,29.447133,157.116509,29.027986,28.608840
0,TAEE3,11.700000,add,add,9.815711,9.536280,26.678156,9.815711,52.372170,9.675995,9.536280
0,TAEE4,11.870000,add,add,9.815711,9.536280,26.678156,9.815711,52.372170,9.675995,9.536280
0,CPLE6,9.930000,add,add,2.157763,8.501200,12.627941,13.106778,44.127756,5.329481,2.157763
0,CPLE3,9.010000,add,add,2.157763,8.501200,11.722119,12.301603,40.116085,5.329481,2.157763
0,CSMG3,20.080000,add,add,12.420221,18.314996,11.509814,11.940471,40.382262,15.367609,11.509814
0,SAPR11,25.430000,add,add,21.335989,27.909544,37.768575,36.583387,44.915427,24.622767,21.335989
0,SAPR3,4.960000,add,add,4.267198,5.581909,7.176571,6.981439,8.317672,4.924553,4.267198
0,SAPR4,5.100000,add,add,4.267198,5.581909,7.648001,7.400487,9.149439,4.924553,4.267198
0,SBSP3,76.489998,add,add,25.572557,0.000000,11.695827,10.605375,11.322083,12.786279,0.000000
0,BRSR3,14.670000,add,add,21.623699,32.589878,25.139704,23.172619,31.152176,27.106789,21.623699
0,BRSR5,18.400000,add,add,21.623699,32.589878,27.789980,28.019186,34.571966,27.106789,21.623699
0,BRSR6,15.000000,add,add,21.623699,32.589878,25.139704,23.172619,31.152176,27.106789,21.623699
0,ITSA3,10.720000,add,add,20.556442,14.820661,16.909355,15.350963,13.777112,17.688551,13.777112
0,ITSA4,10.700000,add,add,20.556442,14.820661,16.909355,15.350963,13.777112,17.688551,13.777112
0,SANB11,28.600000,add,add,57.369136,59.040991,66.824695,59.040991,98.535014,58.205064,57.369136
0,SANB3,13.420000,add,add,28.684568,29.520495,32.745173,29.520495,46.921435,29.102532,28.684568
0,SANB4,15.140000,add,add,28.684568,29.520495,34.079522,29.520495,51.613579,29.102532,28.684568
0,BBAS3,56.709999,add,add,109.935963,79.892334,68.275064,63.335819,45.020405,94.914148,45.020405
0,BBDC4,14.330000,add,add,30.243037,30.071091,20.935723,21.446264,17.980891,30.157064,17.980891
0,BBDC3,12.600000,add,add,30.243037,30.071091,20.574110,21.205188,16.346264,30.157064,16.346264
0,ITUB3,29.840000,add,add,46.269251,36.129040,35.950597,36.129040,26.925400,41.199146,26.925400
0,ITUB4,34.730000,add,add,46.269251,36.129040,35.950597,36.129040,26.925400,41.199146,26.925400
0,BBSE3,33.110001,add,add,26.024943,4.219283,18.005925,20.889737,29.589517,15.122113,4.219283
0,PSSA3,30.830000,add,add,21.480463,24.540608,18.981138,18.450879,24.633179,23.010536,18.450879
0,WIZC3,6.420000,add,add,15.991767,8.488169,10.609772,8.488169,7.773457,12.239968,7.773457
0,UGPA3,28.709999,add,add,11.547816,13.098355,10.258158,10.324201,8.505294,12.323086,8.505294
0,ENAT3,27.850000,add,add,10.096145,18.554015,16.668449,18.554015,14.074519,14.325080,10.096145
0,VIVT3,53.150002,add,add,24.554826,62.135117,41.176805,39.008639,41.407714,43.344971,24.554826
0,TIMS3,18.760000,add,add,6.901652,15.736937,9.682537,8.045779,8.497820,11.319295,6.901652

In [ ]:
# Agora falta escolher a metodologia para escolher o verdadeiro preco teto, sugestoes:
    # preco 3/8
    # se preco 3/8 muito alto:
        # escolher algum outro - ordenar por melhor a pior escolha
        # se a melhor for muito alto ou baixo, ir para o próximo até encontrar um que seja viável

#obs: usar as faixas de preco para estipular o que seria um bom preco de compra (faixa de 20% dos menores múltiplos)

# Por último, criar outro código para vizualização dos preços e indicadores