In [103]:
import pandas as pd
from datetime import datetime, timedelta
import time
import numpy as np
import yfinance as yf
import pprint
import pprintpp

In [104]:
empresas = pd.read_csv('empresas_v2.csv')
infos = pd.read_csv('infos_empresas.csv')
cotacoes = pd.read_csv('cotacoes.csv')
dividendos = pd.read_csv('dividendos.csv')
indicadores = pd.read_csv('indicadores.csv')

empresas = empresas.drop(empresas.columns[0], axis=1)
infos = infos.drop(infos.columns[0], axis=1)
cotacoes = cotacoes.drop(cotacoes.columns[0], axis=1)
dividendos = dividendos.drop(dividendos.columns[0], axis=1)
indicadores = indicadores.drop(indicadores.columns[0], axis=1)

In [105]:
anos = np.arange(2015,2024)
hoje = datetime.now()
um_ano_atras = hoje - timedelta(days=365)
anos

array([2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023])

In [106]:
indicadores

,ticker,cvm_code,setor,estatal,year,roe,debt_ratio,vpa,lpa,dividendo
0,CMIG4,2453,energia,True,2015,0.190104,4.785397,5.899813,1.121575,1.219627
1,CMIG4,2453,energia,True,2016,0.025881,39.342204,5.875599,0.152066,1.293778
2,CMIG4,2453,energia,True,2017,0.069894,12.289442,6.509642,0.454987,0.487119
3,CMIG4,2453,energia,True,2018,0.109271,7.565812,7.240637,0.791195,1.288606
4,CMIG4,2453,energia,True,2019,0.198376,4.226188,7.314763,1.451075,1.450221
...,...,...,...,...,...,...,...,...,...,...
251,TIMS3,24929,telecom,False,2018,0.079137,-1.500065,8.005929,0.633563,0.236894
252,TIMS3,24929,telecom,False,2019,NaN,-inf,0.000000,0.000000,0.465888
253,TIMS3,24929,telecom,False,2020,0.079529,-1.247876,9.576464,0.761602,0.549765
254,TIMS3,24929,telecom,False,2021,NaN,inf,0.000000,0.000000,0.432831
255,TIMS3,24929,telecom,False,2022,0.065785,0.137948,10.491292,0.690165,0.578449

In [107]:
cotacao_list = []
min_52_list = []
max_52_list = []
for ticker in empresas.empresa:
    ticker = ticker + '.SA'

    acao = yf.Ticker(ticker)

    try:
        cotaÃ§Ã£o_atualizada = acao.history(period="1d")["Close"].iloc[-1]
    except:
        cotaÃ§Ã£o_atualizada = 0

    cotacoes_acao = yf.download(ticker, um_ano_atras, hoje)
    min_52_w = cotacoes_acao['Low'].min()
    max_52_w = cotacoes_acao['High'].max()

    cotacao_list.append(cotaÃ§Ã£o_atualizada)
    min_52_list.append(min_52_w)
    max_52_list.append(max_52_w)

[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed
[*********************100%%**********************]  1 of 1 completed

In [108]:
empresas['cotacao'] = cotacao_list
empresas['max_52_weeks'] = max_52_list
empresas['min_52_weeks'] = min_52_list

In [109]:
empresas

,empresa,setor,codigo_cvm,estatal,acoes_on,acoes_pn,acoes_total,equivalencia_unit,equivalencia_ticker,equivalencia_valor,cotacao,max_52_weeks,min_52_weeks
0,CMIG4,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,1.000000,11.580000,13.630000,10.320000
1,CMIG3,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,0.924145,13.230000,21.100000,13.100000
2,TAEE11,energia,20257,False,590714069,442782652,1033496721,3,TAEE11,1.000000,35.299999,38.619999,33.240002
3,TAEE3,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737,11.700000,12.970000,11.030000
4,TAEE4,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737,11.900000,12.920000,11.120000
5,CPLE6,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,1.000000,9.750000,10.550000,6.548160
6,CPLE3,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,0.908667,8.810000,9.580000,5.830000
7,CSMG3,saneamento,19445,True,380253069,0,380253069,1,CSMG3,1.000000,20.040001,22.889999,14.830000
8,SAPR11,saneamento,18627,True,503735259,1007470260,1511205519,5,SAPR11,1.000000,25.440001,29.719999,16.860001
9,SAPR3,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.290275,4.950000,5.630000,3.230000
10,SAPR4,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.319302,5.100000,5.990000,3.370000
11,SBSP3,saneamento,14443,True,683509869,0,683509869,1,SBSP3,1.000000,76.010002,83.699997,43.779999
12,BRSR3,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.000000,14.300000,15.430000,10.350000
13,BRSR5,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.052999,18.400000,19.990000,15.000000
14,BRSR6,banco,1210,True,205064841,203909636,408974477,1,BRSR3,0.996294,15.090000,15.730000,9.350000
15,ITSA3,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000,10.720000,10.940000,7.519517
16,ITSA4,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000,10.650000,10.940000,7.255030
17,SANB11,banco,20532,False,3818695031,3679836020,7498531051,2,SANB11,1.000000,28.660000,32.480000,25.270000
18,SANB3,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.595617,13.450000,15.400000,11.760000
19,SANB4,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.655168,15.230000,17.030001,13.520000
20,BBAS3,banco,1023,True,2865417020,0,2865417020,1,BBAS3,1.000000,56.029999,59.910000,36.700001
21,BBDC4,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,1.000000,14.200000,17.740000,12.390000
22,BBDC3,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,0.909082,12.680000,15.770000,11.150000
23,ITUB3,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000,29.719999,31.020000,19.530001
24,ITUB4,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000,34.680000,35.950001,22.740000
25,BBSE3,seguro,23159,True,2000000000,0,2000000000,1,BBSE3,1.000000,33.259998,36.090000,29.209999
26,PSSA3,seguro,16659,False,646586060,0,646586060,1,PSSA3,1.000000,30.950001,31.320000,22.139999
27,WIZC3,seguro,23590,False,159907282,0,159907282,1,WIZC3,1.000000,6.350000,7.380000,4.940000
28,UGPA3,combustivel,18465,False,1115404268,0,1115404268,1,UGPA3,1.000000,28.389999,31.280001,12.670000
29,ENAT3,combustivel,22365,False,265806905,0,265806905,1,ENAT3,1.000000,28.150000,28.600000,10.270000
30,VIVT3,telecom,17671,False,1652588360,0,1652588360,1,VIVT3,1.000000,51.680000,56.610001,37.200001
31,TIMS3,telecom,24929,False,2420804398,0,2420804398,1,TIMS3,1.000000,18.600000,19.080000,12.110000

In [110]:
multiplos = {
    'energia': {'vpa':1.5,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.8},
    'saneamento' : {'vpa':1.2,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.8},
    'banco' : {'vpa':1.5,
                'roe': 0.15,
                'pl': 10,
                'dy': 8,
                'estatal_mult': 0.7},
    'seguro' : {'vpa':1.5,
                'roe': 0.15,
                'pl': 12,
                'dy': 8,
                'estatal_mult': 0.7},
    'telecom' : {'vpa':1.5,
                'roe': 0.10,
                'pl': 10,
                'dy': 8,
                'estatal_mult': 0.7},
    'combustivel' : {'vpa':1.2,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.7}
}

In [111]:
df_list_faixas = []
for i in range(len(empresas)):
    ticker = empresas.iloc[i]['empresa']
    for ano in anos[:-1]:

        try:
            maxima = cotacoes[cotacoes['ticker']==ticker][cotacoes[cotacoes['ticker']==ticker]['year']==ano+1]['max'].values[0]
        except:
            maxima = 0
        try:
            minima = cotacoes[cotacoes['ticker']==ticker][cotacoes[cotacoes['ticker']==ticker]['year']==ano+1]['min'].values[0]
        except:
            minima = 0
        try:
            close = cotacoes[cotacoes['ticker']==ticker][cotacoes[cotacoes['ticker']==ticker]['year']==ano+1]['close'].values[0]
        except:
            close = 0

        lpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['lpa'].values[0]
        vpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['vpa'].values[0]
        div = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['dividendo'].values[0]

        pl_max = maxima/lpa
        pl_min = minima/lpa
        
        pvpa_max = maxima/vpa
        pvpa_min = minima/vpa

        dy_max = div/maxima
        dy_min = div/minima

        dicionario = {
            'ticker': ticker,
            'ano': ano+1,
            'max': maxima,
            'min': minima,
            'pl_max': pl_max,
            'pl_min': pl_min,
            'pvpa_max': pvpa_max,
            'pvpa_min': pvpa_min,
            'dy_max': dy_max,
            'dy_min': dy_min
        }

        df = pd.DataFrame(dicionario, index=[0])
        df_list_faixas.append(df)

C:\Users\eduar\AppData\Local\Temp\ipykernel_7076\2669848084.py:29: RuntimeWarning: divide by zero encountered in scalar divide
  dy_max = div/maxima
C:\Users\eduar\AppData\Local\Temp\ipykernel_7076\2669848084.py:30: RuntimeWarning: divide by zero encountered in scalar divide
  dy_min = div/minima
C:\Users\eduar\AppData\Local\Temp\ipykernel_7076\2669848084.py:29: RuntimeWarning: invalid value encountered in scalar divide
  dy_max = div/maxima
C:\Users\eduar\AppData\Local\Temp\ipykernel_7076\2669848084.py:30: RuntimeWarning: invalid value encountered in scalar divide
  dy_min = div/minima
C:\Users\eduar\AppData\Local\Temp\ipykernel_7076\2669848084.py:26: RuntimeWarning: divide by zero encountered in scalar divide
  pvpa_max = maxima/vpa
C:\Users\eduar\AppData\Local\Temp\ipykernel_7076\2669848084.py:27: RuntimeWarning: divide by zero encountered in scalar divide
  pvpa_min = minima/vpa
C:\Users\eduar\AppData\Local\Temp\ipykernel_7076\2669848084.py:23: RuntimeWarning: divide by zero encountered in scalar divide
  pl_max = maxima/lpa
C:\Users\eduar\AppData\Local\Temp\ipykernel_7076\2669848084.py:24: RuntimeWarning: divide by zero encountered in scalar divide
  pl_min = minima/lpa

In [112]:
faixas_precos = pd.concat(df_list_faixas)
faixas_precos

,ticker,ano,max,min,pl_max,pl_min,pvpa_max,pvpa_min,dy_max,dy_min
0,CMIG4,2016,9.97,4.10,8.889283,3.655573,1.689884,0.694937,0.122330,0.297470
0,CMIG4,2017,12.04,5.14,79.176061,33.801076,2.049153,0.874804,0.107457,0.251708
0,CMIG4,2018,13.87,6.46,30.484358,14.198194,2.130685,0.992374,0.035120,0.075405
0,CMIG4,2019,15.74,12.20,19.893963,15.419717,2.173842,1.684935,0.081868,0.105623
0,CMIG4,2020,16.21,7.54,11.171032,5.196149,2.216066,1.030792,0.089465,0.192337
...,...,...,...,...,...,...,...,...,...,...
0,TIMS3,2019,0.00,0.00,0.000000,0.000000,0.000000,0.000000,inf,inf
0,TIMS3,2020,15.14,11.42,inf,inf,inf,inf,0.030772,0.040796
0,TIMS3,2021,14.85,11.15,19.498368,14.640188,1.550677,1.164313,0.037021,0.049306
0,TIMS3,2022,14.63,11.65,inf,inf,inf,inf,0.029585,0.037153
0,TIMS3,2023,18.58,10.75,26.921090,15.575980,1.770993,1.024659,0.031133,0.053809

In [113]:
df_list_preco_teorico = []
for i in range(len(empresas)):
    ticker = empresas.iloc[i]['empresa']
    setor = empresas.iloc[i]['setor']
    estatal = empresas.iloc[i]['estatal']

    lpa_m = multiplos[setor]['pl']
    vpa_m = multiplos[setor]['vpa']
    dy_m = multiplos[setor]['dy']/100
    estatal_m = multiplos[setor]['estatal_mult']

    if estatal:
        lpa_m *= estatal_m
        vpa_m *= estatal_m
        dy_m /= estatal_m

    for ano in anos[:-1]:

        lpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['lpa'].values[0]
        vpa = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['vpa'].values[0]
        div = indicadores[indicadores['ticker']==ticker][indicadores[indicadores['ticker']==ticker]['year']==ano]['dividendo'].values[0]

        preco_lpa = lpa_m * lpa
        preco_vpa = vpa_m * vpa
        preco_dy = div/dy_m

        if vpa > preco_dy:
            preco_3_8_ajustado = (vpa - preco_dy)/2 + preco_dy
        else:
            preco_3_8_ajustado = div/0.08

        medias = [preco_lpa, preco_vpa, preco_dy]
        if preco_3_8_ajustado == preco_dy:
            pass
        else:
            medias.append(preco_3_8_ajustado)
        medias_df = pd.DataFrame()
        medias_df['precos'] = medias

        media = medias_df['precos'].mean()
        mediana = medias_df['precos'].median()

        dicionario = {
            'ticker': ticker,
            'ano': ano,
            'preco_lpa': preco_lpa,
            'preco_vpa': preco_vpa,
            'preco_dy': preco_dy,
            'preco_3_8': preco_3_8_ajustado,
            'media': media,
            'mediana': mediana
        }

        df = pd.DataFrame(dicionario, index=[0])
        df_list_preco_teorico.append(df)

In [114]:
preco_teorico = pd.concat(df_list_preco_teorico)
preco_teorico

,ticker,ano,preco_lpa,preco_vpa,preco_dy,preco_3_8,media,mediana
0,CMIG4,2015,6.280822,7.079776,12.196275,15.245343,10.200554,9.638025
0,CMIG4,2016,0.851571,7.050719,12.937778,16.172223,9.253073,9.994249
0,CMIG4,2017,2.547930,7.811571,4.871191,5.690417,5.230277,5.280804
0,CMIG4,2018,4.430691,8.688765,12.886056,16.107570,10.528270,10.787410
0,CMIG4,2019,8.126018,8.777716,14.502207,18.127758,12.383425,11.639961
...,...,...,...,...,...,...,...,...
0,TIMS3,2018,6.335630,12.008894,2.961173,5.483551,6.697312,5.909590
0,TIMS3,2019,0.000000,0.000000,5.823604,5.823604,1.941201,0.000000
0,TIMS3,2020,7.616022,14.364695,6.872057,8.224260,9.269259,7.920141
0,TIMS3,2021,0.000000,0.000000,5.410381,5.410381,1.803460,0.000000
0,TIMS3,2022,6.901652,15.736937,7.230608,8.860950,9.682537,8.045779

In [115]:
fator_preco_dividendo_3_8 = 0.08

lista_dfs_preco_teto = []

for i in range(len(empresas)):
    ticker = empresas.iloc[i]['empresa']
    preco = empresas.iloc[i]['cotacao']
    max_52_w = empresas.iloc[i]['max_52_weeks']
    min_52_w = empresas.iloc[i]['min_52_weeks']

    dados_indicadores = indicadores[indicadores['ticker']==ticker]
    media_dividendos_3_anos = dados_indicadores.iloc[-3:]['dividendo'].mean()
    
    ultimo_dado_vpa = dados_indicadores.iloc[-1]['vpa']
    
    preco_3_8 = media_dividendos_3_anos/fator_preco_dividendo_3_8

    if ultimo_dado_vpa > preco_3_8:
        preco_3_8_ajustado = (ultimo_dado_vpa-preco_3_8)/2 + preco_3_8
    else:
        preco_3_8_ajustado = preco_3_8

    dados_preco_teorico = preco_teorico[preco_teorico['ticker']==ticker]
    dados_preco_teorico = dados_preco_teorico.iloc[-1]

    preco_lpa = dados_preco_teorico['preco_lpa']
    preco_vpa = dados_preco_teorico['preco_vpa']

    preco_indicadores = (preco_vpa + preco_lpa)/2
    
    preco_medio = dados_preco_teorico['media']
    preco_mediano = dados_preco_teorico['mediana']

    lista_precos_via_outros_indicadores = [preco_lpa, preco_vpa, preco_medio, preco_mediano]
    preco_teto_indicadores = min(lista_precos_via_outros_indicadores)
    
    lista_precos_teto = [preco_3_8_ajustado, preco_teto_indicadores, preco_indicadores]
    preco_teto = min(lista_precos_teto)

    dicionario = {
        'ticker': ticker,
        'preco': preco,
        'min_52_sem': min_52_w,
        'max_52_sem': max_52_w,
        'preco_teto_lpa': preco_lpa,
        'preco_teto_vpa': preco_vpa,
        'preco_medio': preco_medio,
        'preco_mediano': preco_mediano,
        'preco_medio_mediano': min([preco_mediano, preco_medio]),
        'dividendos_3_anos': media_dividendos_3_anos,
        'preco_3_8': preco_3_8_ajustado,
        'preco_indicadores': preco_indicadores,
        'preco_teto': preco_teto
    }

    preco_teto = pd.DataFrame(dicionario, index=[0])
    lista_dfs_preco_teto.append(preco_teto)

In [116]:
preco_teto = pd.concat(lista_dfs_preco_teto)
preco_teto

,ticker,preco,min_52_sem,max_52_sem,preco_teto_lpa,preco_teto_vpa,preco_medio,preco_mediano,preco_medio_mediano,dividendos_3_anos,preco_3_8,preco_indicadores,preco_teto
0,CMIG4,11.580000,10.320000,13.630000,10.415536,11.874383,22.810441,21.259824,21.259824,2.215089,27.688617,11.144960,10.415536
0,CMIG3,13.230000,13.100000,21.100000,10.415536,11.874383,22.810441,21.259824,21.259824,2.215089,27.688617,11.144960,10.415536
0,TAEE11,35.299999,33.240002,38.619999,29.447133,28.608840,80.034469,29.447133,29.447133,12.569321,157.116509,29.027986,28.608840
0,TAEE3,11.700000,11.030000,12.970000,9.815711,9.536280,26.678156,9.815711,9.815711,4.189774,52.372170,9.675995,9.536280
0,TAEE4,11.900000,11.120000,12.920000,9.815711,9.536280,26.678156,9.815711,9.815711,4.189774,52.372170,9.675995,9.536280
0,CPLE6,9.750000,6.548160,10.550000,2.157763,8.501200,12.627941,13.106778,12.627941,3.530220,44.127756,5.329481,2.157763
0,CPLE3,8.810000,5.830000,9.580000,2.157763,8.501200,11.722119,12.301603,11.722119,3.209287,40.116085,5.329481,2.157763
0,CSMG3,20.040001,14.830000,22.889999,12.420221,18.314996,11.509814,11.940471,11.509814,3.230581,40.382262,15.367609,11.509814
0,SAPR11,25.440001,16.860001,29.719999,21.335989,27.909544,37.768575,36.583387,36.583387,3.593234,44.915427,24.622767,21.335989
0,SAPR3,4.950000,3.230000,5.630000,4.267198,5.581909,7.176571,6.981439,6.981439,0.665414,8.317672,4.924553,4.267198
0,SAPR4,5.100000,3.370000,5.990000,4.267198,5.581909,7.648001,7.400487,7.400487,0.731955,9.149439,4.924553,4.267198
0,SBSP3,76.010002,43.779999,83.699997,25.572557,0.000000,11.695827,10.605375,10.605375,0.905767,11.322083,12.786279,0.000000
0,BRSR3,14.300000,10.350000,15.430000,14.415799,24.442409,21.300861,23.172619,21.300861,2.492174,31.152176,19.429104,14.415799
0,BRSR5,18.400000,15.000000,19.990000,14.415799,24.442409,23.951137,23.945451,23.945451,2.765757,34.571966,19.429104,14.415799
0,BRSR6,15.090000,9.350000,15.730000,14.415799,24.442409,21.300861,23.172619,21.300861,2.492174,31.152176,19.429104,14.415799
0,ITSA3,10.720000,7.519517,10.940000,13.704294,11.115496,13.390251,13.704294,13.390251,1.102169,13.777112,12.409895,11.115496
0,ITSA4,10.650000,7.255030,10.940000,13.704294,11.115496,13.390251,13.704294,13.390251,1.102169,13.777112,12.409895,11.115496
0,SANB11,28.660000,25.270000,32.480000,38.246091,44.280743,55.530264,44.280743,44.280743,7.882801,98.535014,41.263417,38.246091
0,SANB3,13.450000,11.760000,15.400000,19.123045,22.140372,27.097958,22.140372,22.140372,3.753715,46.921435,20.631709,19.123045
0,SANB4,15.230000,13.520000,17.030001,19.123045,22.140372,28.432306,22.140372,22.140372,4.129086,51.613579,20.631709,19.123045
0,BBAS3,56.029999,36.700001,59.910000,73.290642,59.919250,54.120463,53.349277,53.349277,2.637989,45.020405,66.604946,45.020405
0,BBDC4,14.200000,12.390000,17.740000,20.162025,22.553319,16.536027,16.491731,16.491731,1.438471,17.980891,21.357672,16.491731
0,BBDC3,12.680000,11.150000,15.770000,20.162025,22.553319,16.174413,16.250655,16.174413,1.307701,16.346264,21.357672,16.174413
0,ITUB3,29.719999,19.530001,31.020000,30.846167,27.096780,27.798816,27.096780,27.096780,2.154032,26.925400,28.971474,26.925400
0,ITUB4,34.680000,22.740000,35.950001,30.846167,27.096780,27.798816,27.096780,27.096780,2.154032,26.925400,28.971474,26.925400
0,BBSE3,33.259998,29.209999,36.090000,26.024943,4.219283,18.005925,20.889737,18.005925,2.367161,29.589517,15.122113,4.219283
0,PSSA3,30.950001,22.139999,31.320000,21.480463,24.540608,18.981138,18.450879,18.450879,1.970654,24.633179,23.010536,18.450879
0,WIZC3,6.350000,4.940000,7.380000,15.991767,8.488169,10.609772,8.488169,8.488169,0.621877,7.773457,12.239968,7.773457
0,UGPA3,28.389999,12.670000,31.280001,11.547816,13.098355,10.258158,10.324201,10.258158,0.487623,8.505294,12.323086,8.505294
0,ENAT3,28.150000,10.270000,28.600000,10.096145,18.554015,16.668449,18.554015,16.668449,1.014989,14.074519,14.325080,10.096145
0,VIVT3,51.680000,37.200001,56.610001,24.554826,62.135117,41.176805,39.008639,39.008639,3.311361,41.407714,43.344971,24.554826
0,TIMS3,18.600000,12.110000,19.080000,6.901652,15.736937,9.682537,8.045779,8.045779,0.520348,8.497820,11.319295,6.901652

In [117]:
empresas

,empresa,setor,codigo_cvm,estatal,acoes_on,acoes_pn,acoes_total,equivalencia_unit,equivalencia_ticker,equivalencia_valor,cotacao,max_52_weeks,min_52_weeks
0,CMIG4,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,1.000000,11.580000,13.630000,10.320000
1,CMIG3,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,0.924145,13.230000,21.100000,13.100000
2,TAEE11,energia,20257,False,590714069,442782652,1033496721,3,TAEE11,1.000000,35.299999,38.619999,33.240002
3,TAEE3,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737,11.700000,12.970000,11.030000
4,TAEE4,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737,11.900000,12.920000,11.120000
5,CPLE6,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,1.000000,9.750000,10.550000,6.548160
6,CPLE3,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,0.908667,8.810000,9.580000,5.830000
7,CSMG3,saneamento,19445,True,380253069,0,380253069,1,CSMG3,1.000000,20.040001,22.889999,14.830000
8,SAPR11,saneamento,18627,True,503735259,1007470260,1511205519,5,SAPR11,1.000000,25.440001,29.719999,16.860001
9,SAPR3,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.290275,4.950000,5.630000,3.230000
10,SAPR4,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.319302,5.100000,5.990000,3.370000
11,SBSP3,saneamento,14443,True,683509869,0,683509869,1,SBSP3,1.000000,76.010002,83.699997,43.779999
12,BRSR3,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.000000,14.300000,15.430000,10.350000
13,BRSR5,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.052999,18.400000,19.990000,15.000000
14,BRSR6,banco,1210,True,205064841,203909636,408974477,1,BRSR3,0.996294,15.090000,15.730000,9.350000
15,ITSA3,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000,10.720000,10.940000,7.519517
16,ITSA4,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000,10.650000,10.940000,7.255030
17,SANB11,banco,20532,False,3818695031,3679836020,7498531051,2,SANB11,1.000000,28.660000,32.480000,25.270000
18,SANB3,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.595617,13.450000,15.400000,11.760000
19,SANB4,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.655168,15.230000,17.030001,13.520000
20,BBAS3,banco,1023,True,2865417020,0,2865417020,1,BBAS3,1.000000,56.029999,59.910000,36.700001
21,BBDC4,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,1.000000,14.200000,17.740000,12.390000
22,BBDC3,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,0.909082,12.680000,15.770000,11.150000
23,ITUB3,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000,29.719999,31.020000,19.530001
24,ITUB4,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000,34.680000,35.950001,22.740000
25,BBSE3,seguro,23159,True,2000000000,0,2000000000,1,BBSE3,1.000000,33.259998,36.090000,29.209999
26,PSSA3,seguro,16659,False,646586060,0,646586060,1,PSSA3,1.000000,30.950001,31.320000,22.139999
27,WIZC3,seguro,23590,False,159907282,0,159907282,1,WIZC3,1.000000,6.350000,7.380000,4.940000
28,UGPA3,combustivel,18465,False,1115404268,0,1115404268,1,UGPA3,1.000000,28.389999,31.280001,12.670000
29,ENAT3,combustivel,22365,False,265806905,0,265806905,1,ENAT3,1.000000,28.150000,28.600000,10.270000
30,VIVT3,telecom,17671,False,1652588360,0,1652588360,1,VIVT3,1.000000,51.680000,56.610001,37.200001
31,TIMS3,telecom,24929,False,2420804398,0,2420804398,1,TIMS3,1.000000,18.600000,19.080000,12.110000

In [121]:
colunas = ['preco_medio_mediano', 'preco_3_8', 'preco_indicadores']

df_list_preco_score = []

for i in range(len(preco_teto)):
    ticker = preco_teto.iloc[i]['ticker']
    preco_atual = preco_teto.iloc[i]['preco']
    min_52_sem = preco_teto.iloc[i]['min_52_sem']
    max_52_sem = preco_teto.iloc[i]['max_52_sem']
    amplitude_52_sem = max_52_sem - min_52_sem

    setor_empresa = empresas[empresas['empresa']==ticker]['setor'].values[0]

    score_total = 0
    preco_teto_final = 0

    for coluna in colunas:
        dado_em_analise = preco_teto.iloc[i][coluna]

        distancia_dado_preco = preco_atual - dado_em_analise
        percentil_dado_preco_amplitude = distancia_dado_preco/amplitude_52_sem

        distancia_dado_minima = min_52_sem - dado_em_analise
        percentil_dado_minima_amplitude = distancia_dado_minima/amplitude_52_sem

        distancia_maxima_dado = max_52_sem - dado_em_analise
        percentil_distancia_maxima_amplitude = distancia_maxima_dado/amplitude_52_sem

        score = (percentil_dado_preco_amplitude + percentil_dado_minima_amplitude + percentil_distancia_maxima_amplitude)/3

        if score > 1:
            score = 1
        elif score < -1:
            score = -1
            
        score = round(score,2)

        score_total += score

        if dado_em_analise > preco_atual*1.5:
            dado_em_analise = preco_atual*1.5

        preco_teto_final += dado_em_analise
        
    score_total /= len(colunas)
    preco_teto_final /= len(colunas)
    if preco_teto_final > max_52_sem:
        preco_teto_final_ajustado = min_52_sem + (amplitude_52_sem/2)

    else:
        preco_teto_final_ajustado = preco_teto_final

    score_total = round(score_total, 2)
    preco_teto_final = round(preco_teto_final, 2)
    preco_atual = round(preco_atual, 2)
    min_52_sem = round(min_52_sem, 2)
    max_52_sem = round(max_52_sem, 2)
    amplitude_52_sem = round(amplitude_52_sem, 2)
    preco_teto_final_ajustado = round(preco_teto_final_ajustado, 2)
    
    dicionario = {
        'ticker': ticker,
        'setor': setor_empresa,
        'preco_atual': preco_atual,
        'min_52_sem': min_52_sem,
        'max_52_sem': max_52_sem,
        'amplitude_52_sem': amplitude_52_sem,
        'score': score_total,
        'preco_teto': preco_teto_final,
        'preco_teto_ajustado': preco_teto_final_ajustado,
        'distancia_precos': preco_atual - preco_teto_final_ajustado
    }

    df_score = pd.DataFrame(dicionario, index=[0])
    df_list_preco_score.append(df_score)

In [123]:
score_empresas = pd.concat(df_list_preco_score)
score_empresas = score_empresas.sort_values('score')
score_empresas

,ticker,setor,preco_atual,min_52_sem,max_52_sem,amplitude_52_sem,score,preco_teto,preco_teto_ajustado,distancia_precos
0,SANB4,banco,15.23,13.52,17.03,3.51,-1.00,21.87,15.28,-0.05
0,SANB3,banco,13.45,11.76,15.40,3.64,-1.00,20.17,13.58,-0.13
0,SANB11,banco,28.66,25.27,32.48,7.21,-1.00,42.41,28.88,-0.22
0,BRSR3,banco,14.30,10.35,15.43,5.08,-1.00,20.73,12.89,1.41
0,BRSR6,banco,15.09,9.35,15.73,6.38,-0.98,21.12,12.54,2.55
0,ITSA3,banco,10.72,7.52,10.94,3.42,-0.93,13.19,9.23,1.49
0,ITSA4,banco,10.65,7.26,10.94,3.68,-0.92,13.19,9.10,1.55
0,WIZC3,seguro,6.35,4.94,7.38,2.44,-0.86,8.60,6.16,0.19
0,BRSR5,banco,18.40,15.00,19.99,4.99,-0.78,23.66,17.49,0.91
0,BBDC3,banco,12.68,11.15,15.77,4.62,-0.77,17.18,13.46,-0.78
0,SAPR3,saneamento,4.95,3.23,5.63,2.40,-0.71,6.44,4.43,0.52
0,SAPR11,saneamento,25.44,16.86,29.72,12.86,-0.68,33.12,23.29,2.15
0,SAPR4,saneamento,5.10,3.37,5.99,2.62,-0.67,6.66,4.68,0.42
0,BBDC4,banco,14.20,12.39,17.74,5.35,-0.64,18.59,15.07,-0.87
0,CMIG4,energia,11.58,10.32,13.63,3.31,-0.60,15.29,11.97,-0.39
0,CPLE3,energia,8.81,5.83,9.58,3.75,-0.41,10.09,7.70,1.11
0,CMIG3,energia,13.23,13.10,21.10,8.00,-0.37,16.94,16.94,-3.71
0,CPLE6,energia,9.75,6.55,10.55,4.00,-0.34,10.86,8.55,1.20
0,BBAS3,banco,56.03,36.70,59.91,23.21,-0.18,54.99,54.99,1.04
0,ITUB3,banco,29.72,19.53,31.02,11.49,-0.08,27.66,27.66,2.06
0,CSMG3,saneamento,20.04,14.83,22.89,8.06,0.15,18.98,18.98,1.06
0,ITUB4,banco,34.68,22.74,35.95,13.21,0.26,27.66,27.66,7.02
0,TAEE4,energia,11.90,11.12,12.92,1.80,0.33,12.45,12.45,-0.55
0,TAEE3,energia,11.70,11.03,12.97,1.94,0.33,12.35,12.35,-0.65
0,TAEE11,energia,35.30,33.24,38.62,5.38,0.33,37.14,37.14,-1.84
0,VIVT3,telecom,51.68,37.20,56.61,19.41,0.38,41.25,41.25,10.43
0,ENAT3,combustivel,28.15,10.27,28.60,18.33,0.40,15.02,15.02,13.13
0,PSSA3,seguro,30.95,22.14,31.32,9.18,0.65,22.03,22.03,8.92
0,UGPA3,combustivel,28.39,12.67,31.28,18.61,0.74,10.36,10.36,18.03
0,BBSE3,seguro,33.26,29.21,36.09,6.88,0.82,20.91,20.91,12.35
0,TIMS3,telecom,18.60,12.11,19.08,6.97,0.92,9.29,9.29,9.31
0,SBSP3,saneamento,76.01,43.78,83.70,39.92,1.00,11.57,11.57,64.44

In [125]:
score_empresas[score_empresas['distancia_precos']<=0].sort_values(by='distancia_precos')

,ticker,setor,preco_atual,min_52_sem,max_52_sem,amplitude_52_sem,score,preco_teto,preco_teto_ajustado,distancia_precos
0,CMIG3,energia,13.23,13.10,21.10,8.00,-0.37,16.94,16.94,-3.71
0,TAEE11,energia,35.30,33.24,38.62,5.38,0.33,37.14,37.14,-1.84
0,BBDC4,banco,14.20,12.39,17.74,5.35,-0.64,18.59,15.07,-0.87
0,BBDC3,banco,12.68,11.15,15.77,4.62,-0.77,17.18,13.46,-0.78
0,TAEE3,energia,11.70,11.03,12.97,1.94,0.33,12.35,12.35,-0.65
0,TAEE4,energia,11.90,11.12,12.92,1.80,0.33,12.45,12.45,-0.55
0,CMIG4,energia,11.58,10.32,13.63,3.31,-0.60,15.29,11.97,-0.39
0,SANB11,banco,28.66,25.27,32.48,7.21,-1.00,42.41,28.88,-0.22
0,SANB3,banco,13.45,11.76,15.40,3.64,-1.00,20.17,13.58,-0.13
0,SANB4,banco,15.23,13.52,17.03,3.51,-1.00,21.87,15.28,-0.05

In [120]:
# Acrescentar indicadores qualitativos para calculo do score (ROE e razao dÃ­vida)
# Por Ãºltimo, criar outro cÃ³digo para vizualizaÃ§Ã£o dos preÃ§os e indicadores