In [235]:
import pandas as pd
from datetime import datetime, timedelta
import time
import numpy as np
import yfinance as yf

In [179]:
empresas = pd.read_csv('empresas.csv')
infos = pd.read_csv('infos_empresas.csv')
cotacoes = pd.read_csv('cotacoes.csv')
dividendos = pd.read_csv('dividendos.csv')

empresas = empresas.drop(empresas.columns[0], axis=1)
infos = infos.drop(infos.columns[0], axis=1)
cotacoes = cotacoes.drop(cotacoes.columns[0], axis=1)
dividendos = dividendos.drop(dividendos.columns[0], axis=1)

In [180]:
infos['value'] = infos.groupby(['cvm_code', 'data'])['value'].fillna(method='bfill')

C:\Users\eduar\AppData\Local\Temp\ipykernel_19396\3737537357.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  infos['value'] = infos.groupby(['cvm_code', 'data'])['value'].fillna(method='bfill')

In [181]:
infos['value'] = infos.groupby(['cvm_code', 'data'])['value'].fillna(method='ffill')

C:\Users\eduar\AppData\Local\Temp\ipykernel_19396\1645137256.py:1: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  infos['value'] = infos.groupby(['cvm_code', 'data'])['value'].fillna(method='ffill')

In [182]:
anos = np.arange(2015,2023)
anos

array([2015, 2016, 2017, 2018, 2019, 2020, 2021, 2022])

In [183]:
empresas

,empresa,setor,codigo_cvm,estatal,acoes_on,acoes_pn,acoes_total,equivalencia_unit
0,CMIG4,energia,2453,True,735847624,1465523064,2201370688,1
1,CMIG3,energia,2453,True,735847624,1465523064,2201370688,1
2,TAEE11,energia,20257,False,590714069,442782652,1033496721,3
3,TAEE3,energia,20257,False,590714069,442782652,1033496721,1
4,TAEE4,energia,20257,False,590714069,442782652,1033496721,1
5,CPLE6,energia,14311,True,1300347300,1682463291,2982810591,1
6,CPLE3,energia,14311,True,1300347300,1682463291,2982810591,1
7,CSMG3,saneamento,19445,True,380253069,0,380253069,1
8,SAPR11,saneamento,18627,True,503735259,1007470260,1511205519,5
9,SAPR3,saneamento,18627,True,503735259,1007470260,1511205519,1
10,SAPR4,saneamento,18627,True,503735259,1007470260,1511205519,1
11,SBSP3,saneamento,14443,True,683509869,0,683509869,1
12,BRSR3,banco,1210,True,205064841,203909636,408974477,1
13,BRSR5,banco,1210,True,205064841,203909636,408974477,1
14,BRSR6,banco,1210,True,205064841,203909636,408974477,1
15,ITSA3,banco,7617,False,3549302243,6778847188,10328149431,1
16,ITSA4,banco,7617,False,3549302243,6778847188,10328149431,1
17,SANB11,banco,20532,False,3818695031,3679836020,7498531051,2
18,SANB3,banco,20532,False,3818695031,3679836020,7498531051,1
19,SANB4,banco,20532,False,3818695031,3679836020,7498531051,1
20,BBAS3,banco,1023,True,2865417020,0,2865417020,1
21,BBDC4,banco,906,False,5330304681,5311865547,10642170228,1
22,BBDC3,banco,906,False,5330304681,5311865547,10642170228,1
23,ITUB3,banco,19348,False,4958290359,4845844989,9804135348,1
24,ITUB4,banco,19348,False,4958290359,4845844989,9804135348,1
25,BBSE3,seguro,23159,True,2000000000,0,2000000000,1
26,PSSA3,seguro,16659,False,646586060,0,646586060,1
27,WIZC3,seguro,23590,False,159907282,0,159907282,1
28,UGPA3,combustivel,18465,False,1115404268,0,1115404268,1
29,ENAT3,combustivel,22365,False,265806905,0,265806905,1
30,VIVT3,telecom,17671,False,1652588360,0,1652588360,1
31,TIMS3,telecom,24929,False,2420804398,0,2420804398,1

In [184]:
df_list = []
for i in range(len(empresas)):
    ticker = empresas.iloc[i]['empresa']
    cod_cvm = empresas.iloc[i]['codigo_cvm']
    n_de_acoes = empresas.iloc[i]['acoes_total']
    setor = empresas.iloc[i]['setor']
    estatal = empresas.iloc[i]['estatal']
    
    for ano in anos:
        dados_empresa = infos[infos['cvm_code']==cod_cvm]
        dados_empresa_ano = dados_empresa[dados_empresa['year']==ano]

        try:
            lucro_liquido = dados_empresa_ano[dados_empresa_ano['data']=='net_income']['value'].values[0]
        except:
            lucro_liquido = 1
        try:
            patrimonio_liquido = dados_empresa_ano[dados_empresa_ano['data']=='equity']['value'].values[0]
        except:
            patrimonio_liquido = 1
        try:
            divida_liquida = dados_empresa_ano[dados_empresa_ano['data']=='net_debt']['value'].values[0]
        except:
            divida_liquida = 1

        roe = lucro_liquido/patrimonio_liquido
        debt_over_income = divida_liquida/lucro_liquido
        vpa = patrimonio_liquido/n_de_acoes
        lpa = lucro_liquido/n_de_acoes

        dicionario = {
            'ticker' : ticker,
            'cvm_code' : cod_cvm,
            'setor' : setor,
            'estatal' : estatal,
            'year' : ano,
            'roe' : roe,
            'debt_ratio' : debt_over_income,
            'vpa' : vpa,
            'lpa' : lpa
        }

        df = pd.DataFrame(dicionario, index=[0])
        df_list.append(df)

C:\Users\eduar\AppData\Local\Temp\ipykernel_19396\2447898130.py:26: RuntimeWarning: divide by zero encountered in scalar divide
  roe = lucro_liquido/patrimonio_liquido
C:\Users\eduar\AppData\Local\Temp\ipykernel_19396\2447898130.py:26: RuntimeWarning: invalid value encountered in scalar divide
  roe = lucro_liquido/patrimonio_liquido
C:\Users\eduar\AppData\Local\Temp\ipykernel_19396\2447898130.py:27: RuntimeWarning: divide by zero encountered in scalar divide
  debt_over_income = divida_liquida/lucro_liquido

In [185]:
indicadores = pd.concat(df_list)
indicadores

,ticker,cvm_code,setor,estatal,year,roe,debt_ratio,vpa,lpa
0,CMIG4,2453,energia,True,2015,0.190104,4.785397,5.899813,1.121575
0,CMIG4,2453,energia,True,2016,0.025881,39.342204,5.875599,0.152066
0,CMIG4,2453,energia,True,2017,0.069894,12.289442,6.509642,0.454987
0,CMIG4,2453,energia,True,2018,0.109271,7.565812,7.240637,0.791195
0,CMIG4,2453,energia,True,2019,0.198376,4.226188,7.314763,1.451075
...,...,...,...,...,...,...,...,...,...
0,TIMS3,24929,telecom,False,2018,0.079137,-1.500065,8.005929,0.633563
0,TIMS3,24929,telecom,False,2019,NaN,-inf,0.000000,0.000000
0,TIMS3,24929,telecom,False,2020,0.079529,-1.247876,9.576464,0.761602
0,TIMS3,24929,telecom,False,2021,NaN,inf,0.000000,0.000000
0,TIMS3,24929,telecom,False,2022,0.065785,0.137948,10.491292,0.690165

In [186]:
dividendos_list = []
for i in range(len(indicadores)):
    ticker = indicadores.iloc[i]['ticker']
    ano = indicadores.iloc[i]['year']

    dividendos_ticker_ano = dividendos[dividendos['ticker']==ticker][dividendos[dividendos['ticker']==ticker]['year']==ano]
    dividendo_ano_valor = dividendos_ticker_ano['value'].sum()

    dividendos_list.append(dividendo_ano_valor)

In [187]:
indicadores['dividendo'] = dividendos_list

In [188]:
indicadores

,ticker,cvm_code,setor,estatal,year,roe,debt_ratio,vpa,lpa,dividendo
0,CMIG4,2453,energia,True,2015,0.190104,4.785397,5.899813,1.121575,1.219627
0,CMIG4,2453,energia,True,2016,0.025881,39.342204,5.875599,0.152066,1.293778
0,CMIG4,2453,energia,True,2017,0.069894,12.289442,6.509642,0.454987,0.487119
0,CMIG4,2453,energia,True,2018,0.109271,7.565812,7.240637,0.791195,1.288606
0,CMIG4,2453,energia,True,2019,0.198376,4.226188,7.314763,1.451075,1.450221
...,...,...,...,...,...,...,...,...,...,...
0,TIMS3,24929,telecom,False,2018,0.079137,-1.500065,8.005929,0.633563,0.236894
0,TIMS3,24929,telecom,False,2019,NaN,-inf,0.000000,0.000000,0.465888
0,TIMS3,24929,telecom,False,2020,0.079529,-1.247876,9.576464,0.761602,0.549765
0,TIMS3,24929,telecom,False,2021,NaN,inf,0.000000,0.000000,0.432831
0,TIMS3,24929,telecom,False,2022,0.065785,0.137948,10.491292,0.690165,0.578449

In [190]:
equivalencia_empresas_ticker_list = []
equivalencia_empresas_valor_list = []
for cvm_code in empresas['codigo_cvm'].unique():
    ticker_list = empresas[empresas['codigo_cvm']==cvm_code]['empresa'].values
    ticker_principal = ticker_list[0]
    
    if len(ticker_list)==1:
        equivalencia_empresas_ticker_list.append(ticker_principal)
        equivalencia_empresas_valor_list.append(1)
    else:
        for ticker in ticker_list:
            dividendos_ticker = indicadores[indicadores['ticker']==ticker]['dividendo'].mean()
            dividendos_ticker_principal = indicadores[indicadores['ticker']==ticker_principal]['dividendo'].mean()
            multiplicador = dividendos_ticker/dividendos_ticker_principal

            equivalencia_empresas_ticker_list.append(ticker_principal)
            equivalencia_empresas_valor_list.append(multiplicador)

In [191]:
empresas['equivalencia_ticker'] = equivalencia_empresas_ticker_list
empresas['equivalencia_valor'] = equivalencia_empresas_valor_list

In [192]:
empresas

,empresa,setor,codigo_cvm,estatal,acoes_on,acoes_pn,acoes_total,equivalencia_unit,equivalencia_ticker,equivalencia_valor
0,CMIG4,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,1.000000
1,CMIG3,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,0.924145
2,TAEE11,energia,20257,False,590714069,442782652,1033496721,3,TAEE11,1.000000
3,TAEE3,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737
4,TAEE4,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737
5,CPLE6,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,1.000000
6,CPLE3,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,0.908667
7,CSMG3,saneamento,19445,True,380253069,0,380253069,1,CSMG3,1.000000
8,SAPR11,saneamento,18627,True,503735259,1007470260,1511205519,5,SAPR11,1.000000
9,SAPR3,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.290275
10,SAPR4,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.319302
11,SBSP3,saneamento,14443,True,683509869,0,683509869,1,SBSP3,1.000000
12,BRSR3,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.000000
13,BRSR5,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.052999
14,BRSR6,banco,1210,True,205064841,203909636,408974477,1,BRSR3,0.996294
15,ITSA3,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000
16,ITSA4,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000
17,SANB11,banco,20532,False,3818695031,3679836020,7498531051,2,SANB11,1.000000
18,SANB3,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.595617
19,SANB4,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.655168
20,BBAS3,banco,1023,True,2865417020,0,2865417020,1,BBAS3,1.000000
21,BBDC4,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,1.000000
22,BBDC3,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,0.909082
23,ITUB3,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000
24,ITUB4,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000
25,BBSE3,seguro,23159,True,2000000000,0,2000000000,1,BBSE3,1.000000
26,PSSA3,seguro,16659,False,646586060,0,646586060,1,PSSA3,1.000000
27,WIZC3,seguro,23590,False,159907282,0,159907282,1,WIZC3,1.000000
28,UGPA3,combustivel,18465,False,1115404268,0,1115404268,1,UGPA3,1.000000
29,ENAT3,combustivel,22365,False,265806905,0,265806905,1,ENAT3,1.000000
30,VIVT3,telecom,17671,False,1652588360,0,1652588360,1,VIVT3,1.000000
31,TIMS3,telecom,24929,False,2420804398,0,2420804398,1,TIMS3,1.000000

In [193]:
multiplos = {
    'energia': {'vpa':1.2,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.7},
    'saneamento' : {'vpa':1.2,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.7},
    'banco' : {'vpa':1.4,
                'roe': 0.15,
                'pl': 10,
                'dy': 8,
                'estatal_mult': 0.6},
    'seguro' : {'vpa':1.2,
                'roe': 0.15,
                'pl': 12,
                'dy': 8,
                'estatal_mult': 0.7},
    'telecom' : {'vpa':1.0,
                'roe': 0.10,
                'pl': 10,
                'dy': 8,
                'estatal_mult': 0.7},
    'combustivel' : {'vpa':1.2,
                'roe': 0.15,
                'pl': 7,
                'dy': 8,
                'estatal_mult': 0.7}
}

In [ ]:
df_list_indicadores_val = []
for i in range(len(indicadores)):
    ticker = indicadores.iloc[i]['ticker']
    ano = indicadores.iloc[i]['year']

    cotacoes_empresa = cotacoes[cotacoes['ticker']==ticker]
    cotacoes_empresa_ano = cotacoes_empresa[cotacoes_empresa['year']==ano]

    try:
        pl_max = cotacoes_empresa_ano['max'].values[0]/indicadores.iloc[i]['lpa']
        pl_min = cotacoes_empresa_ano['min'].values[0]/indicadores.iloc[i]['lpa']
        pl_clo = cotacoes_empresa_ano['close'].values[0]/indicadores.iloc[i]['lpa']
    except:
        pl_max = 0
        pl_min = 0
        pl_clo = 0

    try:
        pvp_max = cotacoes_empresa_ano['max'].values[0]/indicadores.iloc[i]['vpa']
        pvp_min = cotacoes_empresa_ano['min'].values[0]/indicadores.iloc[i]['vpa']
        pvp_clo = cotacoes_empresa_ano['close'].values[0]/indicadores.iloc[i]['vpa']
    except:
        pvp_max = 0
        pvp_min = 0
        pvp_clo = 0

    try:
        dy_max = indicadores.iloc[i]['dividendo']/cotacoes_empresa_ano['max'].values[0]
        dy_min = indicadores.iloc[i]['dividendo']/cotacoes_empresa_ano['min'].values[0]
        dy_clo = indicadores.iloc[i]['dividendo']/cotacoes_empresa_ano['close'].values[0]
    except:
        dy_max = 0
        dy_min = 0
        dy_clo = 0

    dicionario = {
        'ticker': ticker,
        'year': ano,

        'pl':pl_clo,
        'pl_max': pl_max,
        'pl_min': pl_min,

        'pvp':pvp_clo,
        'pvp_max': pvp_max,
        'pvp_min': pvp_min,

        'dy':dy_clo,
        'dy_max': dy_max,
        'dy_min': dy_min
    }

    indicadores_values = pd.DataFrame(dicionario, index=[0])
    df_list_indicadores_val.append(indicadores_values)

In [ ]:
faixas_indicadores = pd.concat(df_list_indicadores_val)

In [230]:
faixas_indicadores

,ticker,year,pl,pl_max,pl_min,pvp,pvp_max,pvp_min,dy,dy_max,dy_min
0,CMIG4,2015,5.465527,14.336978,5.135634,1.039016,2.725510,0.976302,0.198960,0.075847,0.211741
0,CMIG4,2016,50.701614,65.563565,26.961948,1.312207,1.696848,0.697801,0.167805,0.129767,0.315556
0,CMIG4,2017,15.099318,26.462269,11.297015,1.055358,1.849564,0.789598,0.070905,0.040458,0.094770
0,CMIG4,2018,17.517810,17.530449,8.164867,1.914196,1.915577,0.892187,0.092973,0.092906,0.199475
0,CMIG4,2019,9.503302,10.847134,8.407562,1.885229,2.151813,1.667860,0.105165,0.092136,0.118871
...,...,...,...,...,...,...,...,...,...,...,...
0,TIMS3,2018,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0,TIMS3,2019,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0,TIMS3,2020,19.235763,19.879144,14.994704,1.529792,1.580959,1.192507,0.037527,0.036312,0.048141
0,TIMS3,2021,inf,inf,inf,inf,inf,inf,0.032915,0.029147,0.038819
0,TIMS3,2022,17.966712,21.197823,16.880016,1.181933,1.394490,1.110445,0.046649,0.039539,0.049652

In [240]:
cotacao_list = []
for ticker in empresas.empresa:
    ticker = ticker + '.SA'

    acao = yf.Ticker(ticker)

    try:
        cotação_atualizada = acao.history(period="1d")["Close"].iloc[-1]
    except:
        cotação_atualizada = 0

    cotacao_list.append(cotação_atualizada)

BRSR5.SA: No price data found, symbol may be delisted (period=1d)

In [241]:
empresas['cotacao'] = cotacao_list

In [242]:
empresas

,empresa,setor,codigo_cvm,estatal,acoes_on,acoes_pn,acoes_total,equivalencia_unit,equivalencia_ticker,equivalencia_valor,cotacao
0,CMIG4,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,1.000000,11.820000
1,CMIG3,energia,2453,True,735847624,1465523064,2201370688,1,CMIG4,0.924145,14.520000
2,TAEE11,energia,20257,False,590714069,442782652,1033496721,3,TAEE11,1.000000,35.439999
3,TAEE3,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737,11.690000
4,TAEE4,energia,20257,False,590714069,442782652,1033496721,1,TAEE11,0.337737,11.880000
5,CPLE6,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,1.000000,10.040000
6,CPLE3,energia,14311,True,1300347300,1682463291,2982810591,1,CPLE6,0.908667,9.040000
7,CSMG3,saneamento,19445,True,380253069,0,380253069,1,CSMG3,1.000000,20.190001
8,SAPR11,saneamento,18627,True,503735259,1007470260,1511205519,5,SAPR11,1.000000,25.469999
9,SAPR3,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.290275,4.990000
10,SAPR4,saneamento,18627,True,503735259,1007470260,1511205519,1,SAPR11,0.319302,5.080000
11,SBSP3,saneamento,14443,True,683509869,0,683509869,1,SBSP3,1.000000,77.110001
12,BRSR3,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.000000,14.720000
13,BRSR5,banco,1210,True,205064841,203909636,408974477,1,BRSR3,1.052999,0.000000
14,BRSR6,banco,1210,True,205064841,203909636,408974477,1,BRSR3,0.996294,15.080000
15,ITSA3,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000,10.750000
16,ITSA4,banco,7617,False,3549302243,6778847188,10328149431,1,ITSA3,1.000000,10.710000
17,SANB11,banco,20532,False,3818695031,3679836020,7498531051,2,SANB11,1.000000,28.680000
18,SANB3,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.595617,13.510000
19,SANB4,banco,20532,False,3818695031,3679836020,7498531051,1,SANB11,0.655168,15.180000
20,BBAS3,banco,1023,True,2865417020,0,2865417020,1,BBAS3,1.000000,57.160000
21,BBDC4,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,1.000000,14.300000
22,BBDC3,banco,906,False,5330304681,5311865547,10642170228,1,BBDC4,0.909082,12.630000
23,ITUB3,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000,29.889999
24,ITUB4,banco,19348,False,4958290359,4845844989,9804135348,1,ITUB3,1.000000,34.860001
25,BBSE3,seguro,23159,True,2000000000,0,2000000000,1,BBSE3,1.000000,32.930000
26,PSSA3,seguro,16659,False,646586060,0,646586060,1,PSSA3,1.000000,30.809999
27,WIZC3,seguro,23590,False,159907282,0,159907282,1,WIZC3,1.000000,6.550000
28,UGPA3,combustivel,18465,False,1115404268,0,1115404268,1,UGPA3,1.000000,28.639999
29,ENAT3,combustivel,22365,False,265806905,0,265806905,1,ENAT3,1.000000,26.870001
30,VIVT3,telecom,17671,False,1652588360,0,1652588360,1,VIVT3,1.000000,52.230000
31,TIMS3,telecom,24929,False,2420804398,0,2420804398,1,TIMS3,1.000000,18.570000

In [243]:
faixas_indicadores

,ticker,year,pl,pl_max,pl_min,pvp,pvp_max,pvp_min,dy,dy_max,dy_min
0,CMIG4,2015,5.465527,14.336978,5.135634,1.039016,2.725510,0.976302,0.198960,0.075847,0.211741
0,CMIG4,2016,50.701614,65.563565,26.961948,1.312207,1.696848,0.697801,0.167805,0.129767,0.315556
0,CMIG4,2017,15.099318,26.462269,11.297015,1.055358,1.849564,0.789598,0.070905,0.040458,0.094770
0,CMIG4,2018,17.517810,17.530449,8.164867,1.914196,1.915577,0.892187,0.092973,0.092906,0.199475
0,CMIG4,2019,9.503302,10.847134,8.407562,1.885229,2.151813,1.667860,0.105165,0.092136,0.118871
...,...,...,...,...,...,...,...,...,...,...,...
0,TIMS3,2018,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0,TIMS3,2019,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
0,TIMS3,2020,19.235763,19.879144,14.994704,1.529792,1.580959,1.192507,0.037527,0.036312,0.048141
0,TIMS3,2021,inf,inf,inf,inf,inf,inf,0.032915,0.029147,0.038819
0,TIMS3,2022,17.966712,21.197823,16.880016,1.181933,1.394490,1.110445,0.046649,0.039539,0.049652

In [249]:
df_list_precos = []
for i in range(len(empresas)):
    ticker = empresas.iloc[i]['empresa']
    estatal = empresas.iloc[i]['estatal']
    equivalencia_unit = empresas.iloc[i]['equivalencia_unit']
    cotacao = empresas.iloc[i]['cotacao']

    dividendos_por_acao_total = indicadores[indicadores['ticker']==ticker]['dividendo'].mean()
    dividendos_por_acao_3_dados = indicadores[indicadores['ticker']==ticker]['dividendo'].iloc[-3:].mean()
    dividendos_por_acao_5_dados = indicadores[indicadores['ticker']==ticker]['dividendo'].iloc[-5:].mean()

    roe = indicadores[indicadores['ticker']==ticker]['roe'].iloc[-1]

    ultimo_lpa = indicadores[indicadores['ticker']==ticker]['lpa'].iloc[-1]
    media_lpa = indicadores[indicadores['ticker']==ticker]['lpa'].mean()
    media_ultimos_3_lpa = indicadores[indicadores['ticker']==ticker]['lpa'].iloc[-3:].mean()

    media_pl_min = faixas_indicadores[faixas_indicadores['ticker']==ticker]['pl_min'].iloc[-3:].mean()

    ultimo_vpa = indicadores[indicadores['ticker']==ticker]['vpa'].iloc[-1]
    media_vpa = indicadores[indicadores['ticker']==ticker]['vpa'].mean()
    media_ultimos_3_vpa = indicadores[indicadores['ticker']==ticker]['vpa'].iloc[-3:].mean()

    media_pvp_min = faixas_indicadores[faixas_indicadores['ticker']==ticker]['pvp_min'].iloc[-3:].mean()

    indice_pvp = multiplos[setor]['vpa']
    if estatal:
        indice_pvp = indice_pvp * multiplos[setor]['estatal_mult']

    indice_pl = multiplos[setor]['pl']
    if estatal:
        indice_pl = indice_pl * multiplos[setor]['estatal_mult']

    indice_div = multiplos[setor]['dy']
    indice_div = indice_div/100

    preco_teto_3_8 = dividendos_por_acao_3_dados/indice_div
    if media_ultimos_3_vpa > preco_teto_3_8:
        preco_teto_3_8_ajustato = (media_ultimos_3_vpa - preco_teto_3_8)/2 + preco_teto_3_8
    else:
        preco_teto_3_8_ajustato = preco_teto_3_8

    preco_teto_vpa = media_ultimos_3_vpa * indice_pvp * equivalencia_unit
    if cotacao > preco_teto_vpa*1.5 or preco_teto_vpa > cotacao * 0.5:
        preco_teto_vpa_ajustado = media_pvp_min * cotacao
    else:
        preco_teto_vpa_ajustado = preco_teto_vpa

    preco_teto_lpa = media_ultimos_3_lpa * indice_pl * equivalencia_unit
    if cotacao > preco_teto_lpa*1.5 or preco_teto_lpa > cotacao * 0.5:
        preco_teto_lpa_ajustado = media_pl_min * cotacao
    else:
        preco_teto_lpa_ajustado = preco_teto_lpa


    dicionario={
        'ticker': ticker,
        'estatal': estatal,
        'equivalencia_unit': equivalencia_unit,
        'div_pa': dividendos_por_acao_total,
        'div3_pa': dividendos_por_acao_3_dados,
        'lpa': ultimo_lpa,
        'l3pa': media_ultimos_3_lpa,
        'vpa': ultimo_vpa,
        'v3pa': media_ultimos_3_vpa,
        'indice_pl': indice_pl,
        'indice_pvp': indice_pvp,
        'indice_div': indice_div,
        'preco_3_8': preco_teto_3_8,
        'preco_3_8_ajustado': preco_teto_3_8_ajustato,
        'preco_teto_vpa': preco_teto_vpa,
        'preco_teto_vpa_ajustado': preco_teto_vpa_ajustado,
        'preco_teto_lpa': preco_teto_lpa,
        'preco_teto_lpa_ajustado': preco_teto_lpa_ajustado,
    }

    df=pd.DataFrame(dicionario,index=[0])
    
    df_list_precos.append(df)

In [250]:
preco_teto = pd.concat(df_list_precos)

In [251]:
preco_teto

,ticker,estatal,equivalencia_unit,div_pa,div3_pa,lpa,l3pa,vpa,v3pa,indice_pl,indice_pvp,indice_div,preco_3_8,preco_3_8_ajustado,preco_teto_vpa,preco_teto_vpa_ajustado,preco_teto_lpa,preco_teto_lpa_ajustado
0,CMIG4,True,1,1.548077,2.215089,1.859917,1.622074,9.895319,8.891790,7.0,0.7,0.08,27.688617,27.688617,6.224253,12.642040,11.354516,69.512530
0,CMIG3,True,1,1.430648,2.215089,1.859917,1.622074,9.895319,8.891790,7.0,0.7,0.08,27.688617,27.688617,6.224253,17.948828,11.354516,98.071565
0,TAEE11,False,3,8.851015,12.569321,1.402244,1.911264,6.357520,6.218738,10.0,1.0,0.08,157.116509,157.116509,18.656214,163.498491,57.337927,567.832016
0,TAEE3,False,1,2.989313,4.189774,1.402244,1.911264,6.357520,6.218738,10.0,1.0,0.08,52.372170,52.372170,6.218738,17.954259,19.112642,62.322261
0,TAEE4,False,1,2.989313,4.189774,1.402244,1.911264,6.357520,6.218738,10.0,1.0,0.08,52.372170,52.372170,6.218738,18.327505,19.112642,63.682419
0,CPLE6,True,1,3.612192,3.530220,0.385315,1.129547,7.084334,7.102583,7.0,0.7,0.08,44.127756,44.127756,4.971808,26.230684,7.906828,171.388372
0,CPLE3,True,1,3.282280,3.209287,0.385315,1.129547,7.084334,7.102583,7.0,0.7,0.08,40.116085,40.116085,4.971808,24.325699,7.906828,155.564927
0,CSMG3,True,1,2.287250,3.230581,2.217897,1.926284,19.078121,17.945140,7.0,0.7,0.08,40.382262,40.382262,12.561598,14.445356,13.483987,138.783478
0,SAPR11,True,5,4.815997,3.593234,0.762000,0.733523,5.814488,5.195938,7.0,0.7,0.08,44.915427,44.915427,18.185784,91.156606,25.673305,641.388976
0,SAPR3,True,1,1.397963,0.665414,0.762000,0.733523,5.814488,5.195938,7.0,0.7,0.08,8.317672,8.317672,3.637157,3.501911,5.134661,24.620124
0,SAPR4,True,1,1.537760,0.731955,0.762000,0.733523,5.814488,5.195938,7.0,0.7,0.08,9.149439,9.149439,3.637157,3.694770,5.134661,25.999992
0,SBSP3,True,1,0.837416,0.905767,4.566528,3.121366,0.000000,23.274750,7.0,0.7,0.08,11.322083,17.298416,16.292325,inf,21.849564,942.956689
0,BRSR3,True,1,2.896697,2.492174,2.059400,2.075575,23.278484,21.891728,7.0,0.7,0.08,31.152176,31.152176,15.324210,7.669910,14.529022,85.609381
0,BRSR5,True,1,3.050220,2.765757,2.059400,2.075575,23.278484,21.891728,7.0,0.7,0.08,34.571966,34.571966,15.324210,0.000000,14.529022,0.000000
0,BRSR6,True,1,2.885960,2.492174,2.059400,2.075575,23.278484,21.891728,7.0,0.7,0.08,31.152176,31.152176,15.324210,6.619992,14.529022,74.043638
0,ITSA3,False,1,1.302996,1.102169,1.370429,1.122789,7.410330,6.670314,10.0,1.0,0.08,13.777112,13.777112,6.670314,14.533986,11.227891,93.703676
0,ITSA4,False,1,1.302996,1.102169,1.370429,1.122789,7.410330,6.670314,10.0,1.0,0.08,13.777112,13.777112,6.670314,12.938127,11.227891,82.015655
0,SANB11,False,2,4.551633,7.882801,1.912305,1.927024,14.760248,14.347012,10.0,1.0,0.08,98.535014,98.535014,28.694024,51.491839,38.540483,381.616973
0,SANB3,False,1,2.711028,3.753715,1.912305,1.927024,14.760248,14.347012,10.0,1.0,0.08,46.921435,46.921435,14.347012,11.470484,19.270241,85.050845
0,SANB4,False,1,2.982082,4.129086,1.912305,1.927024,14.760248,14.347012,10.0,1.0,0.08,51.613579,51.613579,14.347012,14.440080,19.270241,106.962979
0,BBAS3,True,1,1.918965,2.637989,10.470092,7.330746,57.065953,50.893031,7.0,0.7,0.08,32.974857,41.933944,35.625121,28.867216,51.315222,216.100693
0,BBDC4,False,1,2.044055,1.438471,2.016202,1.906614,15.035546,14.293980,10.0,1.0,0.08,17.980891,17.980891,14.293980,16.249221,19.066141,123.835615
0,BBDC3,False,1,1.858213,1.307701,2.016202,1.906614,15.035546,14.293980,10.0,1.0,0.08,16.346264,16.346264,14.293980,12.763638,19.066141,97.864910
0,ITUB3,False,1,2.683027,2.154032,3.084617,2.505405,18.064520,16.867304,10.0,1.0,0.08,26.925400,26.925400,16.867304,33.934172,25.054054,252.183123
0,ITUB4,False,1,2.683027,2.154032,3.084617,2.505405,18.064520,16.867304,10.0,1.0,0.08,26.925400,26.925400,16.867304,42.794484,25.054054,314.626997
0,BBSE3,True,1,2.097873,2.367161,3.098208,2.330067,4.018365,3.617959,7.0,0.7,0.08,29.589517,29.589517,2.532571,182.766839,16.310470,295.031446
0,PSSA3,False,1,2.080578,1.970654,1.790039,2.263114,16.360405,14.922936,10.0,1.0,0.08,24.633179,24.633179,14.922936,54.415271,22.631135,342.242959
0,WIZC3,False,1,0.662988,0.621877,1.332647,1.289160,5.658779,4.191421,10.0,1.0,0.08,7.773457,7.773457,4.191421,0.000000,12.891596,0.000000
0,UGPA3,False,1,1.081609,0.487623,1.649688,1.091277,10.915296,9.728752,10.0,1.0,0.08,6.095292,7.912022,9.728752,33.099777,10.912767,327.625825
0,ENAT3,False,1,0.867268,1.014989,1.442306,2.447758,15.461679,13.833617,10.0,1.0,0.08,12.687359,13.260488,13.833617,18.385423,24.477581,207.136826
0,VIVT3,False,1,3.107326,3.311361,2.455483,3.037212,41.423411,41.958181,10.0,1.0,0.08,41.392017,41.675099,41.958181,49.023304,30.372125,694.393298
0,TIMS3,False,1,0.343650,0.520348,0.690165,0.483922,10.491292,6.689252,10.0,1.0,0.08,6.504349,6.596800,6.689252,inf,4.839225,inf